<template>
    <button
        :class="{ 'active': status }"
        @click="addFavorite()"
    >
        <slot />
    </button>
</template>

<script>
export default {
    name: 'GlobalFavoritesButton',
    props: {
        name: {
            type: String,
            required: true,
        },
        category: {
            type: String,
            required: true,
        },
        dates: {
            type: String,
            required: true,
        },
        url: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            favsList: [],
            fav: {},
        };
    },
    computed: {
        status() {
            let j;

            if (this.favsList) {
                if (this.favsList.some(x => x.name === this.fav.name)) {
                    j = true;
                }
            } else {
                j = false;
            }

            return j;
        },
    },
    mounted() {
        let favsList = JSON.parse(localStorage.getItem('favorites'));

        this.fav = {
            name: this.name,
            category: this.category,
            dates: this.dates,
            url: this.url,
            id: Math.floor(Math.random() * 10000),
        };

        if (favsList) {
            this.favsList = JSON.parse(localStorage.getItem('favorites'));
        }

        this.$root.$on('favChange', () => {
            favsList = JSON.parse(localStorage.getItem('favorites'));
            this.favsList = favsList;
        });
    },
    methods: {
        addFavorite() {
            const favsList = JSON.parse(localStorage.getItem('favorites'));
            const fav = this.fav;
            this.favsList = favsList;

            if (favsList) {
                if (!favsList.some(x => x.name === fav.name)) {
                    favsList.push(fav);
                    localStorage.setItem('favorites', JSON.stringify(favsList));
                }
            } else {
                localStorage.setItem('favorites', JSON.stringify([fav]));
            }

            this.$root.$emit('favChange');
            document.getElementById('header__favorites-btn').click();
        },
    },
};
</script>
