<template>
    <button
        @click="turnOnFavorites()"
    >
        <slot
            :favsList="favsList"
        />
    </button>
</template>

<script>
export default {
    name: 'GlobalFavoritesOn',
    data() {
        return {
            favsList: [],
        };
    },
    mounted() {
        const favsList = JSON.parse(localStorage.getItem('favorites'));

        if (favsList) {
            this.favsList = favsList;
        }

        this.$root.$on('favChange', () => {
            this.favsList = JSON.parse(localStorage.getItem('favorites'));
        });
    },
    methods: {
        turnOnFavorites() {
            document.getElementById('header__favorites-btn').click();
        },
    },
};
</script>
