<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <meta http-equiv="x-ua-compatible" content="IE=edge" />
        <title>stom-171-04w</title>
        {% for href in css %}
            <link rel="stylesheet" href="{{ href }}">
            <link type="text/css" rel="stylesheet" href="http://fast.fonts.net/t/1.css?apiType=css&amp;projectid=0c20a741-3f4c-46c8-a6fa-debbf6951b8a">
        {% endfor %}
    </head>
    <body>
        <div id="app">
            {% include 'components/the-header.twig' with header %}
            <main class="the-main">
                {% for component in components %}
                    {% include 'components/' ~ component.name ~ '.twig' with component %}
                {% endfor %}
            </main>
            {% include 'components/the-footer.twig' with footer %}
        </div>
        {% for src in js %}
            <script src="{{ src }}"></script>
        {% endfor %}
    </body>
</html>
