.block_directory {
    padding: 50px 0;

    @include breakpoint(large) {
        padding: 100px 0 70px;
    }
}

.block__inner {
    .block_directory & {
        @include flex-grid-row;
    }
}

.block__top,
.block__bottom {
    .block_directory & {
        @include flex-grid-column(12);
        overflow: auto;
    }
}

.block__bottom {
    .block_directory & {
        overflow: visible;
        transition: 0.6s height;
    }
}

.block__navigation {
    .block_directory & {
        display: flex;
        justify-content: space-between;
        width: inherit;
        min-width: 700px;
        padding-right: 20px;
        border-bottom: 1px solid $gray-light;

        @include breakpoint(medium) {
            padding-right: 0;
        }
    }
}

.block__navigation__button {
    .block_directory & {
        @include heading-faculty-directory-text();
        padding-bottom: 20px;
        color: $gray-medium;
        background-color: transparent;
        border-bottom: 3px solid transparent;
        transition: 0.2s color, border-color 0.2s;

        &.active {
            color: $blue-light;
            border-bottom: 3px solid $blue-light;
        }

        &:hover {
            color: $blue-light;
            cursor: pointer;
        }
    }
}

.block__item {
    .block_directory & {
        width: 100%;
        padding: 50px 0;
        font-size: 0;
        border-bottom: 1px solid $gray-light;

        &:last-child {
            border-bottom: 0 solid transparent;
        }
    }
}

.block__image {
    .block_directory & {
        display: block;
        width: 200px;
        margin: 0 auto;
        vertical-align: top;
        background-color: $gray-light;
        border-radius: 50%;

        @include breakpoint(medium) {
            display: inline-block;
            width: 130px;
            margin: 0;
        }
    }
}

.block__content {
    .block_directory & {
        display: inline-block;
        width: 100%;
        vertical-align: top;

        @include breakpoint(medium) {
            max-width: 170px;
        }

        @include breakpoint(large) {
            max-width: 225px;
        }
    }
}

.block__content + .block__content,
.block__image + .block__content {
    .block_directory & {
        margin-top: 20px;

        @include breakpoint(medium) {
            margin-top: 0;
            margin-left: 20px;
        }

        @include breakpoint(large) {
            margin-left: 30px;
        }

        @include breakpoint(xlarge) {
            margin-left: 62px;
        }
    }
}

.block__name {
    .block_directory & {
        font-family: Avenir;
        font-size: rem-calc(20px);
        font-weight: 800;
        line-height: (29 / 20);
        letter-spacing: rem-calc(1.43px);
    }
}

.block__name + .block__copy {
    .block_directory & {
        margin-top: 10.5px;
    }
}

.block__subheading {
    .block_directory & {
        @include heading-faculty-directory-text("dark");
    }
}

.block__subheading + .block__copy {
    .block_directory & {
        margin-top: 14px;
    }
}

.block__copy {
    .block_directory & {
        @include heading-faculty-sub-text("dark");

        @include breakpoint(medium) {
            word-break: break-word;
        }

        @include breakpoint(large) {
            word-break: normal;
        }
    }
}

.block__copy + .block__copy {
    .block_directory & {
        margin-top: 10px;
    }
}
