.block_three-col-text-grid {
    padding: 50px 0 115px;
    background-color: $gray-bg;
    background-image: url("/svg/half-lattice.svg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: 248px;

    @include breakpoint(medium) {
        padding: 80px 0 150px;
        background-size: 360px;
    }
}

.block__inner {
    .block_three-col-text-grid & {
        @include flex-grid-row;
    }
}

.block__inner + .block__inner {
    .block_three-col-text-grid & {
        margin-top: 50px;
    }
}

.block__header {
    .block_three-col-text-grid & {
        @include flex-grid-column(12);
        text-align: center;
    }
}

.block__pagination + .block__header {
    .block_three-col-text-grid & {
        margin-top: 15px;
    }
}

.block__node {
    .block_three-col-text-grid & {
        @include flex-grid-column(12);
        margin-top: 40px;

        @include breakpoint(medium) {
            @include flex-grid-column(6);
        }

        @include breakpoint(large) {
            @include flex-grid-column(4);
        }

        &:nth-child(1) {
            margin-top: 0;
        }

        &:nth-child(1),
        &:nth-child(2) {
            @include breakpoint(medium) {
                margin-top: 0;
            }
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
            @include breakpoint(large) {
                margin-top: 0;
            }
        }
    }
}

.block__pagination {
    .block_three-col-text-grid & {
        @include global-pagination();
        color: $blue-medium;
    }
}

.block__heading {
    .block_three-col-text-grid & {
        @include heading-component-large-text("dark");
    }
}

.block__subheading {
    .block_three-col-text-grid & {
        @include subheading-component-text();
        color: $gray-dark;
    }
}

.block__copy {
    .block_three-col-text-grid & {
        @include body-text("dark");
        color: $gray-darker;
    }
}
