.block_tabbed-carousel {
    padding-top: 50px;

    @include breakpoint(medium) {
        padding-top: 80px;
    }
}

.slider {
    .block_tabbed-carousel & {
        position: relative;
        height: 625px;
    }
}

.block__dots-outer {
    width: 100%;
    overflow: scroll;

    @include breakpoint(medium) {
        overflow: hidden;
    }
}

.block__dots-wrap {
    .block_tabbed-carousel & {
        padding: 0 15px;
        font-size: 0;
        white-space: nowrap;

        @include breakpoint(medium) {
            @include flex-grid-row;
            margin-bottom: 30px;
            white-space: normal;
        }
    }
}

.block__dot {
    .block_tabbed-carousel & {
        @include link-text;
        display: inline-block;
        width: auto;
        margin-bottom: 20px;
        appearance: none;
        color: $gray-medium;
        cursor: pointer;
        background-color: transparent;
        transition: color 0.4s;

        @include breakpoint(medium) {
            @include flex-grid-column();
            width: 25%;
            margin-bottom: 0;
        }
    }
}

.block__dot + .block__dot {
    .block_tabbed-carousel & {
        margin-left: 20px;

        @include breakpoint(medium) {
            margin-left: 0;
        }
    }
}

.block__dot__active {
    .block_tabbed-carousel & {
        color: $blue-lighter;
    }
}

.block__slide {
    .block_tabbed-carousel & {
        background-color: $gray-bg;
    }
}

.block__image-wrap {
    .block_tabbed-carousel & {
        height: 250px;
        overflow: hidden;

        @include breakpoint(medium) {
            position: absolute;
            top: 0;
            right: 0;
            width: 50%;
            height: 100%;
        }
    }
}

.block__image {
    .block_tabbed-carousel & {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        pointer-events: none;
    }
}

.block__image-wrap + .block__inner {
    .block_tabbed-carousel & {
        margin-top: 40px;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.block__inner {
    .block_tabbed-carousel & {
        @include flex-grid-row;

        @include breakpoint(medium) {
            position: relative;
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

.block__main {
    .block_tabbed-carousel & {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-column(5);
        }
    }
}

.block__subheading {
    .block_tabbed-carousel & {
        @include subheading-component-text();
        @include subheading-line;
        color: $gray-dark;
    }
}

.block__subheading + .block__heading {
    .block_tabbed-carousel & {
        margin-top: 15px;
    }
}

.block__heading {
    .block_tabbed-carousel & {
        @include heading-component-large-text("dark");
    }
}

.block__heading + .block__copy {
    .block_tabbed-carousel & {
        margin-top: 15px;
    }
}

.block__copy {
    .block_tabbed-carousel & {
        @include body-text("dark");
    }
}

.block__cta {
    .block_tabbed-carousel & {
        @include text-link("dark");
    }
}
