.block_stats {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 20px;
    margin-bottom: 20px;

    @include breakpoint(large) {
        user-select: auto !important;
    }

    @include breakpoint(xxlarge) {
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 10px;
            height: 100%;
            overflow: hidden;
            content: url("/svg/slanted-lines.svg");
        }
    }
}

.block__inner {
    .block_stats & {
        @include flex-grid-row;

        padding-top: 330px;

        @include breakpoint(large) {
            padding-top: 0;
        }
    }

    .block_stat & {
        position: relative;
        padding-top: 50px;
        padding-bottom: 60px;

        &::before,
        &::after {
            position: absolute;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            pointer-events: none;
            content: "";
            border-style: solid;
            border-width: 1px;
        }

        &::before {
            top: 25px;
            left: 15px;
            border-color: $purple-light;
        }

        &::after {
            top: 15px;
            left: 25px;
            border-color: $cyan;
        }

        @include breakpoint(large) {
            height: 100%;
        }
    }
}

.block_stat {
    .block_stats & {
        @include flex-grid-column(12);

        position: absolute;
        bottom: 100px;
        left: 50%;
        width: 100%;
        max-width: 380px;
        margin-right: auto;
        margin-left: auto;
        transform: translate(-50%, 0);

        @include breakpoint(large) {
            @include flex-grid-column(4);

            position: static;
            display: block !important;
            transform: translate(0, 0);
        }
    }
}

.block__stat-number,
.block__copy {
    .block_stat & {
        width: 100%;
        padding-right: 60px;
        padding-left: 60px;
        margin-top: 10px;
        text-align: center;
    }
}

.block__stat-number {
    .block_stat & {
        @include stat-text("dark");
    }
}

.block__copy {
    .block_stat & {
        @include body-text("dark");
    }
}

.block__nav {
    .block_stats & {
        display: block;
        width: 100%;
        margin-top: 30px;
        text-align: center;

        @include breakpoint(large) {
            display: none;
        }
    }
}

.carousel-nav__item {
    width: 13px;
    height: 13px;
    padding: 0;
    margin-right: 7px;
    margin-left: 7px;
    cursor: pointer;
    background-color: transparent;
    border-color: $blue-dark;
    border-width: 1px;
    border-radius: 50%;
}

.carousel-nav__item_active {
    background-color: $blue-dark;
}

.slide-prev-enter-active,
.slide-prev-leave-active,
.slide-next-enter-active,
.slide-next-leave-active {
    transition: transform 0.6s ease-in-out;
}

.slide-prev-enter,
.slide-next-leave-to {
    transform: translate(calc(-100vw - 50%), 0) !important;
}

.slide-prev-leave-to,
.slide-next-enter {
    transform: translate(calc(100vw - 50%), 0) !important;
}

.slide-prev-enter,
.slide-prev-leave-to,
.slide-next-enter,
.slide-next-leave-to {
    @include breakpoint(large) {
        transform: translate(0, 0) !important;
    }
}
