.block_checkered-group {
    font-size: 0;
    border-top: 1px solid $gray-light;

    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

.block__checkered-block {
    .block_checkered-group & {
        display: flex;
        float: left;
        align-items: center;
        width: 100%;
        height: 370px;
        counter-increment: check-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100% 100%;
        border-bottom: 1px solid $gray-light;

        @include breakpoint(medium) {
            width: 50%;
            height: 450px;
        }

        @include breakpoint(large) {
            height: 517px;
        }

        &:nth-child(odd) {
            background-image: url("/images/checker1.png");

            @include breakpoint(medium) {
                border-right: 1px solid $gray-light;
            }
        }

        &:nth-child(even) {
            background-image: url("/images/checker3.png");
        }

        &:nth-child(1) {
            @include breakpoint(medium) {
                background-image: url("/images/checker1.png");
            }
        }

        &:nth-child(2) {
            @include breakpoint(medium) {
                background-image: url("/images/checker2.png");
            }
        }

        &:nth-child(3) {
            @include breakpoint(medium) {
                background-image: url("/images/checker3.png");
            }
        }

        &:nth-child(4) {
            @include breakpoint(medium) {
                background-image: url("/images/checker4.png");
            }
        }
    }
}

.block__inner {
    .block_checkered-group & {
        max-width: 490px;
        padding: 0 20px;
        margin: 0 auto;
    }
}

.block__subheading {
    .block_checkered-group & {
        @include subheading-component-text();
        color: $gray-dark;

        &::before {
            @include global-pagination();
            margin-right: 10px;
            font-style: normal;
            color: $blue-medium;
            content: "0" counter(check-block);
        }
    }
}

.block__subheading + .block__heading {
    .block_checkered-group & {
        margin-top: 15px;
    }
}

.block__heading {
    .block_checkered-group & {
        @include heading-component-large-text("dark");
    }
}

.block__heading + .block__copy {
    .block_checkered-group & {
        margin-top: 20px;
    }
}

.block__copy {
    .block_checkered-group & {
        @include body-text("dark");
    }
}

.block__cta {
    .block_checkered-group & {
        @include text-link("dark");
    }
}
