.block_program-finder {
    padding: 50px 0;

    @include breakpoint(large) {
        padding: 100px 0 70px;
    }
}

.block__heading-wrap {
    .block_program-finder & {
        @include flex-grid-column(12);

        .block__heading {
            @include heading-component-large-text("dark");

            &::before {
                @include lines-border;
                display: block;
                width: 200px;
                height: 10px;
                margin-bottom: 30px;
                content: "";
            }
        }
    }
}

.block__heading-wrap + .block__navigation__wrap {
    .block_program-finder & {
        margin-top: 60px;
    }
}

.block__inner {
    .block_program-finder & {
        @include flex-grid-row;
    }
}

.block__navigation__wrap {
    .block_program-finder & {
        display: none;

        @include breakpoint(medium) {
            display: flex;
        }
    }
}

.block__navigation__wrap + .block__filter {
    .block_program-finder & {
        margin-top: 20px;
    }
}

.block__navigation {
    .block_program-finder & {
        @include flex-grid-column(12);
        display: none;
        width: 100%;
        font-size: 0;

        @include breakpoint(medium) {
            display: block;
        }
    }
}

.block__navigation__item {
    .block_program-finder & {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}

.block__navigation__item:not(:last-child) {
    .block_program-finder & {
        .block__button {
            @include button-checkbox("dark");
        }
    }
}

.block__navigation__item:last-child {
    margin-right: 0;

    .block_program-finder & {
        .block__button {
            @include text-link("dark");
            padding-left: 18px;
        }
    }
}

.block__filter {
    .block_program-finder & {
        position: relative;
        display: none;
        overflow: visible;
        font-size: 0;
        transition: 0.6s height;

        @include breakpoint(medium) {
            display: block;
        }
    }
}

.block__filter__item {
    .block_program-finder & {
        display: block;
        width: 100%;
        vertical-align: bottom;

        @include breakpoint(medium) {
            display: inline-block;
            width: 50%;
            padding: 0 20px;
            margin-bottom: 40px;
        }

        @include breakpoint(large) {
            width: 33.333333%;
            padding: 0 15px;
            margin-bottom: 30px;
        }

        @include breakpoint(xlarge) {
            width: 25%;
        }
    }
}

.block__filter__item + .block__filter__item {
    .block_program-finder & {
        margin-top: 20px;
    }
}

.block__filter__item + .block__category {
    .block_program-finder & {
        margin-top: 40px;
    }
}

.block__box {
    .block_program-finder & {
        position: relative;
        width: 100%;
        padding: 25px;
        text-align: left;
        background-color: $gray-bg;

        @include breakpoint(medium) {
            height: 326px;
            padding: 30px;
        }
    }
}

.block__box__disclosure {
    .block_program-finder & {
        max-height: 0;
        padding: 0 25px;
        overflow: hidden;
        transition: 0.2s max-height, 0.2s padding;

        &.expanded {
            max-height: 1000px;
            padding: 25px;
        }
    }
}

.block__subheading {
    .block_program-finder & {
        @include subheading-component-text();
        color: $black;

        &::after {
            display: block;
            width: 30px;
            height: 1px;
            margin-top: 20px;
            content: "";
            background-color: $blue-lighter;
        }
    }
}

.block__subheading + .block__heading {
    .block_program-finder & {
        margin-top: 20px;
    }
}

.block__heading {
    .block_program-finder & {
        @include heading-graduate-program-text("dark");
    }
}

.block__heading + .block__copy {
    .block_program-finder & {
        margin-top: 20px;
    }
}

.block__copy {
    .block_program-finder & {
        @include body-small-text("dark");
    }
}

.block__mobile {
    .block_program-finder & {
        display: flex;
        margin-top: 50px;

        @include breakpoint(medium) {
            display: none;
        }
    }
}

.block__inner-wrap {
    .block_program-finder & {
        @include flex-grid-column(12);
    }
}

.block__category {
    .block_program-finder & {
        @include body-text("dark");
        padding: 40px 0 20px;
        border-top: 1px solid $gray-medium;
    }
}

.block__box__button[aria-expanded="true"]::after {
    .block_program-finder & {
        transform: translate(0, -50%) rotate(45deg);
    }
}

.block__box__button::after {
    .block_program-finder & {
        position: absolute;
        top: 50%;
        right: 25px;
        font-size: 22px;
        font-weight: 200;
        color: $black;
        content: "+";
        transition: 0.2s transform;
        transform: translate(0, -50%) rotate(0);
    }
}
