.block_quote {
    padding: 30px 0 40px;
    background: $gradient-quote;

    @include breakpoint(medium) {
        padding: 60px 0 80px;
    }
}

.block__inner {
    .block_quote & {
        @include flex-grid-column(12);
        @include flex-grid-row;
        position: relative;

        &::before,
        &::after {
            position: absolute;
            top: 0;
            left: 20px;
            width: calc(100% - 50px);
            height: 100%;
            content: "";
            background-color: $purple-darker;
            border: 1px solid $blue-medium;

            @include breakpoint(medium) {
                left: 15px;
            }
        }

        &::before {
            margin-top: 10px;

            @include breakpoint(medium) {
                margin-top: 20px;
            }
        }

        &::after {
            display: none;
            margin-top: 10px;
            margin-left: 10px;

            @include breakpoint(medium) {
                display: block;
            }
        }
    }
}

.block__main {
    .block_quote & {
        position: relative;
        z-index: 1;
        padding: 40px 33px 60px;
        margin-left: 10px;
        background-color: $purple-darker;
        border: 1px solid $blue-medium;

        @include breakpoint(medium) {
            padding: 54px 110px 54px 67px;
            margin-left: 20px;
        }

        @include breakpoint(large) {
            padding: 84px 220px 84px 117px;
        }

        @include breakpoint(xlarge) {
            padding: 84px 270px 84px 167px;
        }
    }
}

.block__content {
    .block_quote & {
        position: relative;
        padding: 10px 0 0;

        @include breakpoint(medium) {
            padding: 10px 0 0 100px;
        }
    }
}

//stylelint-disable selector-max-type
select::-ms-expand {
    display: none;
}

.block__svg {
    .block_quote & {
        width: 50px;
        height: 50px;
        margin: 0 auto 20px;
        fill: $cyan;

        @include breakpoint(medium) {
            position: absolute;
            top: 0;
            left: 0;
            margin: 0;
        }

        @include breakpoint(large) {
            width: 70px;
            height: 70px;
        }
    }
}

.block__paragraph {
    .block_quote & {
        @include quote-large-text("light");
    }
}

.block__paragraph + .block__name {
    .block_quote & {
        margin-top: 30px;
    }
}

.block__name {
    .block_quote & {
        @include attribution-text("light");

        &::before {
            display: inline-block;
            width: 20px;
            height: 1px;
            margin-right: 15px;
            vertical-align: middle;
            content: "";
            background-color: $cyan;
        }
    }
}
