.block_events {
    @include lines-pattern;

    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-position: 0 100%;

    &.block_dark {
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 370px;
            content: "";
            background-image: url("/svg/lattice.svg"), $gradient-quote;
            background-repeat: no-repeat;
            background-position: 100%;
        }
    }

    &.block_light {
        background-color: $gray-bg;
        background-image: url("/images/lattice.png");
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 370px;
    }
}

.block__inner {
    .block_events & {
        @include flex-grid-row;
    }

    .block_event & {
        padding: 30px 30px 40px;
    }
}

.block__heading {
    .block_events & {
        @include flex-grid-column(12);
        @include heading-component-large-text;

        position: relative;
        margin-bottom: 40px;
        text-align: center;

        @include breakpoint(large) {
            text-align: left;
        }
    }

    .block_events.block_dark & {
        color: $white;
    }

    .block_events.block_light & {
        color: $black;
    }

    .block_event & {
        @include heading-small-card-title-text;

        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
        text-align: left;

        .block_events.block_light &,
        .block_events.block_dark & {
            color: $black;
        }
    }
}

.block__main {
    .block_events & {
        @include flex-grid-column(12);

        position: relative;
        display: flex;
        -webkit-overflow-scrolling: touch;
        overflow-x: auto;

        @include breakpoint(large) {
            // max-width: 100vw;
        }
    }
}

.block_event {
    position: relative;
    min-width: 300px;
    margin-right: 10px;
    background-color: $white;
    border-right: $gray-light 1px solid;

    &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        width: calc(100% + 1px);
        height: 2px;
        content: "";
        background-color: $blue-lighter;
        transition: transform $transition-short ease, background-color $transition-short ease;
        transform-origin: 50% 100%;
    }

    &:hover {
        &::after {
            transform: scale(1, 2);
        }
    }

    &:last-of-type {
        position: relative;
        border-right-width: 0;

        &::after {
            width: 100%;
        }

        &::before {
            position: absolute;
            top: 0;
            left: 100%;
            display: block;
            width: map-get($grid-column-gutter, "small") / 2;
            height: 1px;
            content: "";
            background-color: transparent;
        }

        @include breakpoint(large) {
            &::before {
                display: none;
                border-right: $gray-light 1px solid;
            }
        }
    }

    @include breakpoint(large) {
        width: 25%;
        min-width: 0;
        margin-right: 0;
    }
}

.block__date {
    .block_event & {
        @include event-date-text("dark");

        &::after {
            display: block;
            width: 30px;
            height: 2px;
            margin-top: 10px;
            margin-bottom: 20px;
            content: "";
            background-color: $cyan;
        }
    }
}

.block__copy {
    .block_event & {
        @include body-small-text("dark");

        margin-top: 10px;
    }
}

.block__cta {
    .block_events & {
        @include button-filled("blue-medium");

        margin-top: 40px;
        margin-right: auto;
        margin-left: auto;
    }

    .block_event & {
        @include text-link;
        color: $blue-light;

        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 0);
        }
    }

    .block_event .block__inner:hover &,
    .block_event .block__inner:focus & {
        // stylelint-disable-next-line selector-max-specificity
        &::after {
            opacity: 1;
            transform: translate(-5px, 0);
        }
    }
}
