.block__headings {
    .block_basic-container & {
        @include flex-grid-row;
    }
}

.block_basic-container {
    margin-top: 50px;
}

.block_basic {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;

    @include breakpoint(large) {
        min-height: 550px;
        overflow: hidden;

        &::before {
            position: absolute;
            top: 0;
            display: block;
            width: 105px;
            height: 105px;
            content: url("/svg/diamonds-stacked.svg");
        }

        &.block_text-left {
            &::before {
                left: 0;
                transform: translate(-50%, 0);
            }
        }

        &.block_text-right {
            &::before {
                right: 0;
                transform: translate(50%, 0);
            }
        }
    }
}

.block__inner {
    .block_basic & {
        @include flex-grid-row;
    }
}

.block__secondary {
    .block_basic & {
        @include flex-grid-column(12);

        @include breakpoint(large) {
            position: absolute;
            top: 0;
            width: 55vw;
            height: 550px;
            padding: 0;
        }

        @include breakpoint(xxlarge) {
            @include flex-grid-column(7);

            position: relative;
            right: 0;
            left: 0;
        }
    }

    .block_basic.block_text-left & {
        @include breakpoint(large) {
            right: 0;
        }

        @include breakpoint(xxlarge) {
            order: 2;
        }
    }

    .block_basic.block_text-right & {
        @include breakpoint(large) {
            left: 0;
        }
    }
}

.block__main {
    .block_basic & {
        @include flex-grid-column(12);

        margin-top: 30px;

        @include breakpoint(large) {
            @include flex-grid-column(5);

            display: flex;
            align-items: center;
            min-height: 550px;
            margin-top: 0;
        }
    }

    .block_basic.block_text-right & {
        @include breakpoint(large) {
            @include grid-column-offset(7);
        }

        @include breakpoint(xxlarge) {
            @include grid-column-offset(0);
        }
    }
}

.block__main-inner {
    .block_basic.block_text-right & {
        @include breakpoint(xxlarge) {
            padding-left: 35px;
        }
    }
}

.block__subheading {
    .block_basic-container & {
        @include flex-grid-column(12);
        @include subheading-copy-text("dark");
        @include subheading-line;
    }

    .block_basic & {
        @include subheading-component-text("dark");

        padding-right: 0;
        padding-left: 0;

        &::before {
            content: none;
        }
    }
}

.block__subheading-number {
    .block_basic & {
        @include subheading-numeral-text("dark");
    }
}

.block__heading {
    .block_basic-container & {
        @include flex-grid-column(12);
        @include heading-component-large-text("dark");

        margin-top: 10px;
    }

    .block_basic & {
        @include heading-component-medium-text("dark");

        padding-right: 0;
        padding-left: 0;
        margin-top: 16px;
    }
}

.block__copy {
    .block_basic & {
        @include wysiwyg("dark");

        margin-top: 15px;
    }
}

.block__cta {
    .block_basic & {
        @include button-component;

        margin-top: 30px;
    }
}

.block__image {
    .block_basic & {
        object-fit: cover;

        @include breakpoint(large) {
            height: 100%;
        }

        @include breakpoint(xxlarge) {
            position: absolute;
            width: 805px;
            max-width: none;
            object-fit: cover;
        }
    }

    .block_basic.block_text-right & {
        right: 15px;
    }

    .block_basic.block_text-left & {
        left: 15px;
    }
}
