.block_full-width-carousel {
    position: relative;
}

.slider {
    .block_full-width-carousel & {
        height: 750px;

        @include breakpoint(medium) {
            height: 650px;
        }

        @include breakpoint(xlarge) {
            height: 800px;
        }
    }
}

.slide__image {
    .block_full-width-carousel & {
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        pointer-events: none;
    }
}

.block__overlay {
    .block_full-width-carousel & {
        z-index: 2;

        @include breakpoint(medium) {
            background-image: url("/images/lattice-carousel.png"), linear-gradient(100deg, rgba(8, 11, 44, 1) 0%, rgba(48, 10, 44, 0.9) 37%, rgba(61, 45, 154, 0) 100%);
            background-repeat: no-repeat, repeat;
            background-position: -400px 0, left;
            background-size: auto 100%, auto;
        }

        @include breakpoint(xlarge) {
            background-position: 200px 0, left;
        }

        .block__inner {
            margin: 0 auto;

            @include breakpoint(medium) {
                position: absolute;
                top: 50%;
                right: 0;
                left: 0;
                width: 100%;
                max-width: 1200px;
                margin: -50px auto 0 auto;
                transform: translate(0, -50%);
            }
        }
    }
}

.block__inner {
    .block_full-width-carousel & {
        @include flex-grid-row;
    }
}

.block__main {
    .block_full-width-carousel & {
        @include flex-grid-column(12);

        &::before {
            @include lines-border;
            display: block;
            width: 200px;
            height: 10px;
            margin-bottom: 40px;
            content: "";
        }

        @include breakpoint(medium) {
            @include flex-grid-column(6);
        }

        @include breakpoint(xlarge) {
            @include flex-grid-column(4);
        }
    }
}

.block__pagination {
    .block_full-width-carousel & {
        @include global-pagination;
        color: $blue-medium;

        @include breakpoint(medium) {
            color: $white;
        }
    }
}

.block__pagination + .block__heading {
    .block_full-width-carousel & {
        margin-top: 15px;
    }
}

.block__heading {
    .block_full-width-carousel & {
        @include heading-component-large-text("dark");

        @include breakpoint(medium) {
            color: $white;
        }
    }
}

.block__heading + .block__copy {
    .block_full-width-carousel & {
        margin-top: 15px;
    }
}

.block__copy {
    .block_full-width-carousel & {
        @include body-small-text("dark");

        @include breakpoint(medium) {
            color: $white;
        }
    }
}

.block__image__wrap {
    .block_full-width-carousel & {
        z-index: 1;
        height: 250px;
    }
}

.block__image__wrap + .block__overlay {
    .block_full-width-carousel & {
        margin-top: 30px;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.block__image__wrap,
.block__overlay {
    .block_full-width-carousel & {
        @include breakpoint(medium) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.slider__navigation {
    .block_full-width-carousel & {
        @include flex-grid-row;
        position: absolute;
        right: 0;
        bottom: 50px;
        left: 0;
        z-index: 4;
        width: 100%;
        padding: 0 20px;
        margin: 0 auto;

        @include breakpoint(medium) {
            bottom: 80px;
            padding: 0 15px;
        }
    }
}

.slider__navigation-btn {
    .block_full-width-carousel & {
        @include button-navigator;

        @include breakpoint(medium) {
            border: 1px solid $white;
        }

        .block__arrow {
            @include breakpoint(medium) {
                fill: $white;
            }
        }
    }
}

.slider__navigation-btn:hover {
    .block_full-width-carousel & {
        @include breakpoint(medium) {
            background-color: $white;
        }

        .block__arrow {
            @include breakpoint(medium) {
                fill: $blue-medium;
            }
        }
    }
}

.slider__navigation-btn + .slider__navigation-btn {
    .block_full-width-carousel & {
        margin-left: 15px;
    }
}
