.block_course-card {
    padding: 30px;
    background-color: $gray-bg;

    @include breakpoint(medium) {
        padding: 40px;
    }

    &.fade-leave-active {
        width: calc(100% - 30px);
    }
}

.block_course-card.active {
    .block__button_favorites {
        color: $white;
        background-color: $purple-pink;
        border-color: $purple-pink;

        &:hover {
            background-color: #812194;
        }
    }
}

.block_course-card + .block_course-card {
    margin-top: 20px;
}

.block__inner {
    .block_course-card & {
        @include breakpoint(medium) {
            display: flex;
        }
    }
}

.block__main {
    .block_course-card & {
        @include breakpoint(medium) {
            width: 65%;
            padding-right: 30px;
        }
    }
}

.block__main + .block__secondary {
    .block_course-card & {
        margin-top: 40px;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.block__secondary {
    .block_course-card & {

        @include breakpoint(medium) {
            width: 35%;
            text-align: right;
        }
    }
}

.block__heading {
    .block_course-card & {
        @include heading-exec-ed-text("dark");
    }
}

.block__heading + .block__subject {
    .block_course-card & {
        margin-top: 15px;
    }
}

.block__subject {
    .block_course-card & {
        @include heading-inline-text("dark");
    }
}

.block__subject + .block__copy {
    .block_course-card & {
        margin-top: 30px;
    }
}

.block__copy {
    .block_course-card & {
        @include body-small-text("dark");
    }
}

.block__cta {
    .block_course-card & {
        @include text-link("dark");
    }
}

.block__date {
    .block_course-card & {
        font-family: Avenir;
        font-size: rem-calc(35px);
        font-weight: 200;
        line-height: (48 / 35);
        color: $blue-medium;
        letter-spacing: rem-calc(3px);
    }
}

.block__date + .block__copy {
    .block_course-card & {
        margin-top: 5px;
    }
}

.block__time {
    .block_course-card & {
        letter-spacing: rem-calc(0.8px);
    }
}

.block__navigation {
    .block_course-card & {
        margin-top: 50px;
    }
}

.block__navigation__item + .block__navigation__item {
    .block_course-card & {
        margin-top: 10px;
    }
}

.block__button {
    .block_course-card & {
        width: 100%;
    }
}

.block__button_favorites {
    .block_course-card & {
        @include button-outlined("dark");
        cursor: pointer;
        transition: 0.2s background-color, 0.2s color, 0.2s border-color;
    }
}

.block__button_register {
    .block_course-card & {
        @include button-filled("blue-medium");
    }
}
