.block_accordion {
    @include flex-grid-row;

    padding-top: 50px;
    padding-bottom: 25px;

    @include breakpoint(large) {
        padding-top: 100px;
        padding-bottom: 75px;
    }
}

.block__heading {
    .block_accordion & {
        @include flex-grid-column(12);
        @include heading-component-large-text("dark");

        &::after {
            display: block;
            width: 45px;
            height: 2px;
            margin-top: 25px;
            margin-bottom: 45px;
            content: "";
            background-color: $cyan;
        }

        @include breakpoint(large) {
            @include flex-grid-size(8);
            @include grid-column-offset(2);

            text-align: center;

            &::after {
                margin-right: auto;
                margin-left: auto;
            }
        }
    }
}

.block__item {
    .block_accordion & {
        @include flex-grid-column(12);

        overflow: hidden;

        @include breakpoint(large) {
            @include flex-grid-size(8);
            @include grid-column-offset(2);
        }
    }
}

.block__item-inner {
    .block_accordion & {
        padding-top: 25px;
        padding-bottom: 10px;
    }
}

.block__item-button {
    .block_accordion & {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        text-align: left;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        border-width: 0;

        &[aria-expanded=true] {
            .block__item-icon__plus-verticle {
                height: 0;
            }
        }
    }
}

.block__item-icon {
    .block_accordion & {
        position: relative;
        display: inline-block;
        width: 16px;
        height: 16px;
    }
}

.block__item-icon__plus-verticle,
.block__item-icon__plus-horizontal {
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 16px;
    background-color: $blue-lighter;
    transform-origin: center;
}

.block__item-icon__plus-horizontal {
    transform: rotate(90deg);
}

.block__item-heading {
    .block_accordion & {
        @include heading-small-card-title-text("dark");
        display: inline-block;
    }
}

.block__item-container {
    .block_accordion & {
        @include body-small-text("dark");
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: opacity 250ms, transform 250ms;
        transform: translateY(-10%);

        &.expanded {
            height: auto;
            opacity: 1;
            transform: translateY(0);
        }

        @include breakpoint(large) {
            padding-right: 60px;
        }
    }
}

.block__item-copy {
    .block_accordion & {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.block__item-divider {
    .block_accordion & {
        width: 100%;
        height: 1px;
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: $gray-light;
        border-width: 0;
    }
}
