.block_cta-tabbed-text-body {
    padding: 50px 0;
    background-color: $gray-bg;
    background-repeat: no-repeat;
    background-position: center right -280px;

    @include breakpoint(medium) {
        padding: 100px 0;
        background-image: url("/images/tabbed-lattice.png");
        background-size: auto 100%;
    }
}

.block__inner {
    .block_cta-tabbed-text-body & {
        @include flex-grid-row;
    }
}

.block__inner + .block__inner {
    .block_cta-tabbed-text-body & {
        margin-top: 30px;

        @include breakpoint(xlarge) {
            margin-top: 70px;
        }
    }
}

.block__desktop {
    .block_cta-tabbed-text-body & {
        display: none;

        @include breakpoint(medium) {
            display: flex;
        }
    }
}

.block__mobile {
    .block_cta-tabbed-text-body & {
        display: block;

        @include breakpoint(medium) {
            display: none;
        }
    }
}

.block__heading {
    .block_cta-tabbed-text-body & {
        @include flex-grid-column(12);
        @include heading-component-large-text("dark");

        @include breakpoint(medium) {
            text-align: center;
        }

        &::after {
            content: "";

            @include breakpoint(medium) {
                display: block;
                width: 30px;
                height: 1px;
                margin: 30px auto 0;
                background-color: $purple-pink;
            }
        }
    }
}

.block__tabs {
    .block_cta-tabbed-text-body & {
        @include flex-grid-column(5);

        @include breakpoint(xlarge) {
            @include flex-grid-column(4);
            @include grid-column-offset(1);
        }
    }
}

.block__tabs__item {
    .block_cta-tabbed-text-body & {
        max-width: 320px;
    }
}

.block__tabs__item + .block__tabs__item {
    .block_cta-tabbed-text-body & {
        margin-top: 20px;
    }
}

.block__button {
    .block_cta-tabbed-text-body & {
        @include tab-side;

        cursor: pointer;
    }
}

.block__main {
    .block_cta-tabbed-text-body & {
        @include flex-grid-column(7);
        position: relative;

        @include breakpoint(xlarge) {
            @include flex-grid-column(6);
        }
    }
}

.block__content {
    .block_cta-tabbed-text-body & {
        position: absolute;
        top: 0;
        visibility: hidden;
        counter-increment: tab-item;
        opacity: 0;
        transition: 0.3s opacity, 0.3s visibility, 0.3s position;

        &.expanded {
            position: relative;
            visibility: visible;
            opacity: 1;
        }
    }
}

.block__subheading {
    .block_cta-tabbed-text-body & {
        @include subheading-component-text();
        color: $gray-dark;

        &::before {
            @include global-pagination();
            margin-right: 10px;
            font-style: normal;
            color: $blue-medium;
            content: "0" counter(tab-item);
        }
    }
}

.block__subheading + .block__copy {
    .block_cta-tabbed-text-body & {
        margin-top: 20px;
    }
}

.block__copy {
    .block_cta-tabbed-text-body & {
        @include body-text("dark");
    }
}

// MOBILE

.block__accordion {
    .block_cta-tabbed-text-body & {
        @include flex-grid-column(12);
    }
}

.block__accordion__button,
.block__accordion__panel {
    .block_cta-tabbed-text-body & {
        background-color: $white;
    }
}

.block__accordion__button {
    .block_cta-tabbed-text-body & {
        position: relative;
        width: 100%;
        height: 74px;
        padding: 0 20px;
        font-family: Avenir;
        font-size: rem-calc(18px);
        font-weight: 300;
        line-height: (32 / 18);
        text-align: left;
        letter-spacing: rem-calc(0.65px);
        border: 0;
    }
}

.block__accordion__button[aria-expanded="true"] .block__plus-icon {
    .block_cta-tabbed-text-body & {
        transform: translateY(-50%) rotate(45deg);
    }
}

.block__plus-icon {
    .block_cta-tabbed-text-body & {
        position: absolute;
        top: 50%;
        right: 20px;
        width: 11px;
        height: 11px;
        fill: $blue-light;
        transition: transform 0.2s;
        transform: translateY(-50%) rotate(0);
    }
}

.block__accordion__group + .block__accordion__group {
    .block_cta-tabbed-text-body & {
        margin-top: 10px;
    }
}

.block__accordion__panel {
    .block_cta-tabbed-text-body & {
        max-height: 0;
        padding: 0 20px;
        overflow: hidden;
        transition: 0.3s padding, 0.3s max-height;
        transition-timing-function: ease-in-out;

        &.expanded {
            max-height: 2000px;
            padding: 0 20px 30px;
        }
    }
}
