.block_ee-course-finder {
    padding: 50px 0;

    @include breakpoint(large) {
        padding: 100px 0 70px;
    }
}

.block__heading-wrap {
    .block_ee-course-finder & {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-column(8);
        }

        .block__heading {
            @include heading-component-large-text("dark");

            &::before {
                @include lines-border;
                display: block;
                width: 200px;
                height: 10px;
                margin-bottom: 30px;
                content: "";
            }
        }
    }
}

.block__inner {
    .block_ee-course-finder & {
        @include flex-grid-row;
    }
}

.block__inner + .block__inner {
    .block_ee-course-finder & {
        margin-top: 30px;

        @include breakpoint(medium) {
            margin-top: 70px;
        }
    }
}

.block__left {
    .block_ee-course-finder & {
        @include flex-grid-column(12);
        display: none;

        @include breakpoint(large) {
            @include flex-grid-column(4);
            display: block;
        }
    }
}

.block__right {
    .block_ee-course-finder & {
        @include flex-grid-column(12);
        position: relative;

        @include breakpoint(large) {
            @include flex-grid-column(8);
        }
    }
}

.block__heading + .block__intro__copy {
    margin-top: 20px;
}

.block__intro__copy {
    .block_ee-course-finder & {
        @include body-text("dark");
    }
}

.block__subheading {
    .block_ee-course-finder & {
        @include heading-heavy-sub-text("dark");
        padding-bottom: 15px;
        border-bottom: 1px solid $gray-light;
    }
}

.block__subheading + .block__filter {
    .block_ee-course-finder & {
        margin-top: 30px;
    }
}

.block__subheading + .form-long__checkbox-label {
    .block_ee-course-finder & {
        margin-top: 24px;
    }
}

.block__subheading__number {
    .block_ee-course-finder & {
        font-size: rem-calc(16px);
        font-weight: 300;
        letter-spacing: rem-calc(0.4px);
    }
}

.form-long__checkbox-label + .form-long__checkbox-label {
    .block_ee-course-finder & {
        margin-top: 8px;
    }
}

.block__filter {
    .block_ee-course-finder & {
        overflow: visible;
        transition: 0.6s height;
    }
}

.block__filter-group + .block__filter-group {
    .block_ee-course-finder & {
        margin-top: 43px;
    }
}

.block__modal-button {
    .block_ee-course-finder & {
        @include button-outlined("dark");
        width: 100%;
        margin-bottom: 50px;

        @include breakpoint(large) {
            display: none;
        }
    }
}

.block__modal {
    .block_ee-course-finder & {
        position: fixed;
        top: 95px;
        left: 0;
        z-index: 2;
        width: 100vw;
        height: calc(100vh - 95px);
        padding: 50px 0;
        overflow: scroll;
        visibility: hidden;
        background-color: $white;
        transition: 0.3s transform, 0.3s visibility;
        transform: translateY(100vh);

        &.expanded {
            visibility: visible;
            transform: translateY(0);
        }

        @include breakpoint(large) {
            display: none;
        }
    }
}

.block__modal-exit {
    .block_ee-course-finder & {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        padding: 0;
        background: transparent;
        border: 0;
    }
}

.block__modal-exit__svg {
    .block_ee-course-finder & {
        width: 32px;
        padding-top: 5px;
        fill: $cyan;
    }
}

.block__filters-wrap {
    .block_ee-course-finder & {
        @include flex-grid-column(12);
        position: relative;
    }
}
