.block_full-width-text-area {
    padding: 80px 0;
    background-color: $purple-dark;
    background-image: url("/images/diamond-lattice.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    @include breakpoint(medium) {
        background-size: 100% auto;
    }

    @include breakpoint(large) {
        padding: 110px 0;
    }
}

.block__inner {
    .block_full-width-text-area & {
        @include flex-grid-row;
    }
}

.block__main {
    .block_full-width-text-area & {
        @include flex-grid-column(12);
        text-align: center;

        @include breakpoint(medium) {
            @include flex-grid-column(10);
            @include grid-column-offset(1);
        }

        @include breakpoint(large) {
            @include flex-grid-column(8);
            @include grid-column-offset(2);
        }
    }
}

.block__subheading {
    .block_full-width-text-area & {
        @include subheading-component-text();
        color: $white;
    }
}

.block__subheading + .block__heading {
    .block_full-width-text-area & {
        margin-top: 20px;
    }
}

.block__heading {
    .block_full-width-text-area & {
        @include heading-component-large-text("light");
    }
}

.block__heading + .block__copy {
    .block_full-width-text-area & {
        margin-top: 25px;
    }
}

.block__copy {
    .block_full-width-text-area & {
        @include body-text("light");
    }
}
