// Featured Articles Frame

.block__main {
    .block_news_featured & {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            height: 450px;
        }

        @include breakpoint(large) {
            @include flex-grid-column(6);
            height: auto;
        }
    }
}

.block__main + .block__secondary {
    .block_news_featured & {
        @include breakpoint(medium) {
            margin-top: 40px;
        }

        @include breakpoint(large) {
            margin-top: 0;
        }
    }
}

.block__secondary {
    .block_news_featured & {
        @include flex-grid-column(12);

        @include breakpoint(large) {
            @include flex-grid-column(6);
        }
    }
}

.block__articles {
    .block_news_featured & {
        display: flex;
        flex-flow: row wrap;
    }
}

.block__article {
    .block_news_featured & {
        @include breakpoint(medium) {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include breakpoint(large) {
            margin-bottom: 50px;
        }

        &:nth-child(odd) {
            @include breakpoint(medium) {
                padding-right: 15px;
            }
        }

        &:nth-child(even) {
            @include breakpoint(medium) {
                padding-left: 15px;
            }
        }

        &:nth-last-child(1),
        &:nth-last-child(2) {
            @include breakpoint(medium) {
                margin-bottom: 0;
            }
        }
    }
}

// Featured Article

.block_news-article_featured {
    position: relative;

    @include breakpoint(medium) {
        height: calc(100% - 35px);
        padding: 40px;
    }

    &:hover .block__background-image {
        @include breakpoint(medium) {
            transform: scale(1.05);
        }
    }
}

.block__background-overlay {
    .block_news-article_featured & {
        display: none;

        @include breakpoint(medium) {
            display: block;
            background: rgba(0, 0, 0, 0.6);
        }
    }
}

.block__background-wrap {
    .block_news-article_featured & {
        z-index: -1;
        height: 250px;
        margin-bottom: 30px;
        overflow: hidden;

        @include breakpoint(medium) {
            margin-bottom: 0;
        }
    }
}

.block__background-overlay,
.block__background-wrap {
    .block_news-article_featured & {
        @include breakpoint(medium) {
            position: absolute;
            top: 35px;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
}

.block__background-image {
    .block_news-article_featured & {
        object-fit: cover;
        min-height: 100%;

        @include breakpoint(medium) {
            transition: 0.6s transform;
        }
    }
}

.block__date {
    .block_news-article_featured & {
        margin-bottom: 10px;

        @include breakpoint(medium) {
            position: absolute;
            top: 75px;
            left: 40px;
            margin-bottom: 0;
            color: $white;
        }
    }
}

.block__content {
    .block_news-article_featured & {
        @include breakpoint(medium) {
            position: absolute;
            bottom: 5px;
            width: calc(100% - 80px);
        }
    }
}

.block__heading {
    .block_news-article_featured & {
        @include breakpoint(medium) {
            @include heading-exec-ed-text("light");
        }
    }
}

.block__copy {
    .block_news-article_featured & {
        @include breakpoint(medium) {
            @include body-small-text("light");
        }
    }
}

.block__cta {
    .block_news-article_featured & {
        @include breakpoint(medium) {
            @include text-link("light");
        }
    }
}
