.block_flipbook {
    position: relative;

    @include breakpoint(medium) {
        padding: 80px 0;
    }

    &::before,
    &::after {
        position: absolute;
        z-index: 1;
        content: "";
        background-color: $purple-light;
    }

    &::before {
        @include breakpoint(medium) {
            top: 55px;
            left: 0;
            width: 15px;
            height: 100px;
        }
    }

    &::after {
        top: 0;
        right: 0;
        width: 100px;
        height: 15px;
    }
}

.block__pattern {
    .block_flipbook & {
        @include breakpoint(medium) {
            @include lines-pattern;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 40%;
            height: 100%;
        }
    }
}

.block__inner {
    .block_flipbook & {
        @include flex-grid-row;
    }
}

.block__main {
    .block_flipbook & {
        @include flex-grid-column(12);
        position: relative;

        @include breakpoint(medium) {
            @include flex-grid-column(6);
        }

        @include breakpoint(large) {
            @include flex-grid-column(5);
            @include grid-column-offset(1);
        }

        &::after {
            content: "";

            @include breakpoint(medium) {
                position: absolute;
                top: 10px;
                right: 5px;
                z-index: -1;
                width: calc(100% - 30px);
                height: calc(100% - 20px);
                background-color: $blue-medium;
            }
        }
    }
}

.block__main + .block__secondary {
    .block_flipbook & {
        margin-top: 40px;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.block__secondary {
    .block_flipbook & {
        @include flex-grid-column(12);
        position: relative;
        padding-bottom: 50px;

        @include breakpoint(medium) {
            @include flex-grid-column(6);
            height: auto;
            padding-bottom: 0;
        }

        @include breakpoint(large) {
            @include flex-grid-column(5);
        }

        @include breakpoint(xlarge) {
            @include flex-grid-column(4);
            @include grid-column-offset(1);
        }
    }
}

.block__image-wrap {
    .block_flipbook & {
        position: relative;
        height: 300px;
        margin: 0 -20px;
        overflow: hidden;
        background-color: $white;

        @include breakpoint(medium) {
            height: 500px;
            margin: 0 auto;
        }

        @include breakpoint(large) {
            height: 600px;
        }
    }
}

.block__image-overlay {
    .block_flipbook & {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba(45, 43, 43, 0.65);
    }
}

.block__background-image {
    .block_flipbook & {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: 0.8s opacity;
    }
}

.block__background-image_active {
    .block_flipbook & {
        opacity: 1;
    }
}

.block__name {
    .block_flipbook & {
        @include quote-small-text("light");
        letter-spacing: rem-calc(1px);
    }
}

.block__name + .block__title {
    .block_flipbook & {
        margin-top: 10px;
    }
}

.block__title {
    .block_flipbook & {
        @include subheading-numeral-text("light");
        text-transform: uppercase;
        letter-spacing: rem-calc(5px);
    }
}

.block__image-overlay__content {
    .block_flipbook & {
        position: absolute;
        bottom: 30px;
        left: 20px;
        text-align: right;
        opacity: 0;
        transition: 0.8s opacity;

        @include breakpoint(medium) {
            right: 30px;
            left: auto;
        }
    }
}

.block__image-overlay__content_active {
    .block_flipbook & {
        opacity: 1;
    }
}

.block__content {
    .block_flipbook & {
        position: relative;
        transition: 0.8s height;
        transition-timing-function: ease;

        @include breakpoint(medium) {
            margin-top: 20px;
        }
    }
}

.block__content + .block__navigation {
    .block_flipbook & {
        margin-top: 50px;

        @include breakpoint(medium) {
            margin-top: 0;
        }
    }
}

.block__copy__wrap {
    .block_flipbook & {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.8s position, 0.8s opacity, 0.8s visibility;
        transition-timing-function: ease-in-out;
    }
}

.block__copy__wrap_active {
    .block_flipbook & {
        position: relative;
        visibility: visible;
        opacity: 1;
    }
}

.block__pagination {
    .block_flipbook & {
        @include global-pagination;
        color: $blue-medium;
    }
}

.block__pagination + .block__heading {
    .block_flipbook & {
        margin-top: 15px;
    }
}

.block__heading {
    .block_flipbook & {
        @include heading-component-large-text("dark");
    }
}

.block__heading + .block__copy {
    .block_flipbook & {
        margin-top: 15px;
    }
}

.block__copy {
    .block_flipbook & {
        @include body-text("dark");
    }
}

.block__copy + .block__button {
    .block_flipbook & {
        margin-top: 40px;
    }
}

.block__button {
    .block_flipbook & {
        @include button-component;
    }
}

.block__navigation {
    .block_flipbook & {
        font-size: 0;

        @include breakpoint(medium) {
            position: absolute;
            bottom: 20px;
            left: 15px;
        }
    }
}

.block__navigation-btn {
    .block_flipbook & {
        @include button-navigator;
    }
}

.block__navigation-btn + .block__navigation-btn {
    .block_flipbook & {
        margin-left: 15px;
    }
}
