.block__main {
    .block_news_simple & {
        @include flex-grid-row;
        width: 100%;
    }
}

.block__articles {
    .block_news_simple & {
        @include flex-grid-row;
        width: 100%;
    }
}

.block__article {
    .block_news_simple & {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-column(6);
        }

        @include breakpoint(large) {
            @include flex-grid-column(3);
        }
    }
}
