$component-padding: 80px;

.block_video {
    @include flex-grid-row;

    align-items: center;
    padding-top: $component-padding;
    padding-bottom: $component-padding;
}

.block__main {
    .block_video & {
        @include flex-grid-column(12);

        margin-top: 30px;

        @include breakpoint(large) {
            @include flex-grid-column(4);
            @include grid-column-offset(1);

            margin-top: 0;
        }
    }
}

.block__secondary {
    .block_video & {
        @include flex-grid-column(12);

        padding: 30px 0;
        background-image: $gradient-quote-reverse;

        @include breakpoint(large) {
            @include flex-grid-column(7);

            position: relative;
            padding: 0;
            background-image: none;

            &::before,
            &::after {
                position: absolute;
                top: -$component-padding;
                height: calc(100% + #{(2 * $component-padding + 2px)});
                content: "";
            }

            &::before {
                right: 120px;
                width: 100vw;
                background-color: $purple-darker;
            }

            &::after {
                @include lines-pattern;

                left: calc(100% - 120px);
                width: 150px;
            }
        }

        @include breakpoint(xxlarge) {
            &::before {
                width: 780px;
            }
        }
    }
}

.block__secondary-inner {
    .block_video & {
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: 56.25%;
    }
}

.block__heading {
    .block_video & {
        @include heading-component-large-text("dark");
    }
}

.block__copy {
    .block_video & {
        @include wysiwyg("dark");

        margin-top: 15px;
    }
}

.block__cta {
    .block_video & {
        @include button-component;

        margin-top: 40px;
    }
}

.block__video-container {
    .block_video & {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        // stylelint-disable-next-line selector-max-type
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}

.block__video-player {
    .block_video & {
        width: 100%;
        height: 100%;
    }
}

.block__image {
    .block_video & {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block__image,
.block__video-button {
    .block_video & {
        transition: opacity 1s;
    }

    .video_has_played & {
        pointer-events: none;
        opacity: 0;
    }
}

.block__video-button {
    .block_video & {
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 3;
        width: 100px;
        height: 100px;
        padding: 0;
        fill: $blue-medium;
        stroke: $cyan;
        background-color: transparent;
        border-width: 0;
        transition: transform $transition-medium ease;
        transform: translate(-50%, -50%);

        &:hover {
            cursor: pointer;
            transform: translate(-50%, -50%) scale(1.1);
        }
    }
}

.video-modal__backdrop {
    position: fixed;
    top: 95px;
    left: 0;
    z-index: 5;
    width: 100%;
    height: calc(100% - 95px);
    background-color: $black;

    @include breakpoint(large) {
        top: 77px;
        height: calc(100% - 77px);
    }
}

.video-modal__backdrop-dialog {
    position: relative;
    width: 100%;
    max-width: calc(177.8vh - 169px);
    height: 100%;
    margin-right: auto;
    margin-left: auto;

    @include breakpoint(large) {
        max-width: calc(177.8vh - 137px);
    }
}

.video-modal__close-container {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
    width: 30px;
    height: 30px;
}

.video-modal__close {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}

.plyr {
    .block_video & {
        position: absolute;
        top: 50%;
        width: 100%;
        transform: translate(0, -50%);
    }
}

.plyr__poster {
    .block_video & {
        pointer-events: none;
    }
}

.prevent-scroll {
    overflow: hidden;
}
