.block_news {
    padding: 40px 0;

    @include breakpoint(large) {
        padding: 100px 0;
    }

    > .block__cta {
        @include button-outlined("dark");
        display: block;
        margin: 0 20px;

        @include breakpoint(medium) {
            display: table;
            margin: 60px auto 0;
        }
    }
}

.block__inner {
    .block_news & {
        @include flex-grid-row;
        width: 100%;

        > .block__heading {
            @include flex-grid-column(12);
            @include heading-component-large-text("dark");
            margin-bottom: 40px;
            text-align: center;

            @include breakpoint(large) {
                margin-bottom: 60px;
            }
        }
    }
}

.block__article {
    .block_news & {
        margin-bottom: 40px;

        @include breakpoint(large) {
            margin-bottom: 0;
        }
    }
}
