.block_home-slider {
    position: relative;
    height: 100vh;
    min-height: 667px;
    padding: 150px 0 85px;
    overflow: hidden;

    @include breakpoint(medium) {
        height: 750px;
        padding: 204px 0 85px;
    }

    @include breakpoint(large) {
        height: 100vh;
        padding: 0;
    }
}

.block__slide {
    .block_home-slider & {
        width: 100%;
        height: 100%;

        @include breakpoint(large) {
            position: absolute;
            top: 0;
        }
    }
}

.block__background-image {
    .block_home-slider & {
        position: absolute;
        top: 0;
        z-index: -1;
        display: block;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 0.8s opacity, 0.8s visibility;
        transition-timing-function: ease-in-out;
    }
}

.block__background-image_active {
    .block_home-slider & {
        visibility: visible;
        opacity: 1;
    }
}

.block__background-gradient {
    .block_home-slider & {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #31033a 0%, #3d2d9a 100%);
        opacity: 0.8;

        @include breakpoint(medium) {
            background:
                linear-gradient(
                    to right,
                    rgba(56, 7, 83, 0.9) 15%,
                    rgba(61, 45, 154, 0.8) 50%,
                    rgba(125, 185, 232, 0) 100%
                );
            opacity: 1;
        }
    }
}

.block__inner {
    .block_home-slider & {
        @include flex-grid-row;
        align-items: center;
        position: relative;
        z-index: 1;

        @include breakpoint(large) {
            top: 50%;
            margin-top: 50px;
            transform: translate(0, -50%);
        }

        @include breakpoint(xlarge) {
            margin-top: 0;
        }
    }
}

.block__main {
    .block_home-slider & {
        @include flex-grid-column(12);
        z-index: 1;

        @include breakpoint(large) {
            @include flex-grid-column(6);
            @include grid-column-offset(1);
        }
    }
}

.block__pagination {
    .block_home-slider & {
        @include global-pagination;
        color: $white;
    }
}

.block__pagination + .block__content {
    .block_home-slider & {
        margin-top: 10px;
    }
}

.block__content {
    .block_home-slider & {
        position: relative;
        transition: 0.4s height;
        transition-timing-function: ease;
    }
}

.block__content + .block__navigation {
    .block_home-slider & {
        margin-top: 50px;
    }
}

.block__copy-wrap {
    .block_home-slider & {
        position: absolute;
        top: 0;
        left: 0;
        visibility: hidden;
        opacity: 0;
        transition: 0.8s visibility, 0.8s opacity, 0.8s position;
        transition-timing-function: ease-in-out;
    }
}

.block__copy__wrap_active {
    .block_home-slider & {
        position: relative;
        visibility: visible;
        opacity: 1;
    }
}

.block__heading {
    .block_home-slider & {
        @include hero-primary-text("light");
        max-width: 500px;
        color: $white;
    }
}

.block__heading + .block__ul {
    .block_home-slider & {
        margin-top: 40px;
    }
}

.block__ul {
    .block_home-slider & {
        font-size: 0;
    }
}

.block__li {
    .block_home-slider & {
        @include breakpoint(medium) {
            display: inline-block;
        }

        @include breakpoint(large) {
            display: block;
        }

        @include breakpoint(xlarge) {
            display: inline-block;
        }
    }
}

.block__li + .block__li {
    .block_home-slider & {
        margin: 20px 0 0;

        @include breakpoint(medium) {
            margin: 0 0 0 20px;
        }

        @include breakpoint(large) {
            margin: 20px 0 0;
        }

        @include breakpoint(xlarge) {
            margin: 0 0 0 20px;
        }
    }
}

.block__button {
    .block_home-slider & {
        @include button-hero();
        display: block;
    }
}

.block__navigation {
    .block_home-slider & {
        font-size: 0;
    }
}

.block__navigation + .block__anchor {
    margin-top: 60px;
}

.block__navigation__item {
    .block_home-slider & {
        display: inline-block;
    }
}

.block__navigation__item + .block__navigation__item {
    .block_home-slider & {
        margin-left: 20px;
    }
}

.block__navigation__button {
    .block_home-slider & {
        display: block;
        width: 40px;
        height: 2px;
        padding: 0;
        cursor: pointer;
        background-color: $white;
        border: 0;
        border-radius: 0;
        apperance: none;
        opacity: 0.2;
        transition: 0.4s opacity;
        transform: translateZ(0);

        &:hover {
            opacity: 0.6;
            transform: translateZ(0);
        }

        &:focus {
            opacity: 1;
        }
    }
}

.block__navigation__button_active {
    .block_home-slider & {
        opacity: 1;
    }
}

.block__jumplink-container {
    .block_home-slider & {
        margin-top: 50px;
    }
}
