.block_comparisons {
    @include flex-grid-row;

    padding-top: 50px;
    padding-bottom: 50px;
}

.block_comparison {
    @include flex-grid-column(12);

    margin-top: 30px;

    @include breakpoint(medium) {
        @include flex-grid-column(6);
    }
}

.block__heading {
    .block_comparisons & {
        @include flex-grid-column(12);
        @include heading-component-large-text("dark");

        margin-bottom: 10px;
    }

    .block_comparison & {
        @include heading-component-medium-text("dark");

        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
    }
}

.block__inner {
    .block_comparison & {
        position: relative;
        padding: 40px;
        background-color: $gray-bg;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 2px;
            content: "";
            background-color: $blue-light;
            transition: transform 0.7s;
            transform-style: preserve-3d;
        }

        &:hover {
            &::after {
                transform: scale(1, 2);
            }
        }
    }
}

.block__item-heading {
    .block_comparison & {
        @include heading-inline-text("dark");

        margin-top: 25px;
    }
}

.block__item-copy {
    .block_comparison & {
        @include body-small-text("dark");

        margin-top: 10px;
    }
}

.block__cta {
    .block_comparison & {
        @include text-link("dark");

        margin-top: 30px;
    }
}
