// Single Article

.block_news-article,
.block_news-article_featured {
    background-image: url("/svg/slanted-lines-horizontal.svg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto 11px;
}

.block_news-article {
    padding: 50px 0 0;

    @include breakpoint(medium) {
        padding: 35px 0 0;
    }
}

.block_news-article_feature {
    padding: 35px 0 0;
}

.block__date {
    .block_news-article & {
        @include global-pagination();
        color: $blue-medium;
    }
}

.block__date + .block__heading {
    .block_news-article & {
        margin-top: 10px;
    }
}

.block__heading {
    .block_news-article & {
        @include heading-small-card-title-text("dark");
    }
}

.block__heading + .block__copy {
    .block_news-article & {
        margin-top: 10px;
    }
}

.block__copy {
    .block_news-article & {
        @include body-small-text("dark");
    }
}

.block__copy + .block__cta {
    .block_news-article & {
        margin-top: 20px;
    }
}

.block__cta {
    .block_news-article & {
        @include text-link("dark");
    }
}
