.block_intro {
    position: relative;
    padding: 60px 0;
    overflow: hidden;

    @include breakpoint(medium) {
        padding: 100px 0;
    }
}

.block__inner {
    .block_intro & {
        @include flex-grid-row;
    }
}

.block__main {
    .block_intro & {
        @include flex-grid-column(12);

        @include breakpoint(medium) {
            @include flex-grid-column(7);
        }
    }
}

.block__secondary {
    .block_intro & {
        @include flex-grid-column(12);
        position: relative;
        margin-top: 60px;

        @include breakpoint(medium) {
            @include flex-grid-column(5);
            margin-top: 0;
        }

        @include breakpoint(large) {
            @include flex-grid-column(4);
            @include grid-column-offset(1);
        }

        &::before {
            content: "";

            @include breakpoint(medium) {
                position: absolute;
                top: -100px;
                left: 15px;
                width: 50vw;
                height: 20px;
                background-color: $blue-dark;
            }
        }
    }
}

.block__heading {
    .block_intro & {
        @include subheading-component-text();
        color: $black;

        &::before {
            display: inline-block;
            width: 25px;
            height: 1px;
            margin-right: 15px;
            vertical-align: middle;
            content: "";
            background-color: $cyan;
        }
    }
}

.block__heading + .block__copy {
    .block_intro & {
        margin-top: 25px;
    }
}

.block__copy {
    .block_intro & {
        @include body-text("dark");
    }
}

.block__action-menu + .block__side-menu {
    .block_intro & {
        margin-top: 30px;
    }
}

.block__action-menu + .block__contact__top {
    .block_intro & {
        margin-top: 60px;
    }
}

.block__action-menu__item + .block__action-menu__item {
    .block_intro & {
        margin-top: 10px;
    }
}

.block__action-menu__button {
    .block_intro & {
        @include button-filled("blue-medium");
        width: 100%;
        background-color: $blue-dark;
    }
}

.block__side-menu {
    .block_intro & {
        padding: 30px 25px;
        background-color: $gray-bg;

        @include breakpoint(xlarge) {
            padding: 40px 30px;
        }
    }
}

.block__side-menu__item + .block__side-menu__item {
    .block_intro & {
        margin-top: 40px;
    }
}

.block__side-menu__button {
    .block_intro & {
        @include button-primary-text;
        position: relative;
        display: block;
        font-weight: 600;
        color: $blue-medium;

        .icon-button-arrow {
            display: none;

            @include breakpoint(large) {
                position: absolute;
                top: 0;
                right: 0;
                display: inline-block;
                width: 17px;
                height: 12px;
                fill: $cyan;
                transition: transform $transition-medium ease;
                transform: translate(0, 2px);
            }
        }

        &:hover {
            .icon-button-arrow {
                // stylelint-disable-next-line max-nesting-depth
                @include breakpoint(large) {
                    transform: translate(5px, 2px);
                }
            }
        }

        @include breakpoint(large) {
            padding-right: 20px;
        }
    }
}

.block__subheading {
    .block_intro & {
        @include subheading-component-text();
        color: $black;
    }
}

.block__subheading + .block__social-menu,
.block__subheading + .block__name {
    .block_intro & {
        margin-top: 20px;
    }
}

.block__social-menu__item + .block__social-menu__item {
    .block_intro & {
        border-top: 1px solid $gray-light;
    }
}

.block__social-menu__link {
    .block_intro & {
        @include hero-body-text();
        position: relative;
        display: block;
        padding: 22px 0;

        .icon-button-arrow {
            position: absolute;
            top: 50%;
            right: 0;
            display: block;
            width: 17px;
            height: 12px;
            fill: $cyan;
            transition: transform $transition-medium ease;
            transform: translateY(-50%);
        }

        &:hover {
            .icon-button-arrow {
                transform: translate(5px, -50%);
            }
        }
    }
}

.block__social-menu__icon {
    .block_intro & {
        display: inline-block;
        width: 25px;
        height: 25px;
        margin-right: 25px;
        vertical-align: middle;
        fill: $cyan;
    }
}

.block__name {
    .block_intro & {
        @include heading-contact-side-panel-text("dark");
    }
}

.block__name + .block__title {
    .block_intro & {
        margin-top: 5px;
    }
}

.block__title {
    .block_intro & {
        @include heading-faculty-sub-text("dark");
    }
}

.block__title--2 {
    .block_intro & {
        @include heading-heavy-sub-text("dark");
    }
}

.block__contact__top {
    .block_intro & {
        padding-bottom: 25px;
        border-bottom: 1px solid $gray-light;
    }
}

.block__contact__bottom {
    .block_intro & {
        padding-top: 25px;
    }
}

.block__contact__node {
    .block_intro & {
        max-width: 164px;
        padding-bottom: 25px;
    }
}

.block__contact__node + .block__contact__node {
    .block_intro & {
        padding-top: 25px;
        border-top: 1px solid $gray-light;
    }
}

.block__img {
    .block_intro & {
        float: right;
        width: 130px;
        border-radius: 50%;

        @include breakpoint(large) {
            width: 140px;
        }
    }
}
