.block_inset-text {
    position: relative;
    margin-top: 110px;
    margin-bottom: 110px;
}

.block__inner {
    .block_inset-text & {
        @include flex-grid-row;

        @include breakpoint(large) {
            padding-top: 90px;
            padding-bottom: 80px;
        }
    }
}

.block__main {
    .block_inset-text & {
        @include flex-grid-column(12);

        position: relative;
        margin-top: -115px;

        @include breakpoint(large) {
            @include flex-grid-column(7);

            margin-top: 0;
            background-color: $purple-darker;

            &::before {
                @include lines-pattern;

                position: absolute;
                top: -20px;
                left: 0;
                z-index: -1;
                display: block;
                width: 100%;
                height: calc(100% + 40px);
                content: "";
            }
        }
    }
}

.block__main-inner {
    .block_inset-text & {
        padding: 30px;
        background-color: $purple-darker;

        @include breakpoint(large) {
            padding: 80px;
        }
    }
}

.block__secondary {
    .block_inset-text & {
        width: 100%;

        @include breakpoint(large) {
            position: absolute;
            top: 0;
            right: 0;
            width: 65vw;
            height: 100%;
        }

        @include breakpoint(xxlarge) {
            right: calc(50vw - #{map-get($breakpoints, xxlarge) / 2});
            width: 1040px;
        }
    }
}

.block__secondary-inner {
    .block_inset-text & {
        position: relative;
        height: 100%;

        &::after {
            position: absolute;
            top: 10px;
            left: 10px;
            display: block;
            width: calc(100% - 20px);
            height: calc(100% - 20px);
            content: "";
            border: 1px $cyan solid;
        }

        @include breakpoint(large) {
            &::after {
                top: 35px;
                left: 35px;
                width: calc(100% - 70px);
                height: calc(100% - 70px);
            }
        }
    }
}

.block__heading {
    .block_inset-text & {
        @include heading-component-large-text("light");
    }
}

.block__copy {
    .block_inset-text & {
        margin-top: 20px;

        @include wysiwyg("light");
    }
}

.block__image {
    .block_inset-text & {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.block__cta-container {
    .block_inset-text & {
        margin-top: 20px;
    }

    & + & {
        .block_inset-text & {
            margin-top: 0;
        }
    }
}

.block__cta {
    .block_inset-text & {
        @include text-link("light");

        margin-top: 0;
        margin-right: auto;
    }
}
