.block_courses {
    position: relative;
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: $gradient-quote;

    @include breakpoint(large) {
        @include lines-pattern;

        background-position: 0 100%;

        &::before {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 370px;
            content: "";
            background-image: url("/svg/lattice.svg"), $gradient-quote;
            background-repeat: no-repeat;
            background-position: 100%;
        }
    }
}

.block_course {
    @include flex-grid-column(12);

    margin-bottom: 20px;

    @include breakpoint(large) {
        @include flex-grid-column(4);

        margin-bottom: 0;
    }
}

.block__inner {
    .block_courses & {
        @include flex-grid-row;
    }

    .block_course & {
        position: relative;
        max-width: 400px;
        height: 100%;
        padding: 30px 30px 40px;
        margin-right: auto;
        margin-left: auto;
        background-color: $white;

        &::after {
            position: absolute;
            bottom: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            content: "";
            background-color: $blue-lighter;
            transition: transform 0.3s;
            transform-origin: 50% 100%;
        }

        &:hover {
            &::after {
                transform: scale(1, 1.5);
            }
        }
    }
}

.block__main {
    .block_courses & {
        @include flex-grid-row;
        position: relative;
        width: 100%;
    }
}

.block__heading {
    .block_courses & {
        @include flex-grid-column(12);
        @include heading-component-large-text("light");

        position: relative;
        margin-bottom: 40px;
        text-align: center;

        @include breakpoint(large) {
            text-align: left;
        }
    }

    .block_course & {
        @include heading-component-medium-text("dark");

        padding-right: 0;
        padding-left: 0;
        margin-bottom: 0;
        text-align: left;

        &::after {
            display: block;
            width: 30px;
            height: 1px;
            margin-top: 20px;
            margin-bottom: 30px;
            content: "";
            background-color: $blue-lighter;
        }
    }
}

.block__copy {
    .block_course & {
        @include body-text("dark");
    }
}

.block__cta {
    .block_courses & {
        @include button-filled("blue-medium");

        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;
    }

    .block_course & {
        @include text-link("dark");

        display: flex;
        align-items: center;
        margin-top: 30px;
        margin-left: 0;
    }
}
