.calendar {
    @include flex-grid-row;

    padding-top: 50px;
    padding-bottom: 50px;

    @include breakpoint(large) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.calendar__select-container {
    @include flex-grid-column(12);

    margin-bottom: 30px;

    @include breakpoint(large) {
        display: none;
    }
}

.calendar__select {
    @include body-text;

    width: 100%;
    padding: 26px 30px;
    color: $black;
    cursor: pointer;
    border: 2px $blue-dark solid;
}

.calendar__input-inner,
.calendar__select-inner {
    position: relative;
}

.calendar__select-inner {
    .box__select-arrow {
        fill: $blue-dark;
    }
}

.calendar__tablist {
    @include flex-grid-column(12);

    display: none;

    @include breakpoint(large) {
        @include flex-grid-size(3);

        display: flex;
        flex-direction: column;
    }
}

.calendar__tab {
    @include tab-side;

    margin-top: 20px;
    cursor: pointer;

    &:first-of-type {
        margin-top: 0;
    }
}

.calendar__panels {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(9);
    }
}

.calendar__panels-inner {
    padding: 25px 30px;
    background-color: $gray-bg;

    @include breakpoint(large) {
        padding: 50px 60px;
    }
}

.calendar__panel {
    @include flex-grid-row("nest");

    display: none;

    &.expanded {
        display: block;
    }
}

.calendar__panel-heading,
.calendar__panel-subheading,
.calendar__panel-sections {
    @include flex-grid-column(12);
}

.calendar__panel-heading {
    @include heading-component-large-text("dark");
}

.calendar__panel-subheading {
    @include heading-inline-text("dark");

    @include breakpoint(large) {
        margin-top: 10px;
    }
}

.calendar__panel-sections {
    @include breakpoint(large) {
        margin-top: 10px;
    }
}

.calendar__panel-sections-inner {
    @include flex-grid-row("nest");
}

.calendar__panel-section-heading,
.calendar__panel-subsections {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-size(6);

        margin-top: 50px;
    }
}

.calendar__panel-section-heading {
    @include heading-graduate-program-text("dark");

    margin-top: 20px;
}

.calendar__panel-subsections {
    margin-top: 10px;

    @include breakpoint(large) {
        padding-bottom: 40px;
        margin-top: 20px;
    }
}

.calendar__panel-subsection-heading {
    @include heading-inline-text("dark");

    margin-top: 20px;

    &:first-of-type {
        margin-top: 0;
    }
}

.calendar__panel-subsection-copy {
    @include body-text("dark");

    margin-top: 5px;

    @include breakpoint(large) {
        margin-top: 10px;
    }
}

.calendar__panel-cta-container {
    @include breakpoint(large) {
        text-align: center;
    }
}

.calendar__panel-cta {
    @include button-filled("blue-medium");

    margin-top: 50px;
}
