.course-list {
    @include flex-grid-row;

    padding-top: 40px;
    padding-bottom: 20px;

    @include breakpoint(large) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.course-list__heading {
    @include flex-grid-column(12);
    @include heading-component-large-text("dark");

    position: relative;

    @include breakpoint(large) {
        text-align: center;
    }

    &::before {
        display: block;
        width: 100%;
        height: 10px;
        margin-bottom: 20px;
        content: "";
        background-image: url("/svg/slanted-lines-horizontal-repeatable.svg");
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: auto 100%;

        @include breakpoint(large) {
            background-position: 50% 50%;
        }
    }
}

.course-list__courses {
    @include flex-grid-column(12);

    margin-top: 15px;

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);

        margin-top: 40px;
    }
}

.course-list-item {
    @include flex-grid-row("nest");

    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;

    @include breakpoint(large) {
        min-height: 370px;
        padding: 45px 50px;
        background-color: $gray-bg;
    }
}

.course-list-item__primary,
.course-list-item__secondary {
    @include flex-grid-column(12);

    background-color: $gray-bg;

    @include breakpoint(large) {
        @include flex-grid-size(6);
    }
}

.course-list-item__primary,
.course-list-item__secondary-inner {
    @include breakpoint(large) {
        display: flex;
        flex-direction: column;
    }
}

.course-list-item__primary {
    padding-top: 30px;

    @include breakpoint(large) {
        padding-top: 0;
    }
}

.course-list-item__secondary {
    padding-top: 40px;
    padding-bottom: 30px;

    @include breakpoint(large) {
        padding-top: 0;
        padding-bottom: 0;
        margin-top: 0;
    }
}

.course-list-item__secondary-inner {
    @include breakpoint(large) {
        height: 100%;
        padding-left: 30px;
    }
}

.course-list-item__heading {
    @include heading-exec-ed-text("dark");
}

.course-list-item__copy {
    @include body-small-text("dark");

    margin-top: 10px;

    @include breakpoint(large) {
        margin-top: 15px;
    }
}

.course-list-item__cta-container {
    margin-top: 20px;

    @include breakpoint(large) {
        margin-top: auto;
    }

    .block__cta {
        @include text-link("dark");

        padding-top: 0;
        padding-bottom: 0;

    }
}

.course-list-item__date,
.course-list-item__no-upcoming-sessions {
    @include program-date-text("dark");
}

.course-list-item__meeting-quantity,
.course-list-item__meeting-info {
    @include body-small-text("dark");

    margin-top: 10px;
}

.course-list-item__meeting-quantity {
    margin-top: 0;
}

.course-list-item__meeting-info {
    margin-top: 5px;
}

.course-list-item__buttons {
    margin-top: 15px;

    @include breakpoint(large) {
        margin-top: auto;
    }
}

.course-list-item__save {
    @include button-outlined("dark");
}

.course-list-item__register,
.course-list-item__notify,
.course-list-item__save {
    width: 100%;
    margin-top: 10px;
    cursor: pointer;
}

.course-list-item__register {
    @include button-filled("blue-medium");
}

.course-list-item__notify {
    @include button-filled("blue-light");
}
