.footer {
    position: relative;
    padding: 40px 0;
    overflow: hidden;
    background-color: $black-bg;

    @include breakpoint(large) {
        padding: 65px 0;
    }
}

.footer__accent {
    position: absolute;
    top: -40px;
    right: 0;
    width: 307px;
    height: 39.39px;
    transform: rotate(-90deg);
    transform-origin: bottom right;

    @include breakpoint(medium) {
        top: 0;
        transform: rotate(0deg);
    }

    @include breakpoint(large) {
        width: 510px;
        height: 65.44px;
    }
}

.footer__content {
    @include flex-grid-row;
}

.footer__logo__wrap {
    @include flex-grid-column(12);
    margin-bottom: 40px;

    @include breakpoint(medium) {
        margin-bottom: 46px;
    }
}

.footer__logo__svg,
.footer__logo__svg_mobile {
    fill: $white;
}

.footer__logo__svg {
    display: block;
    width: 300px;
    height: 27.52px;
}

.footer__nav-group {
    @include flex-grid-column(12);
    overflow: hidden;

    @include breakpoint(medium) {
        @include flex-grid-column(3);
    }

    &:hover {
        .footer__nav__rule {
            width: 100%;
        }
    }
}

.footer__nav-top-level {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.footer__nav-group + .footer__nav-group {
    margin-top: 20px;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.footer__nav-group__info {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.footer__nav {
    display: none;

    @include breakpoint(medium) {
        display: block;
    }
}

.footer__nav__title {
    @include footer__title;
    position: relative;
    display: inline-block;
    color: $white;
}

.footer__nav__rule {
    display: none;
    content: "";
    transition: 0.2s width;

    @include breakpoint(medium) {
        position: relative;
        display: block;
        width: 30px;
        height: 1px;
        margin-top: 15px;
        margin-bottom: 25px;
        background-color: $blue-light;
    }
}

.footer__nav__item + .footer__nav__item {
    margin-top: 10px;
}

.footer__nav__link {
    @include header__dropdown__item;
    color: $white;
    transition: 0.2s color;

    &:hover {
        color: $gray-dark;
    }
}

.footer__externals {
    @include flex-grid-column(12);
    font-size: 0;

    @include breakpoint(medium) {
        display: flex;
    }

    @include breakpoint(large) {
        @include flex-grid-column(8);
    }
}

.footer__externals,
.footer__social {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 50px;
    }
}

.footer__externals__item + .footer__externals__item {
    margin: 20px 0 0;

    @include breakpoint(medium) {
        margin: 0 0 0 30px;
    }
}

.footer__externals__link {
    @include footer__externals;
    color: $blue-lighter;
    transition: 0.2s color;

    &:hover {
        color: $gray-dark;
    }
}

.footer__social {
    @include flex-grid-column(12);
    display: flex;
    align-self: flex-start;
    font-size: 0;

    @include breakpoint(large) {
        @include flex-grid-column(4);
        justify-content: flex-end;
    }
}

.footer__social__item + .footer__social__item {
    margin-left: 15px;
}

.footer__social__cta {
    display: inline-block;
    background-color: rgb(119, 119, 119);
    border-radius: 50%;
    transition: 200ms background-color;

    &:hover,
    &:focus {
        background-color: $blue-light;
    }
}

.footer__social__svg {
    width: 30px;
    height: 30px;
    fill: $black-bg;
}
