.form-long {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $gray-bg;
}

.form-long__form {
    @include flex-grid-row;
}

.form-long__checkboxes {
    @include flex-grid-column(12);
}

.form-long__checkboxes-inner,
.form-long__contact-inner,
.form-long__timeline-inner {
    @include flex-grid-row("nest");
}

.form-long__subfieldset {
    @include flex-grid-column(12);

    margin-top: 50px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);
    }

    @include breakpoint(large) {
        @include flex-grid-size(3);
    }
}

.form-long__subfieldset_large {
    @include breakpoint(medium) {
        @include flex-grid-size(12);
    }

    @include breakpoint(large) {
        @include flex-grid-size(6);
    }
}

.form-long__subfieldset-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-long__contact,
.form-long__timeline {
    @include flex-grid-column(12);

    margin-top: 80px;

    @include breakpoint(large) {
        @include flex-grid-size(8);
        @include grid-column-offset(2);
    }
}

.form-long__heading {
    @include heading-component-medium-text("dark");

    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

.form-long__heading_inner {
    @include flex-grid-column(12);
}

.form-long__subheading {
    @include heading-inline-text("dark");

    margin-bottom: 17px;
}

.form-long__checkbox-label {
    @include body-text("dark");

    position: relative;
    display: inline-block;
    width: 100%;
    padding-left: 30px;
    cursor: pointer;

    @include breakpoint(medium) {
        .form-long__subfieldset_large & {
            width: 50%;
        }
    }
}

.form-long__checkbox {
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    cursor: pointer;
    background-color: $white;
    border: 1px $gray-medium solid;
    opacity: 0;
    appearance: none;
    transform: translate(0, 3px);

    &:checked,
    &.active {
        background-color: $blue-lighter;
        border-color: $blue-lighter;
    }
}

.form-long__checkbox-psuedo {
    position: absolute;
    top: 3px;
    left: 0;
    width: 17px;
    height: 17px;
    margin: 0;
    cursor: pointer;
    background-color: $white;
    border: 1px $gray-medium solid;
    appearance: none;
    transform: translate(0, 3px);
}

.form-long__checkbox:checked + .form-long__checkbox-psuedo {
    background-color: $blue-lighter;
    border-color: $blue-lighter;
}

.form-long__select-container,
.form-long__input-container {
    @include flex-grid-column(12);

    margin-top: 20px;

    &_half {
        @include breakpoint(large) {
            @include flex-grid-size(6);
        }
    }
}

.form-long__select,
.form-long__input {
    @include body-text;

    width: 100%;
    padding: 26px 30px;
    color: $black;
    border: 2px $blue-dark solid;
}

.form-long__select {
    cursor: pointer;
}

.form-long__input-inner,
.form-long__select-inner {
    position: relative;
}

.select-down-arrow {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 20px;
    height: 18px;
    pointer-events: none;
    fill: $blue-dark;
    transform: translateY(-50%);
}

.form-long__form-label {
    @include body-text;

    position: absolute;
    top: 28px;
    left: 32px;
    z-index: 1;
    width: auto;
    color: $gray-dark;
    pointer-events: none;
    transition: transform $transition-medium ease;
    transform: translate(-18px, -24px) scale(0.8);
    transform-origin: 0 50%;

    .empty + & {
        transform: none;
    }

    .empty:focus + & {
        transform: translate(-18px, -24px) scale(0.8);
    }
}

.form-long__submit {
    @include button-filled("blue-medium");

    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
}
