.form-expandable {
    padding-top: 80px;
    padding-bottom: 40px;
    background-color: $purple-dark;
}

.form-expandable__inner {
    @include flex-grid-row;
}

.form-expandable__subheading,
.form-expandable__copy,
.form-expandable__form,
.form-expandable__expand-button-container {
    @include flex-grid-column(12);

    text-align: center;

    @include breakpoint(large) {
        @include flex-grid-column(8);
        @include grid-column-offset(2);
    }
}

.form-expandable__subheading {
    @include subheading-component-text("light");
}

.form-expandable__copy {
    @include body-text("light");

    margin-top: 20px;
}

.form-expandable__expand-button {
    @include button-toggle;

    margin-top: 30px;
    text-align: center;
}

.form-expandable__form {
    max-height: 0;
    margin-top: 40px;
    overflow: hidden;
    transition: max-height $transition-long ease;

    &.expanded {
        max-height: 800px;
    }
}

.form-expandable__input,
.form-expandable__select {
    @include body-small-text("dark");

    display: block;
    width: 100%;
    padding: 26px 30px;
}

.form-expandable__input-container,
.form-expandable__select-container {
    margin-top: 20px;
}

.form-expandable__input-label,
.form-expandable__select-label {
    position: relative;
}

.form-expandable__label-text {
    @include body-small-text;

    position: absolute;
    top: 28px;
    left: 32px;
    color: $gray-medium;
    pointer-events: none;
    transition: transform $transition-medium ease;
    transform: translate(-18px, -25px) scale(0.9);
    transform-origin: 0 50%;

    .empty + & {
        transform: none;
    }

    .empty:focus + & {
        transform: translate(-18px, -25px) scale(0.9);
    }
}

.form-expandable__select-container {
    position: relative;
}

.form-expandable__select {
    position: relative;
    cursor: pointer;
    border-radius: 0;
    appearance: none;
}

.form-expandable__submit {
    @include button-outlined("light");

    margin-top: 50px;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
        background-color: $purple-medium;
    }
}
