/* stylelint-disable */
body {
    padding-top: 119px;
    transition: 0.3s padding-top;

    @include breakpoint(large) {
        padding-top: 170px;
    }

    &.fixed {
        padding-top: 77px;
    }

    &.body_home {
        padding-top: 0;
    }
}
/* stylelint-enable */

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: none;
    width: 100%;
    height: 170px;
    padding: 40px 0 28px;
    background-color: $white;
    border-bottom: 1px solid $gray-light;
    transition: transform 0.3s, background-color 0.3s, background 0.3s, height 0.3s, border-bottom 0.3s;

    @include breakpoint(large) {
        display: block;
    }

    &.fixed {
        height: 142px;
        transform: translateY(-65px);

        .header__breadcrumbs {
            transform: translate(-100vw, 50%);
        }

        .header__favorites-btn {
            top: 20px;
            color: $black;
        }
    }
}

.header.purple {
    background:
        linear-gradient(
            to bottom,
            rgba(61, 45, 154, 1) 10%,
            rgba(125, 185, 232, 0) 100%
        );
    background-color: transparent;
    border-bottom: 0 solid transparent;

    .header__breadcrumbs {
        transform: translate(-100vw, 50%);
    }

    .header__logo {
        fill: $white;
    }

    .header__action-nav__link,
    .header__main-nav__link {
        color: $white;
    }

    .header__arrow-icon,
    .header__search-btn__svg {
        fill: $white;
    }

    .header__action-nav__logo .group1,
    .header__action-nav__logo .group2 {
        fill: $white;
    }

    .header__action-nav {
        border-right: 1px solid $white;
    }
}

//Scaffolding

.header__container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header__top,
.header__bottom {
    &::after {
        display: table;
        clear: both;
        content: "";
    }
}

.header__top + .header__bottom {
    margin-top: 34px;
}

.header__bottom {
    display: flex;
}

.header__logo {
    float: left;
    width: 358px;
    height: 12px;
    fill: $blue-medium;
    transition: 0.3s fill;
}

//Nav (Shared styles)

.header__action-nav,
.header__main-nav {
    font-size: 0;
}

.header__action-nav__item,
.header__main-nav__item {
    display: inline-block;
}

.header__action-nav__link,
.header__main-nav__link {
    transition: color 0.3s;
}

//Action Nav

.header__action-nav__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 100%;
    max-width: 600px;
    text-align: right;
}

.header__action-nav {
    flex: 1;
    align-self: flex-start;
    max-height: 19px;
    padding: 0 30px 0 0;
    margin: 3px 30px 0 0;
    border-right: 1px solid $gray-medium;
    transition: border 0.2s;
}

.header__action-nav__logo {
    width: 121px;
    height: 24.14px;

    .group1,
    .group2 {
        transition: 0.3s fill;
    }

    .group1 {
        fill: #510c76;
    }

    .group2 {
        fill: $purple-pink;
    }
}

.header__action-nav__item {
    position: relative;
    padding: 2px 0 6px;
}

.header__action-nav__item + .header__action-nav__item {
    margin-left: 30px;
}

.header__action-nav__link {
    @include header__navigation__item;
    letter-spacing: 2px;

    &:hover {
        color: $purple-pink;
    }

    &.arrowed {
        position: relative;
        display: block;
        padding-right: 26px;
    }
}

.header__arrow-icon {
    position: absolute;
    top: 2px;
    right: 0;
    width: 15px;
    fill: $purple-pink;
    transition: fill 0.3s;
}

//Main Nav

.header__main-nav {
    &:hover {
        .header__main-nav__link {
            color: $gray-medium;
        }
    }
}

.header__main-nav__item {
    padding-right: 15px;
    padding-bottom: 12px;

    @include breakpoint(xlarge) {
        padding-right: 27px;
    }

    &:hover {
        .header__main-nav__link {
            color: $black;
        }
    }

    &:last-child {
        padding-right: 0;
    }
}

.header__main-nav__item + .header__main-nav__item {
    padding-left: 15px;

    @include breakpoint(xlarge) {
        padding-left: 27px;
    }
}

.header__main-nav__link {
    @include header__navigation__item;
    color: $black;
}

//Dropdwon

.header__dropdown {
    position: absolute;
    top: 125px;
    left: 0;
    z-index: 2;
    width: 100vw;
    padding: 40px 0 70px;
    margin-left: calc(-50vw + 50%);
    pointer-events: none;
    user-select: none;
    background-color: $white;
    border-bottom: 1px solid $gray-light;
    opacity: 0;
    transition: opacity 200ms;

    &.small {
        top: 15px;
        left: -55px;
        width: 248px;
        padding: 40px 55px 50px;
        margin-left: auto;
    }
}

.header__dropdown:focus-within,
.header__dropdown:hover {
    pointer-events: all;
    user-select: all;
    opacity: 1;
    transition: opacity 200ms;
}

.header__main-nav__item:hover,
.header__main-nav__item:focus {
    .header__dropdown {
        pointer-events: all;
        user-select: all;
        opacity: 1;
        transition: opacity 200ms;
    }
}

.header__main-nav__link:hover + .header__dropdown,
.header__main-nav__link:focus + .header__dropdown,
.header__action-nav__link:hover + .header__dropdown,
.header__action-nav__link:focus + .header__dropdown {
    pointer-events: all;
    user-select: all;
    opacity: 1;
    transition: opacity 200ms;
}

.header__dropdown__title {
    @include header__navigation__item;
    position: relative;
    display: table;
    padding-bottom: 16px;
    margin-bottom: 16px;

    &::after {
        position: absolute;
        bottom: 0;
        display: block;
        width: 25px;
        height: 1px;
        content: "";
        background-color: $cyan;
        transition: 0.3s width;
    }
}

.header__dropdown__title,
.header__drop-nav__link {
    transition: 0.2s color;

    &:hover {
        color: $purple-pink;
    }
}

.header__dropdown__content {
    @include flex-grid-row;
    justify-content: center;
}

.header__dropdown__col {
    @include flex-grid-column(3);

    &:hover {
        .header__dropdown__title::after {
            width: 100%;
        }
    }
}

.header__drop-nav__item + .header__drop-nav__item {
    margin-top: 16px;
}

.header__drop-nav__link {
    @include header__dropdown__item;
}

//Breadcrumbs

.header__breadcrumbs {
    position: absolute;
    bottom: 0;
    max-width: calc(100vw - 20px);
    padding: 15px 0;
    white-space: nowrap;
    transition: transform 0.3s;
    transition-delay: 0.3s;
    transform: translate(0, 50%);

    @include breakpoint(medium) {
        padding: 15px 20px 15px 0;
    }

    @include breakpoint(large) {
        padding: 15px 30px 15px 0;
        transition: transform 0.6s;
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        min-width: 100vw;
        height: 100%;
        content: "";
        background: #000060;
        background:
            linear-gradient(
                to right,
                #000060 0%,
                #6c00cf 100%
            );
    }
}

.header__breadcrumbs__inner-wrap {
    overflow: scroll;
}

.header__breadcrumbs__item {
    @include header__navigation__item;
    position: relative;
    z-index: 1;
    display: inline-block;
    color: $white;
    text-transform: none;
}

.header__breadcrumbs__item + .header__breadcrumbs__item {
    margin-left: 30px;

    &::before {
        position: absolute;
        top: 0;
        left: -22.5px;
        letter-spacing: 0;
        content: "//";
    }
}

.header__breadcrumbs__link {
    color: inherit;
    transition: color 0.2s;

    &:hover {
        color: $gray-medium;
    }
}

//Favorites Button

.header__favorites-btn {
    @include header__special-link;
    padding: 0;
    color: $white;
    cursor: pointer;
    background: none;
    border: 0;
    transition: color 0.3s, top 0.3s;

    &.header__favorites-btn_black {
        color: $black;
    }
}

.header__favorites-btn + .header__favorites__list {
    margin-top: 18px;
}

.header__favorites-btn__heart {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin: 2px 8px 0 0;
    fill: $pink;
}

//Search Button

.header__search-btn {
    display: block;
    float: right;
    height: 19px;
    padding: 0;
    margin-left: auto;
    background: none;
    border: 0;

    &:hover {
        cursor: pointer;

        .header__search-btn__svg {
            fill: $purple-pink;
        }
    }
}

.header__search-btn[aria-expanded="true"] {
    .header__search-btn__svg {
        fill: $blue-medium;
    }
}

.header__search-btn__svg {
    width: 20px;
    fill: $black;
    transition: fill 0.3s;
}

//Favorite Menu

.header__favorites {
    position: fixed;
    top: 119px;
    right: -100vw;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 119px);
    padding: 55px 20px;
    overflow: scroll;
    visibility: hidden;
    background-color: $white;
    border-left: 1px solid $gray-light;
    transition: transform 0.3s, height 0.3s, visibility 0.3s, right 0.3s;

    @include breakpoint(large) {
        top: 170px;
        height: calc(100vh - 170px);
        padding: 62px 82px;
    }

    @include breakpoint(xlarge) {
        width: 50vw;
    }

    &.fixed {
        height: calc(100vh - 95px);
        transform: translateY(-24px);

        @include breakpoint(large) {
            height: calc(100vh - 77px);
            transform: translateY(-93px);
        }
    }

    &.expanded {
        right: 0;
        visibility: visible;
    }

    .header__favorites-btn {
        display: block;
        margin: 0 0 0 auto;
    }
}

.header__favorites__item {
    width: 100%;
    padding: 30px 0;
    border-bottom: 1px solid $gray-light;
    transition: border-top 0.3s;

    &:last-child {
        border-bottom: 0;
    }

    &.fade-leave-active {
        width: calc(100% - 40px);

        @include breakpoint(large) {
            width: calc(100% - 164px);
        }
    }
}

.header__favorites__item__cell {
    display: block;

    @include breakpoint(medium) {
        display: inline-block;
        width: 220px;
    }
}

.header__favorites__item__cell:nth-child(2) {
    @include breakpoint(medium) {
        float: right;
    }
}

.header__favorites__item__cell + .header__favorites__item__cell {
    margin-top: 30px;

    @include breakpoint(medium) {
        margin-top: 0;
    }
}

.header__favorites__title {
    @include button-card-text;
    color: $black;
}

.header__favorites__title + .header__favorites__category {
    margin-top: 8px;
}

.header__favorites__category {
    @include nav-l3-text("dark");
}

.header__favorites__category + .header__favorites__dates {
    margin-top: 16px;
}

.header__favorites__dates {
    @include heading-heavy-sub-text;
    font-weight: 400;
    color: $blue-medium;
}

.header__favorites__button_normal {
    @include button-filled("blue-medium");
    width: 100%;

    @include breakpoint(medium) {
        width: auto;
    }
}

.header__favorites__button_text {
    @include link-text();
    color: $blue-light;
    background-color: transparent;
    transition: 0.2s color;

    &:hover {
        color: $gray-medium;
    }
}

.header__favorites__button {
    display: block;
    margin: 0 auto;
}

.header__favorites__button + .header__favorites__button {
    margin-top: 30px;
}

//Mobile Header

.header_mobile {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 119px;
    background-color: $white;
    border-bottom: 1px solid $gray-light;
    transition: transform 0.3s, background-color 0.3s, background 0.3s, height 0.3s, border-bottom 0.3s;

    @include breakpoint(large) {
        display: none;
    }

    &.fixed {
        height: 95px;

        .header_mobile__logo,
        .header_mobile__nav {
            transform: translate(0, 0);
        }

        .header__breadcrumbs {
            transition-delay: 0s;
            transform: translate(-100vw, 50%);
        }
    }
}

.header_mobile.purple {
    background:
        linear-gradient(
            to bottom,
            rgba(61, 45, 154, 1) 10%,
            rgba(125, 185, 232, 0) 100%
        );
    background-color: transparent;
    border-bottom: 0 solid $gray-light;

    .header_mobile__logo {
        fill: $white;
    }

    .header_mobile__search-btn__svg {
        fill: $white;
    }

    .header_mobile__hamburger__svg {
        stroke: $white;
    }

    .header__breadcrumbs {
        transform: translate(-100vw, 50%);
    }

    .header_mobile__hamburger {
         /* stylelint-disable */
        span,
        span::before,
        span::after {
            background-color: $white;
        }
        /* stylelint-enable */
    }
}

.header_mobile__inner {
    position: relative;
    top: 30px;
}

.header_mobile,
.header_mobile__drawer {
    padding: 0 20px;
}

.header_mobile__logo {
    float: left;
    width: 160px;
    fill: $blue-medium;
    transition: 0.3s fill, transform 0.2s;
}

.header_mobile__nav {
    float: right;
    margin-top: 5px;
    font-size: 0;
    transition: transform 0.2s;
}

.header_mobile__nav__item {
    display: inline-block;
    vertical-align: bottom;
}

.header_mobile__nav__item + .header_mobile__nav__item {
    margin-left: 26px;
}

.header_mobile__hamburger,
.header_mobile__search-btn {
    padding: 0;
    background: none;
    border: 0;
}

.header_mobile__search-btn {
    width: 22px;
}

.header_mobile__search-btn__svg {
    fill: $blue-medium;
    transition: 0.3s fill;
}

/* stylelint-disable */
.header_mobile__hamburger {
    position: relative;
    width: 30px;
    height: 21px;
    cursor: pointer;
    border: 0;

    &:hover span {
        width: 30px;
    }

    span,
    span::before,
    span::after {
        position: absolute;
        right: 0;
        display: block;
        // width: 30px;
        height: 2px;
        cursor: pointer;
        content: "";
        background: $blue-medium;
        border-radius: 1px;
        transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, background-color 0.3s ease-in-out, width 0.3s;
    }

    span {
        width: 22px;

        &::before {
            top: -8px;
            width: 30px;
        }

        &::after {
            bottom: -8px;
            width: 30px;
        }
    }
}

.header_mobile__hamburger[aria-expanded="true"] {
    span {
        background-color: transparent;

        &::before,
        &::after {
            top: 0;
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            top: 10px;
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}
/* stylelint-enable */

.header_mobile__hamburger__svg {
    width: 30px;
    stroke: $blue-medium;
    transition: 0.3s stroke;
}

.header_mobile__hamburger__svg:hover {
    .header_mobile__line_2 {
        transform: rotate(-45deg);
    }
}

.header_mobile__line {
    transition: 0.3s transform;
    transform-origin: 0 100% 0;
}

.header_mobile__drawer {
    position: fixed;
    top: 95px;
    left: -100vw;
    z-index: 4;
    display: block;
    width: 100vw;
    height: calc(100vh - 95px);
    padding-bottom: 80px;
    overflow: scroll;
    visibility: hidden;
    background-color: $white;
    transition: left 0.3s, visibility 0.3s;

    @include breakpoint(large) {
        display: none;
    }

    &.expanded {
        left: 0;
        visibility: visible;
    }
}

.header_mobile__drawer__item {
    padding: 24px 0;
    border-bottom: 1px solid $gray-light;
}

.header_mobile__drawer__link,
.header_mobile__action-nav__link {
    @include header__navigation__item;
}

.header_mobile__arrow-btn {
    float: right;
    padding: 0;
    background: none;
    border: 0;
    transition: transform 0.2s;
}

.header_mobile__arrow-btn[aria-expanded="true"] {
    transform: rotate(180deg);
}

.header_mobile__arrow-btn[aria-expanded="true"] + .header_mobile__sub-group {
    max-height: 3000px;
    margin-top: 30px;
    opacity: 1;
}

.header_mobile__arrow-btn__svg {
    width: 16px;
    height: 16px;
    fill: $cyan;
}

.header_mobile__sub-group {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.2s margin-top, 0.2s max-height, 0.2s opacity;
}

.header_mobile__sub-nav__title {
    @include header__navigation__item;
    display: block;
}

.header_mobile__sub-nav__title,
.header_mobile__sub-nav__link {
    color: $gray-dark;
}

.header_mobile__sub-nav__title + .header_mobile__sub-nav {
    margin-top: 20px;
}

.header_mobile__sub-nav {
    margin-left: 24px;
}

.header_mobile__sub-nav + .header_mobile__sub-nav__title {
    margin-top: 30px;
}

.header_mobile__sub-nav__item + .header_mobile__sub-nav__item {
    margin-top: 15px;
}

.header_mobile__sub-nav__link {
    @include header__dropdown__item;
}

.header_mobile__action-nav {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.header_mobile__action-nav__item + .header_mobile__action-nav__item {
    margin-left: 60px;
}
