.block_hero {
    position: relative;
    padding: 100px 0 85px;
    overflow: hidden;

    @include breakpoint(large) {
        height: calc(100vh - 170px);
        max-height: 900px;
        padding: 0;
    }

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        display: block;
        width: 52.5px;
        height: 105px;
        content: "";
        background-image: url("/svg/lattice-accent.svg");
        transform: translate(0, -50%);
    }

    &::after {
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 242px;
        height: 100%;
        content: "";
        background-image: url("/svg/lattice.svg");
    }
}

.block_hero_small {
    @include breakpoint(large) {
        max-height: 500px;
    }
}

.block__background-image {
    .block_hero & {
        position: absolute;
        top: 0;
        z-index: -1;
        display: block;
        object-fit: cover;
        min-width: 100%;
        min-height: 100%;
    }
}

.block__background-gradient {
    .block_hero & {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, #31033a 0%, #3d2d9a 100%);
        opacity: 0.8;
    }
}

.block__background-gradient_full {
    .block_hero & {
        background: linear-gradient(45deg, #31033a 0%, #3d2d9a 100%);

        @include breakpoint(xlarge) {
            background: linear-gradient(100deg, rgba(45, 0, 120, 1) 0%, rgba(44, 17, 61, 0.9) 37%, rgba(61, 45, 154, 0) 100%);
        }
    }
}

.block__inner {
    .block_hero & {
        @include flex-grid-row;
        align-items: center;
        position: relative;
        z-index: 1;

        @include breakpoint(large) {
            top: 50%;
            transform: translate(0, -50%);
        }
    }
}

.block__main {
    .block_hero & {
        @include flex-grid-column(12);
        z-index: 1;

        @include breakpoint(large) {
            @include flex-grid-column(6);
        }
    }
}

.block__secondary {
    .block_hero & {
        @include flex-grid-column(12);

        @include breakpoint(large) {
            @include flex-grid-column(6);
        }
    }
}

.block__secondary_small {
    .block_hero & {
        @include flex-grid-column(12);

        @include breakpoint(large) {
            @include flex-grid-column(5);
            @include grid-column-offset(1);
        }
    }
}

.block__image {
    .block_hero & {
        display: none;

        @include breakpoint(large) {
            display: block;
        }
    }
}

.block__subheading {
    .block_hero & {
        @include subheading-component-text;
        @include subheading-line;
        color: $white;
    }
}

.block__subheading + .block__heading {
    .block_hero & {
        margin-top: 15px;
    }
}

.block__heading {
    .block_hero & {
        @include hero-secondary-text("light");
    }
}

.block__heading + .block__copy {
    .block_hero & {
        margin-top: 30px;

        @include breakpoint(large) {
            margin-top: 25px;
        }
    }
}

.block__heading__inner-wrap {
    white-space: nowrap;
}

.block__heading__inner-wrap::after {
    .block_hero & {
        display: block;
        width: 100%;
        content: "";
        border-bottom: 2px solid $cyan;

        @include breakpoint(large) {
            width: 110%;
        }
    }
}

.block__heading__inner-wrap_long::after {
    .block_hero & {
        @include breakpoint(large) {
            width: 120%;
        }
    }
}

.block__copy {
    .block_hero & {
        @include hero-body-text("light");
    }
}

.block__copy + .block__ul,
.block__heading + .block__ul {
    .block_hero & {
        margin-top: 40px;
    }
}

.block__ul {
    .block_hero & {
        font-size: 0;
    }
}

.block__li {
    .block_hero & {
        @include breakpoint(xlarge) {
            display: inline-block;
        }
    }
}

.block__li + .block__li {
    .block_hero & {
        margin: 20px 0 0;

        @include breakpoint(xlarge) {
            margin: 0 0 0 20px;
        }
    }
}

.block__button {
    .block_hero & {
        @include button-hero;
        display: block;
    }
}

.block_registration {
    .block_hero & {
        margin-top: 50px;

        @include breakpoint(large) {
            margin-top: 0;
        }
    }
}

.block__ghost-container {
    .block_hero & {
        position: absolute;
        top: 55px;
        z-index: 1;
        width: 100%;
        height: 0;
        overflow: visible;

        @include breakpoint(large) {
            top: 62px;
        }
    }
}

.block__ghost-row {
    .block_hero & {
        @include flex-grid-row;
        padding: 0 20px;

        @include breakpoint(large) {
            padding: 0 15px;
        }
    }
}

.header__favorites-btn {
    .block_hero & {
        margin: 0 0 0 auto;
    }
}
