.link-grid {
    padding-top: 70px;
    padding-bottom: 90px;
    background-image: $gradient-quote;
}

.link-grid__inner {
    @include flex-grid-row;
}

.link-grid__heading {
    @include flex-grid-column(12);

    @include heading-component-large-text("light");
}

.link-grid__links-container {
    @include flex-grid-column(12);

    margin-top: 15px;

    @include breakpoint(medium) {
        margin-top: 10px;
    }
}

.link-grid__links {
    @include flex-grid-row($behavior: nest);
}

.link-grid__link-item {
    @include flex-grid-column(12);

    margin-top: 15px;

    @include breakpoint(medium) {
        @include flex-grid-size(6);

        margin-top: 30px;
    }

    @include breakpoint(large) {
        @include flex-grid-size(4);
    }
}

.link-grid__link {
    @include button-card;

    width: 100%;
}
