.mega-news {
    padding-top: 100px;
    padding-bottom: 100px;
}

.mega-news__button-container {
    text-align: center;
}

.mega-news__button {
    @include button-outlined("dark");

    margin-top: 60px;
    cursor: pointer;
}

.mega-news-item {
    @include flex-grid-row;

    margin-top: 60px;
}

.mega-news-item__image {
    @include flex-grid-column(12);

    order: -1;
    height: 350px;
    object-fit: cover;

    @include breakpoint(large) {
        @include flex-grid-size(5);
        @include grid-column-offset(1);

        .mega-news-item_text-left & {
            @include grid-column-offset(0);

            order: 1;
        }
    }
}

.mega-news-item__inner {
    @include flex-grid-column(12);

    margin-top: 20px;

    @include breakpoint(large) {
        @include flex-grid-size(5);

        margin-top: 0;

        .mega-news-item_text-left & {
            @include grid-column-offset(1);

            order: -1;
        }
    }

    .block__cta {
        @include text-link("dark");

        margin-top: 20px;
    }
}

.mega-news-item__date,
.mega-news-item__heading,
.mega-news-item__copy,
.block__cta {
    @include breakpoint(large) {
        .mega-news-item_text-right & {
            margin-left: 35px;
        }

        .mega-news-item_text-left & {
            margin-right: 35px;
        }
    }
}

.mega-news-item__date {
    @include subheading-numeral-text("dark");
}

.mega-news-item__heading {
    @include heading-graduate-program-text("dark");

    margin-top: 15px;
}

.mega-news-item__copy {
    @include body-text("dark");

    margin-top: 15px;
}

.mega-news-item__hr-container {
    @include flex-grid-column(12);

    order: 5;
    margin-top: 60px;

    @include breakpoint(large) {
        @include flex-grid-size(10);
        @include grid-column-offset(1);
    }
}

.mega-news-item__hr {
    height: 10px;
    margin: 0;
    background-image: url("/svg/slanted-lines-horizontal-repeatable.svg");
    background-repeat: repeat-x;
    background-position: 0 50%;
    background-size: auto 100%;
    border-width: 0;
}
