.profile-featured {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.profile-featured__inner {
    @include flex-grid-row;

    @include breakpoint(large) {
        min-height: 720px;
    }
}

.profile-featured__main {
    @include flex-grid-column(12);

    margin-top: 30px;

    @include breakpoint(large) {
        @include flex-grid-column(5);

        display: flex;
        align-items: center;
    }

    @include breakpoint(xlarge) {
        @include flex-grid-column(4);
    }
}

.profile-featured__secondary {
    @include flex-grid-column(12);

    position: relative;
    height: 300px;

    @include breakpoint(large) {
        position: absolute;
        top: 0;
        right: 0;
        width: 55vw;
        height: 100%;
        padding-right: 0;
        padding-left: 0;
    }

    @include breakpoint(xxlarge) {
        @include flex-grid-column(7);
        @include grid-column-offset(1);

        position: static;
        order: 2;
        right: 0;
        left: 0;
        width: 805px;
        height: 720px;
    }
}

.profile-featured__secondary-inner {
    @include breakpoint(large) {
        position: relative;
        width: 100%;
        height: 100%;
    }

    @include breakpoint(xxlarge) {
        width: 805px;
    }
}

.profile-featured__heading {
    @include heading-component-large-text("dark");
}

.profile-featured__copy {
    @include body-text("dark");

    margin-top: 15px;
}

.profile-featured__cta {
    @include button-component;

    margin-top: 30px;

    @include breakpoint(large) {
        margin-top: 40px;
    }
}

.profile-featured__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-featured__secondary-content {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    padding: 30px 20px;
    background-color: rgba($purple-darker, 0.5); // Make proper gradient

    @include breakpoint(large) {
        top: auto;
        bottom: 0;
        height: auto;
        padding-right: 50px;
        padding-left: 50px;
        background-color: rgba($purple-darker, 0.9);
    }

    .block__cta {
        @include text-link("featured_profile");

        margin-top: 25px;
    }
}

.profile-featured__secondary-heading {
    @include heading-exec-ed-text("light");
}

.profile-featured__secondary-subheading {
    @include subheading-component-text("light");

    margin-top: 5px;
}

.profile-featured__secondary-copy {
    @include body-text("light");

    display: none;

    @include breakpoint(large) {
        display: block;
    }
}
