.profiles {
    padding-top: 50px;
    padding-bottom: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    background-color: $purple-dark;
    background-image: url("/svg/diamond-lattice.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;

    @include breakpoint(large) {
        padding-top: 115px;
        padding-bottom: 115px;
    }
}

.profiles__inner {
    display: flex;
    width: 100%;
    min-width: 845px;
    padding-right: 20px;
    padding-left: 20px;

    @include breakpoint(large) {
        @include flex-grid-row;
    }
}

.profile {
    position: relative;
    min-width: 275px;
    margin-right: 10px;

    &:last-of-type {
        margin-right: 0;

        &::after {
            position: absolute;
            top: 0;
            left: 100%;
            width: 20px;
            height: 1px;
            content: "";
            background-color: transparent;
        }
    }

    @include breakpoint(large) {
        @include flex-grid-column(4);

        margin-right: 0;
    }
}

.profile__image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile__text {
    height: calc(100% - 200px);
    padding: 30px;
    background-color: $white;
}

.profile__heading {
    @include heading-heavy-sub-text("dark");
}

.profile__subheading {
    @include subheading-component-text("dark");

    margin-top: 5px;
}

.profile__copy {
    @include body-small-text("dark");

    margin-top: 15px;
}
