.block_registration {
    padding: 30px 25px;
    background-color: rgba(2, 2, 75, 1);

    @include breakpoint(large) {
        padding: 70px 55px;
    }

    @include breakpoint(xlarge) {
        margin-right: 35px;
    }
}

.block__facts {
    .block_registration & {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.block__select-container {
    position: relative;
    margin-top: 30px;
    margin-bottom: 26px;
}

.box__select-arrow {
    position: absolute;
    top: 50%;
    right: 15px;
    display: block;
    width: 18px;
    height: 16px;
    pointer-events: none;
    fill: $white;
    transform: translateY(-50%);
}

.block__facts__item .block__facts__item {
    .block_registration & {
        margin-left: 40px;
    }
}

.block__facts__number {
    .block_registration & {
        font-family: Avenir;
        font-size: rem-calc(20px);
        font-weight: 400;
        line-height: (29 / 20);
        color: $white;
        letter-spacing: rem-calc(1px);
    }
}

.block__facts__label {
    .block_registration & {
        font-family: Avenir;
        font-size: rem-calc(15px);
        font-weight: 400;
        line-height: (29 / 15);
        color: $white;
        letter-spacing: rem-calc(1px);
    }
}

.block__select {
    .block_registration & {
        @include body-small-text("light");
        display: block;
        width: 100%;
        padding: 10px 20px;
        background-color: $blue-darker;
        border: 1px solid $blue-medium;
        border-radius: 0 !important;
        appearance: none;
    }
}

.block__copy {
    .block_registration & {
        padding-bottom: 20px;
        border-bottom: 1px solid $blue-medium;
    }
}

.block__copy + .block_registration__button {
    margin-top: 30px;
}

.block__label {
    .block_registration & {
        font-family: Avenir;
        font-size: rem-calc(14px);
        font-weight: 400;
        line-height: (24 / 14);
        color: $white;
        letter-spacing: rem-calc(0.4px);
    }
}

.block__label + .block__p {
    .block_registration & {
        margin-top: 10px;
    }
}

.block__p {
    .block_registration & {
        font-family: Avenir;
        font-size: rem-calc(14px);
        font-weight: 400;
        line-height: (24 / 14);
        color: $white;
        letter-spacing: rem-calc(0.4px);
    }
}

.block_registration__button {
    .block_registration & {
        width: 100%;
        height: 50px;
        padding: 10px 20px;
        font-family: Avenir;
        font-size: rem-calc(13px);
        font-weight: 300;
        line-height: (18 / 13);
        color: $white;
        text-transform: uppercase;
        letter-spacing: rem-calc(3.7px);
        background-color: transparent;
        border: 1px solid $blue-medium;
    }
}
