.search {
    min-height: 100vh;
    padding: 80px 0;
    background-color: $white;

    @include breakpoint(large) {
        padding: 100px 0;
    }
}

.search__modal {
    position: fixed;
    top: 119px;
    left: -100vw;
    z-index: 2;
    width: 100vw;
    height: calc(100vh - 119px);
    padding-top: 100px;
    visibility: hidden;
    background-color: $white;
    transition: transform 0.3s, height 0.3s, visibility 0.3s, left 0.3s;

    @include breakpoint(large) {
        top: 170px;
        height: calc(100vh - 170px);
    }

    &.fixed {
        height: calc(100vh - 95px);
        transform: translateY(-24px);

        @include breakpoint(large) {
            height: calc(100vh - 77px);
            transform: translateY(-93px);
        }
    }

    &.expanded {
        left: 0;
        visibility: visible;
    }
}

.search__content {
    @include flex-grid-row;
}

.search__col {
    @include flex-grid-column(12);

    @include breakpoint(large) {
        @include flex-grid-column(8);
        @include grid-column-offset(2);
    }
}

.search__wrap {
    position: relative;
    display: block;
}

.search__wrap + .search__results {
    margin-top: 56px;

    @include breakpoint(large) {
        margin-top: 70px;
    }
}

.search__results + .search__pages {
    margin-top: 50px;
}

.search__input {
    @include search__input;
    width: 100%;
    padding: 0 30px 14px 0;
    color: $blue-medium;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid $purple-pink;

    @include breakpoint(large) {
        padding: 0 30px 20px 0;
    }

    &::placeholder {
        color: $gray-medium;
    }

    &:focus {
        outline: 0;
    }
}

.search__input:focus + .search__button {
    .search__button__svg {
        opacity: 0;
        transition-delay: 0s;
    }

    .search__button__svg-arrow {
        opacity: 1;
        transition-delay: 0.2s;
        transform: translateX(0);
    }
}

.search__button {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    border: 0;
}

.search__button__svg,
.search__button__svg-arrow {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.2s, transform 0.2s;
}

.search__button__svg {
    width: 30px;
    fill: $blue-medium;
    opacity: 1;
    transition-delay: 0.2s;
}

.search__button__svg-arrow {
    width: 32px;
    padding-top: 5px;
    fill: $cyan;
    opacity: 0;
    transform: translateX(-10px);
}

.search__results__item + .search__results__item {
    margin-top: 40px;

    @include breakpoint(large) {
        margin-top: 45px;
    }
}

.search__title {
    @include search__title;
}

.search__title + .search__url,
.search__url + .search__p {
    margin-top: 15px;
}

.search__title__link {
    color: $blue-medium;
    transition: 0.2s color;

    &:hover {
        color: $purple-pink;
    }
}

.search__url {
    @include search__url;
    display: inline-block;
    color: $blue-light;
    transition: 0.2s color;

    &:hover {
        color: $purple-pink;
    }
}

.search__p {
    @include search__p;
    color: $black;
}

.search__pages {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    font-size: 0;
    text-align: center;
    border-top: 1px solid $gray-light;
}

.search__pages__item {
    display: inline-block;

    &.active .search__pages__number {
        color: $blue-light;
    }

    &:hover {
        .search__pages__chevron {
            fill: $blue-light;
        }
    }
}

.search__pages__item + .search__pages__item {
    margin-left: 24px;

    @include breakpoint(large) {
        margin-left: 30px;
    }
}

.search__pages__number {
    font-family: Avenir;
    font-size: rem-calc(16px);
    font-weight: bold;
    color: $gray-medium;
    transition: 0.2s color;

    @include breakpoint(large) {
        font-size: rem-calc(20px);
    }

    &:hover {
        color: $purple-pink;
    }
}

.search__pages__chevron {
    width: 9px;
    fill: $gray-medium;
    transition: fill 0.2s;

    &.right {
        transform: rotate(180deg);
    }
}
