.tabbed-block {
    padding-top: 90px;
}

.tabbed-block__top,
.tabbed-block__tablist-container,
.tabbed-block__tabs-content {
    @include flex-grid-row;

    width: 100%;
}

.tabbed-block__heading {
    @include flex-grid-column(12);
    @include heading-component-large-text("dark");

    position: relative;

    &::before {
        position: absolute;
        top: -30px;
        left: 20px;
        width: 230px;
        height: 10px;
        content: "";
        background-image: url("/svg/slanted-lines-horizontal-short.svg");
        background-repeat: no-repeat;
        background-position: 0 50%;
        background-size: 100% 100%;

        @include breakpoint(large) {
            left: 15px;
        }
    }
}

.tabbed-block__copy {
    @include flex-grid-column(12);
    @include body-text("dark");

    margin-top: 15px;
}

.tabbed-block__tablist {
    @include flex-grid-column(12);

    display: flex;
    margin-top: 50px;
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

.tabbed-block__tab {
    @include button-component-text;

    position: relative;
    min-width: 170px;
    height: 56px;
    padding: 10px;
    margin-right: 10px;
    color: $blue-lighter;
    text-transform: uppercase;
    cursor: pointer;
    background-color: $gray-bg;
    border-color: rgba($cyan, 0.2);
    border-style: solid;
    border-width: 1px 1px 0;
    transition: opacity $transition-short ease;

    &:last-of-type {
        &::after {
            position: absolute;
            top: 0;
            left: 100%;
            width: 20px;
            height: 1px;
            content: "";
            background-color: transparent;
        }
    }

    &[aria-selected=false] {
        opacity: 0.6;
    }

    @include breakpoint(medium) {
        padding: 20px;
        margin-right: 25px;
    }
}

.tabbed-block__tabs-content-container {
    background-color: $gray-bg;
    border-top: rgba($cyan, 0.2) 1px solid;
}

.tabbed-block__tabs-content {
    padding-bottom: 80px;
}

.tabbed-block__tab-content {
    @include flex-grid-column(12);

    display: none;

    &.expanded {
        display: block;
    }
}

.tabbed-block__tab-section-top,
.tabbed-block__tab-subsection {
    padding-bottom: 30px;
    border-bottom: $gray-light 1px solid;
}

.tabbed-block__tab-accordions {
    display: block;

    @include breakpoint(medium) {
        display: none;
    }
}

.tabbed-block__accordion-heading {
    margin-top: 30px;
}

.tabbed-block__accordion-heading-button {
    position: relative;
    display: block;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: transparent;

    &::after {
        position: absolute;
        top: 7px;
        right: 0;
        width: 17px;
        height: 17px;
        content: url("/svg/plus.svg");
    }

    &[aria-expanded=true] {
        &::after {
            content: url("/svg/minus.svg");
        }
    }
}

.tabbed-block__tab-sections {
    display: none;

    @include breakpoint(medium) {
        @include flex-grid-row("nest");
    }
}

.tabbed-block__tab-section {
    @include flex-grid-column(12);

    margin-top: 60px;

    &_half {
        @include flex-grid-size(6);
    }

    &_third {
        @include flex-grid-size(4);
    }

    &_quarter {
        @include flex-grid-size(3);
    }
}

.tabbed-block__tab-section-heading {
    @include heading-degree-plan-text("dark");

    padding-right: 30px;

    @include breakpoint(medium) {
        padding-right: 0;
    }
}

.tabbed-block__tab-section-subheading {
    @include body-text("dark");

    margin-top: 5px;
}

.tabbed-block__tab-subsection {
    margin-top: 30px;
}

.tabbed-block__tab-subsection-heading {
    @include heading-heavy-sub-text("dark");
}

.tabbed-block__tab-subsection-copy {
    @include body-text("dark");

    margin-top: 10px;
}
