<template>
    <component
        :is="is"
        :class="{ video_has_played: hasPlayed }"
    >
        <slot/>
    </component>
</template>

<script>
import { container } from '@/js/util/vimeo';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'VimeoContainer',
    mixins: [dynamicComponent],
    defaultTag: 'div',
    provide() {
        return { [container]: this };
    },
    data() {
        return {
            player: null,
            hasPlayed: false,
        };
    },
    created() {
        this.$on('createdPlayer', this.createdPlayer);
        this.$on('clickedButton', this.clickedButton);
    },
    methods: {
        createdPlayer(player) {
            this.player = player;
        },
        clickedButton() {
            this.player.$emit('clickedButton');
            this.hasPlayed = true;
        },
    },
};
</script>
