@mixin button-component {
    @include button-component-text;

    position: relative;
    display: inline-block;
    padding: 15px 35px;
    margin-left: 15px;
    color: $blue-medium;
    background-color: $gray-lighter;
    transition: background-color $transition-medium ease, color $transition-medium ease;

    &::before {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 1;
        display: block;
        width: 30px;
        height: 1px;
        content: "";
        background-color: $cyan;
        transform: translate(-50%, -50%);
    }

    &:hover,
    &:focus {
        color: $white;
        background-color: $blue-medium;
    }
}

@mixin button-toggle {
    @include link-text;

    padding-top: 5px;
    padding-bottom: 5px;
    color: $white;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border-width: 0;

    .icon-carrot {
        display: inline-block;
        width: 12px;
        height: 10px;
        margin-left: 13px;
        fill: $white;
    }

    &[aria-expanded="true"] {
        .icon-carrot {
            transform: rotate(180deg);
        }
    }
}

@mixin text-link($variant: "") {
    @include link-text;

    position: relative;
    display: inline-flex;
    align-items: center;
    min-width: 0;
    padding: 10px 30px 10px 0;
    margin-top: 10px;
    background-color: transparent;
    background-image: none;
    appearance: none;
    border: 0;

    @if $variant == "dark" {
        color: $blue-light;
    }
    @else if $variant == "light" {
        color: $white;
    }
    @else if $variant == "featured_profile" {
        color: $cyan;
    }

    .icon-button-arrow {
        position: relative;
        left: -15px;
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-left: 13px;
        fill: $cyan;
        opacity: 0;
        transition: opacity $transition-medium, left $transition-medium;
        will-change: left;
    }

    &:hover {
        background-color: transparent;
    }

    &:hover,
    &:focus {
        .icon-button-arrow {
            left: 0;
            opacity: 1;
        }
    }
}

@mixin button-checkbox($variant: "") {
    @include button-primary-text;

    display: inline-block;
    min-width: 220px;
    padding: 18px;
    text-align: center;
    background-color: transparent;
    transition: color $transition-medium ease, background-color $transition-medium ease;

    @if $variant == "dark" {
        color: $blue-medium;
        border: 1px solid $blue-medium;

        &:hover,
        &.active {
            color: $white;
            background-color: $blue-medium;
        }
    }
    @else if $variant == "light" {
        color: $white;
        border: 1px solid $white;

        &:hover,
        &.active {
            background-color: $purple-dark;
        }
    }
}

@mixin button-outlined($variant: "") {
    @include button-primary-text;

    display: inline-block;
    min-width: 220px;
    padding: 18px;
    text-align: center;
    background-color: transparent;
    transition: color $transition-medium ease, background-color $transition-medium ease;

    @if $variant == "dark" {
        color: $blue-medium;
        border: 1px solid $blue-medium;

        &:hover,
        &:focus,
        &.active {
            color: $white;
            background-color: $blue-medium;
        }
    }
    @else if $variant == "dark-program-hero" {
        color: $white;
        border: 1px solid $blue-dark;

        &:hover,
        &:focus,
        &.active {
            background-color: $blue-dark;
        }
    }
    @else if $variant == "light" {
        color: $white;
        border: 1px solid $white;

        &:hover,
        &:focus,
        &.active {
            background-color: $purple-dark;
        }
    }
}

@mixin button-filled($variant: "blue-medium") {
    @include button-primary-text;

    display: inline-block;
    min-width: 220px;
    padding: 18px 30px;
    color: $white;
    text-align: center;
    cursor: pointer;
    transition: background-color $transition-medium ease;

    @if $variant == "blue-medium" {
        background-color: $blue-medium;
    }
    @else if $variant == "blue-light" {
        background-color: $blue-light;
    }

    &:hover {
        background-color: $blue-darker;
    }
}

@mixin button-hero {
    @include button-hero-text;

    display: inline-block;
    min-width: 200px;
    padding: 18px 35px;
    color: $white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid $white;
    transition: background-color $transition-medium ease, color $transition-medium ease;

    .icon-button-arrow {
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-left: 13px;
        fill: $cyan;
        transition: transform $transition-medium;
        transform: translate(0, 2px);
    }

    &:hover,
    &:focus {
        color: $blue-light;
        background-color: $white;

        .icon-button-arrow {
            transform: translate(5px, 2px);
        }
    }
}

@mixin button-card {
    @include button-card-text;

    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding-right: 45px;
    padding-left: 25px;
    overflow-y: hidden;
    color: $black;
    background-color: $white;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 3px;
        content: "";
        background-color: $purple-light;
        transition: transform $transition-medium ease;
        transform-origin: center bottom;
    }

    .icon-button-arrow {
        display: inline-block;
        width: 23px;
        height: 17px;
        fill: $cyan;
        transform: translate(20px, 0);
    }

    &:hover,
    &:focus {
        &::before {
            transform: scale(1, 2.67);
        }
    }
}

@mixin tab-side {
    @include tab-side-text;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 300px;
    height: 55px;
    padding-right: 20px;
    padding-left: 20px;
    color: $blue-medium;
    background-color: transparent;
    border: 1px solid $blue-medium;
    transition: color $transition-medium ease, background-color $transition-medium ease;

    .icon-button-arrow {
        position: relative;
        // left: 0;
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-left: 12px;
        fill: $cyan;
        opacity: 0;
        transition: opacity $transition-medium ease, transform $transition-medium ease;
        transform: translate3d(-15, 0, 0);
        // transition: opacity $transition-medium ease, left $transition-medium ease;
        // will-change: left;
    }

    &:hover {
        color: $white;
        background-color: $blue-medium;
    }

    &[aria-selected=true] {
        color: $white;
        background-color: $blue-medium;

        .icon-button-arrow {
            opacity: 1;
        }

        &:hover {
            .icon-button-arrow {
                transform: translate3d(0, 0, 0);
                // left: 5px;
            }
        }
    }
}

@mixin button-navigator {
    position: relative;
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 0;
    text-align: center;
    cursor: pointer;
    background: transparent;
    border: 1px solid $blue-medium;
    transition: $transition-short background-color ease;

    &:hover {
        background-color: $blue-medium;

        .block__arrow {
            fill: $white;
        }
    }

    .block__arrow {
        display: inline-block;
        width: 21px;
        height: 16px;
        fill: $blue-medium;
        transition: $transition-short fill;
    }
}
