@mixin lines-pattern {
    background-image: url("/svg/lines-pattern.svg");
    background-size: 10px;
}

@mixin lines-border {
    background-image: url("/svg/slanted-lines-horizontal.svg");
    background-repeat: repeat-x;
    background-position: top center;
    background-size: auto 11px;
}
