// Navigation
@mixin nav-main-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: (24 / 14);
    text-transform: uppercase;
    letter-spacing: rem-calc(3.3px);

    @include breakpoint(large) {
        font-size: rem-calc(12px);
        line-height: (16 / 12);
        letter-spacing: rem-calc(2.85px);
    }

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin nav-sub-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (16 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(2px);

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin nav-l2-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (16 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(2.85px);

    @if $variant == "light" {
        color: $white;
    }
}

@mixin nav-l3-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 400;
    line-height: (24 / 14);
    letter-spacing: rem-calc(0.7px);

    @if $variant == "dark" {
        color: $gray-dark;
    }
}

@mixin breadcrumbs-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 400;
    line-height: (16 / 12);
    letter-spacing: rem-calc(2.85px);

    @if $variant == "light" {
        color: $white;
    }
}

@mixin favorites-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(16px);
    font-weight: 300;
    line-height: (30 / 16);
    letter-spacing: rem-calc(1px);

    @if $variant == "light" {
        color: $white;
    }
}

// Hero
@mixin hero-primary-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(35px);
    font-weight: 900;
    line-height: (52 / 35);
    text-transform: uppercase;
    letter-spacing: rem-calc(7px);

    @include breakpoint(xlarge) {
        font-size: rem-calc(50px);
        line-height: (70 / 50);
        letter-spacing: rem-calc(10px);
    }

    @if $variant == "light" {
        color: $white;
    }
}

@mixin hero-secondary-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(28px);
    font-weight: 900;
    line-height: (65 / 35);
    text-transform: uppercase;
    letter-spacing: rem-calc(5.6px);

    @include breakpoint(medium) {
        font-size: rem-calc(45px);
        line-height: (65 / 45);
        letter-spacing: rem-calc(9px);
    }

    @if $variant == "light" {
        color: $white;
    }
}

@mixin hero-body-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (24 / 12);
    letter-spacing: rem-calc(0.8px);

    @include breakpoint(large) {
        font-size: rem-calc(14px);
        line-height: (30 / 14);
        letter-spacing: rem-calc(0.9px);
    }

    @if $variant == "light" {
        color: $white;
    }
}

// Subheads
@mixin subheading-line {
    &::before {
        display: inline-block;
        width: 25px;
        height: 2px;
        margin-right: 10px;
        vertical-align: middle;
        content: "";
        background-color: $cyan;
    }
}

@mixin subheading-numeral-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 800;
    line-height: (16 / 12);
    letter-spacing: rem-calc(6px);

    @if $variant == "dark" {
        color: $blue-medium;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin subheading-component-text($variant: "") {
    font-family: "PT Serif";
    font-size: rem-calc(14px);
    font-style: italic;
    font-weight: 400;
    line-height: (20 / 14);
    letter-spacing: rem-calc(1.5px);

    @include breakpoint(large) {
        font-size: rem-calc(14px);
        line-height: (20 / 14);
        letter-spacing: rem-calc(1px);
    }

    @if $variant == "dark" {
        color: $gray-dark;
    }
    @else if $variant == "light" {
        color: $gray-lighter;
    }
}

@mixin subheading-copy-text($variant: "") {
    font-family: "PT Serif";
    font-size: rem-calc(15px);
    font-style: italic;
    font-weight: 400;
    line-height: (22 / 15);
    letter-spacing: rem-calc(1.5px);

    @include breakpoint(large) {
        font-size: rem-calc(16px);
        line-height: (24 / 16);
        letter-spacing: rem-calc(0.8px);
    }

    @if $variant == "dark" {
        color: $black;
    }
}

// Headings
@mixin heading-component-large-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(30px);
    font-weight: 300;
    line-height: (48 / 30);
    letter-spacing: rem-calc(0.7px);

    @include breakpoint(large) {
        font-size: rem-calc(40px);
        line-height: (58 / 40);
        letter-spacing: rem-calc(1px);
    }

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin heading-component-medium-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(22px);
    font-weight: 300;
    line-height: (30 / 22);
    letter-spacing: rem-calc(0.8px);

    @include breakpoint(large) {
        font-size: rem-calc(35px);
        line-height: (48 / 35);
        letter-spacing: rem-calc(1.2px);
    }

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin heading-contact-side-panel-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(22px);
    font-weight: 800;
    line-height: (32 / 22);
    letter-spacing: rem-calc(0.8px);

    @include breakpoint(large) {
        font-size: rem-calc(35px);
        line-height: (42 / 35);
        letter-spacing: rem-calc(1.2px);
    }

    @if $variant == "dark" {
        color: $black;
    }
}

@mixin heading-degree-plan-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(22px);
    font-weight: 500;
    line-height: (32 / 22);
    letter-spacing: rem-calc(1px);

    @include breakpoint(large) {
        font-size: rem-calc(30px);
        line-height: (44 / 30);
        letter-spacing: rem-calc(1.2px);
    }

    @if $variant == "dark" {
        color: $blue-medium;
    }
}

@mixin heading-exec-ed-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(26px);
    font-weight: 500;
    line-height: (40 / 26);
    letter-spacing: rem-calc(0.9px);

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin heading-graduate-program-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(24px);
    font-weight: 400;
    line-height: (34 / 24);
    letter-spacing: rem-calc(0.6px);

    @if $variant == "dark" {
        color: $black;
    }
}

@mixin heading-heavy-sub-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(18px);
    font-weight: 800;
    line-height: (30 / 18);
    letter-spacing: rem-calc(1.1px);

    @if $variant == "dark" {
        color: $black;
    }
}

@mixin heading-small-card-title-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(20px);
    font-weight: 500;
    line-height: (30 / 20);
    letter-spacing: rem-calc(0.6px);

    @include breakpoint(large) {
        font-size: rem-calc(18px);
        line-height: (30 / 18);
    }

    @if $variant == "dark" {
        color: $black;
    }
}

@mixin heading-inline-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: (24 / 14);
    letter-spacing: rem-calc(0.6px);

    @include breakpoint(large) {
        font-size: rem-calc(16px);
        line-height: (26 / 16);
        letter-spacing: rem-calc(0.8px);
    }

    @if $variant == "dark" {
        color: $blue-dark;
    }
}

@mixin heading-faculty-directory-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(16px);
    font-weight: 800;
    line-height: (26 / 16);
    letter-spacing: rem-calc(1px);

    @if $variant == "dark" {
        color: $black;
    }
}

@mixin heading-faculty-sub-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 500;
    line-height: (24 / 14);
    letter-spacing: rem-calc(0.8px);

    @if $variant == "dark" {
        color: $black;
    }
}

// Numerals
@mixin stat-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(80px);
    font-weight: 200;
    line-height: (110 / 80);
    letter-spacing: 0;

    @include breakpoint(large) {
        font-size: rem-calc(90px);
        line-height: (120 / 90);
    }

    @if $variant == "dark" {
        color: $blue-dark;
    }
}

@mixin event-date-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(40px);
    font-weight: 200;
    line-height: (55 / 40);
    letter-spacing: rem-calc(2px);

    @include breakpoint(large) {
        font-size: rem-calc(65px);
        line-height: (70 / 65);
        letter-spacing: 0;
    }

    @if $variant == "dark" {
        color: $blue-medium;
    }
}

@mixin program-date-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(24px);
    font-weight: 300;
    line-height: (35 / 24);
    letter-spacing: rem-calc(2px);

    @include breakpoint(large) {
        font-size: rem-calc(18px);
        line-height: (26 / 18);
        letter-spacing: rem-calc(1.5px);
    }

    @if $variant == "dark" {
        color: $blue-medium;
    }
}

// Body
@mixin body-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 300;
    line-height: (26 / 14);
    letter-spacing: rem-calc(0.4px);

    @include breakpoint(large) {
        font-size: rem-calc(16px);
        line-height: (30 / 16);
    }

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

@mixin body-small-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(14px);
    font-weight: 300;
    line-height: (28 / 14);
    letter-spacing: rem-calc(0.8px);

    @if $variant == "dark" {
        color: $black;
    }
    @else if $variant == "light" {
        color: $white;
    }
}

// Quotes
@mixin quote-large-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(18px);
    font-weight: 100;
    line-height: (32 / 18);
    letter-spacing: rem-calc(2px);

    @include breakpoint(large) {
        font-size: rem-calc(40px);
        line-height: (60 / 40);
    }

    @if $variant == "light" {
        color: $white;
    }
}

@mixin quote-small-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(28px);
    font-weight: 300;
    line-height: (42 / 28);
    letter-spacing: 0;

    @if $variant == "light" {
        color: $white;
    }
}

@mixin attribution-text($variant: "") {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 800;
    line-height: (20 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(3.5px);

    @include breakpoint(large) {
        font-size: rem-calc(14px);
        line-height: (22 / 14);
        letter-spacing: rem-calc(4px);
    }

    @if $variant == "light" {
        color: $gray-light;
    }
}

// CTAs / Buttons / Tabs
@mixin button-component-text {
    font-family: Avenir;
    font-size: rem-calc(13px);
    font-weight: 800;
    line-height: (18 / 13);
    text-transform: uppercase;
    letter-spacing: rem-calc(4px);

    @include breakpoint(large) {
        font-size: rem-calc(14px);
        line-height: (19 / 14);
    }
}

@mixin link-text {
    font-family: Avenir;
    font-size: rem-calc(13px);
    font-weight: 800;
    line-height: (18 / 13);
    text-transform: uppercase;
    letter-spacing: rem-calc(2.5px);
}

@mixin button-primary-text {
    font-family: Avenir;
    font-size: rem-calc(13px);
    font-weight: 500;
    line-height: (18 / 13);
    text-transform: uppercase;
    letter-spacing: rem-calc(2.5px);
}

@mixin button-hero-text {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (16 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(3.5px);
}

@mixin jumplink-homepage-text {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 500;
    line-height: (16 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(3.5px);
}

@mixin button-card-text {
    font-family: Avenir;
    font-size: rem-calc(20px);
    font-weight: 400;
    line-height: (28 / 20);
    letter-spacing: rem-calc(0.5px);
}

@mixin tab-side-text {
    font-family: Avenir;
    font-size: rem-calc(13px);
    font-weight: 400;
    line-height: (18 / 13);
    text-transform: uppercase;
    letter-spacing: rem-calc(2.5px);
}

// Miscellaneous

@mixin global-pagination {
    font-family: Avenir;
    font-size: rem-calc(12px);
    font-weight: 600;
    line-height: (16 / 12);
    text-transform: uppercase;
    letter-spacing: rem-calc(6px);
}
