@mixin wysiwyg($variant) {
    // stylelint-disable selector-max-type
    h1 {
        //
    }

    h2 {
        //
    }

    h3 {
        //
    }

    h4 {
        //
    }

    h5 {
        //
    }

    h6 {
        //
    }

    blockquote {
        //
    }

    p {
        @if $variant == "dark" {
            @include body-text("dark");
        }
        @else if $variant == "light" {
            @include body-text("light");
        }
    }

    ul {
        margin-top: 20px;
        list-style-type: disc;

        @if $variant == "dark" {
            @include body-text("dark");
        }
        @else if $variant == "light" {
            @include body-text("light");
        }

        @include breakpoint(large) {
            padding-right: 100px;
        }

        > li {
            position: relative;
            display: inline-block;
            width: 100%;
            padding-left: 25px;

            &::before {
                position: absolute;
                top: 12px;
                left: 0;
                display: block;
                width: 5px;
                height: 5px;
                content: "";
                background-color: $white;
                border-radius: 50%;
            }

            @include breakpoint(large) {
                width: 50%;
            }
        }
    }

    ol {
        //
    }
    // stylelint-enable selector-max-type
}
