$transition-time: 0.5s;

.button-sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 225px;
    max-width: 100%;
    height: 55px;
    background-color: $blue-dark;
}

.button-sidebar__text {
    @include button-primary-text;

    color: $white;
    transition-duration: $transition-time;
    transition-property: transform;
    transform: translate(14px, 0);

    .button-sidebar:focus &,
    .button-sidebar:hover & {
        transform: translate(0, 0);
    }
}

.button-sidebar__arrow {
    width: 17px;
    height: 12px;
    margin-left: 12px;
    stroke: $white;
    opacity: 0;
    transition-duration: $transition-time;
    transition-property: opacity, transform;
    transform: translate(-10px, -1px);

    .button-sidebar:focus &,
    .button-sidebar:hover & {
        opacity: 1;
        transform: translate(0, -1px);
    }
}

.button-jumplink {
    @include jumplink-homepage-text;

    display: inline-flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $white;

    .icon-button-arrow {
        display: inline-block;
        width: 17px;
        height: 12px;
        margin-left: 15px;
        fill: $cyan;
        transform: rotate(90deg);
    }

    .button-jumplink__text {
        position: relative;

        &::after {
            position: absolute;
            bottom: -4px;
            left: 0;
            width: 100%;
            height: 1px;
            content: "";
            background-color: $white;
            transition: transform $transition-medium ease;
            transform: scaleX(0) translateZ(0);
            transform-style: preserve-3d;
            transform-origin: 0 50%;
        }
    }

    &:hover {
        .button-jumplink__text {
            &::after {
                transform: scaleX(1) translateZ(0);
            }
        }
    }
}
