// stylelint-disable selector-max-type

fieldset {
    padding: 0;
    margin: 0;
    border-width: 0;
}

label {
    display: block;
    width: 100%;
}

select {
    appearance: none;
    background-color: $white;
}

select,
input {
    border-radius: 0;
}

#{text-inputs()},
textarea {
    display: block;
    width: 100%;
}

textarea {
    // stylelint-disable-next-line plugin/no-unsupported-browser-features
    resize: vertical;
}

button {
    padding: 0;
    border-width: 0;
}
