// stylelint-disable selector-max-type

html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

::selection {
    color: $white;
    background-color: $purple-pink;
}
