// stylelint-disable selector-max-type

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: inherit;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    font-family: inherit;
    font-size: inherit;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src:
        url("/fonts/pt-sans-v9-latin-regular.woff2") format("woff2"),
        url("/fonts/pt-sans-v9-latin-regular.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src:
        url("/fonts/pt-sans-v9-latin-italic.woff2") format("woff2"),
        url("/fonts/pt-sans-v9-latin-italic.woff") format("woff");
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/0078f486-8e52-42c0-ad81-3c8d3d43f48e.woff2") format("woff2"),
        url("/fonts/908c4810-64db-4b46-bb8e-823eb41f68c0.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/065a6b14-b2cc-446e-9428-271c570df0d9.woff2") format("woff2"),
        url("/fonts/65d75eb0-2601-4da5-a9a4-9ee67a470a59.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/476612d9-282d-4f76-95cd-b4dd31e7ed21.woff2") format("woff2"),
        url("/fonts/f1ebae2b-5296-4244-8771-5f40e60a564a.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/b290e775-e0f9-4980-914b-a4c32a5e3e36.woff2") format("woff2"),
        url("/fonts/4b978f72-bb48-46c3-909a-2a8cd2f8819c.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/17b90ef5-b63f-457b-a981-503bb7afe3c0.woff2") format("woff2"),
        url("/fonts/c9aeeabd-dd65-491d-b4be-3e0db9ae47a0.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/d513e15e-8f35-4129-ad05-481815e52625.woff2") format("woff2"),
        url("/fonts/61bd362e-7162-46bd-b67e-28f366c4afbe.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/c78eb7af-a1c8-4892-974b-52379646fef4.woff2") format("woff2"),
        url("/fonts/75b36c58-2a02-4057-a537-09af0832ae46.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: Avenir;
    src:
        url("/fonts/a2477e08-09d9-4d4b-97a9-23a1e22cb44c.woff2") format("woff2"),
        url("/fonts/19d12bba-92b1-43ad-9bab-cd36a4195c2a.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}

@mixin header__navigation__item {
    $font-size_desktop: 12;
    $font-size_tablet: 12;
    $font-size_mobile: 14;

    $line-height_desktop: 16;
    $line-height_tablet: 16;
    $line-height_mobile: 16;

    $letter-spacing_desktop: 2.85px;
    $letter-spacing_tablet: 2px;
    $letter-spacing_mobile: 2.85px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    line-height: $line-height_mobile / $font-size_mobile;
    text-transform: uppercase;
    letter-spacing: $letter-spacing_mobile;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
        letter-spacing: $letter-spacing_tablet;
    }

    @include breakpoint(xlarge) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
        letter-spacing: $letter-spacing_desktop;
    }
}

@mixin header__dropdown__item {
    $font-size_desktop: 14;
    $font-size_tablet: 14;
    $font-size_mobile: 14;

    $line-height_desktop: 18;
    $line-height_tablet: 18;
    $line-height_mobile: 18;

    $letter-spacing: 0.7px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: 200;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
    }
}

@mixin header__special-link {
    $font-size_desktop: 16;
    $font-size_tablet: 16;
    $font-size_mobile: 16;

    $line-height_desktop: 22;
    $line-height_tablet: 22;
    $line-height_mobile: 22;

    $letter-spacing: 1px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
    }
}

@mixin search__input {
    $font-size_desktop: 40;
    $font-size_tablet: 30;
    $font-size_mobile: 30;

    $line-height_desktop: 50;
    $line-height_tablet: 50;
    $line-height_mobile: 50;

    $letter-spacing: 1px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: 200;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
    }
}

@mixin search__title {
    $font-size_desktop: 28;
    $font-size_tablet: 22;
    $font-size_mobile: 22;

    $line-height_desktop: 38;
    $line-height_tablet: 30;
    $line-height_mobile: 30;

    $letter-spacing_desktop: 0.7px;
    $letter-spacing_tablet: 0.55px;
    $letter-spacing_mobile: 0.55px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: normal;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing_mobile;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
        letter-spacing: $letter-spacing_desktop;
    }
}

@mixin search__url {
    $font-size_desktop: 16;
    $font-size_tablet: 16;
    $font-size_mobile: 16;

    $line-height_desktop: 22;
    $line-height_tablet: 22;
    $line-height_mobile: 22;

    $letter-spacing: 0.4px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: bold;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
    }
}

@mixin search__p {
    $font-size_desktop: 16;
    $font-size_tablet: 14;
    $font-size_mobile: 14;

    $line-height_desktop: 30;
    $line-height_tablet: 26;
    $line-height_mobile: 26;

    $letter-spacing: 0.4px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: normal;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
    }
}

@mixin footer__title {
    $font-size_desktop: 18;
    $font-size_tablet: 18;
    $font-size_mobile: 16;

    $line-height_desktop: 29;
    $line-height_tablet: 29;
    $line-height_mobile: 29;

    $letter-spacing_desktop: 2px;
    $letter-spacing_tablet: 2px;
    $letter-spacing_mobile: 2px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: normal;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing_mobile;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
        letter-spacing: $letter-spacing_desktop;
    }
}

@mixin footer__externals {
    $font-size_desktop: 13;
    $font-size_tablet: 13;
    $font-size_mobile: 13;

    $line-height_desktop: 18;
    $line-height_tablet: 18;
    $line-height_mobile: 18;

    $letter-spacing_desktop: 2px;
    $letter-spacing_tablet: 2px;
    $letter-spacing_mobile: 2px;

    font-family: Avenir;
    font-size: rem-calc($font-size_mobile);
    font-weight: bold;
    line-height: $line-height_mobile / $font-size_mobile;
    letter-spacing: $letter-spacing_mobile;

    @include breakpoint(large) {
        font-size: rem-calc($font-size_desktop);
        line-height: $line-height_desktop / $font-size_desktop;
        letter-spacing: $letter-spacing_desktop;
    }
}
