$path-fonts: "/fonts";

// Colors
$black: #222;
$gray-darker: #4d4d4d;
$gray-dark: #777;
$gray-medium: #aaa;
$gray-light: #ddd;
$gray-lighter: #f2f2f2;
$white: #fff;

$cyan: #1cabe6;
$pink: #cf009d;

$blue-darker: #02024b;
$blue-dark: #000060;
$blue-medium: #3d2d9a;
$blue-light: #5748de;
$blue-lighter: #7f72f6;

$purple-darker: #21033a;
$purple-dark: #3c045b;
$purple-medium: #672874;
$purple-light: #712fa0;
$purple-pink: #9e28b5;

$black-bg: #1e1c1f;
$gray-bg: #f7f7f7;
$purple-bg: #f9f9ff;

// Gradients
$gradient-breadcrumb: linear-gradient(to right, $blue-dark, #6c00cf);
$gradient-quote: linear-gradient(to top right, #31033a, $blue-medium);
$gradient-quote-reverse: linear-gradient(to bottom left, #31033a, $blue-medium);
$gradient-quote-outline: linear-gradient(to top right, #3d2dff, $purple-medium);

// Transitions
$transition-short: 200ms;
$transition-medium: 500ms;
$transition-long: 700ms;

// Breakpoints
$breakpoints: (
    small: 0,
    medium: 640px,
    large: 1024px,
    xlarge: 1200px,
    xxlarge: 1440px,
    xxxlarge: 1600px,
);
$print-breakpoint: large;
$breakpoint-classes: (small medium large xlarge xxlarge xxxlarge);

// Grid
$global-width: rem-calc(1200);
$global-max-width: rem-calc(1600);
$grid-row-width: $global-width;
$grid-column-count: 12;
$grid-column-gutter: (
    small: 40px,
    large: 30px,
);
$grid-column-align-edge: true;
$grid-column-alias: "columns";
$block-grid-max: 8;
