<template>
    <div
        ref="ghost"
        :class="{'active': active}"
    >
        <slot/>
    </div>
</template>

<script>
export default {
    name: 'GlobalFilterItemGhost',
    props: {
        filterCategory: {
            type: Array,
            required: true,
        },
        original: {
            type: Object,
            required: false,
            default: () => ({}),
        },
    },
    data() {
        return {
            active: false,
        };
    },
    mounted() {
        // Special for stom. Delete later. All of this.
        // And the bound class above along with computed property.
        const favs = this.$refs.ghost.getElementsByClassName('block__button_favorites');

        if (favs.length > 0) {
            const touchEvent = 'ontouchstart' in window ? 'touchstart' : 'click';

            favs[0].addEventListener(touchEvent, () => {
                this.original.$children[0].addFavorite();
            });
        }

        if (this.original.$children[0]) {
            this.active = this.original.$children[0].status;
        }

        if (this.active === true) {
            favs[0].innerHTML = 'Saved';
        }

        if (favs.length > 0) {
            this.$root.$on('favChange', () => {
                this.active = this.original.$children[0].status;

                if (this.active === true) {
                    favs[0].innerHTML = 'Saved';
                } else {
                    favs[0].innerHTML = 'Save to Favorites';
                }
            });
        }
    },
};
</script>

<style lang="scss">
$transition-property: opacity, transform;
$transition-duration: 1000ms;
$transition-timing-function: ease;

.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    z-index: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: $transition-property;
}

.fade-leave-active {
    position: absolute;
    z-index: 0;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: $transition-property;
}

.fade-leave-to {
    opacity: 0;
}

.fade-move {
    z-index: 1;
    transition-timing-function: $transition-timing-function;
    transition-duration: $transition-duration;
    transition-property: $transition-property;

    &.v-leave-active {
        transition-timing-function: $transition-timing-function, step-end;
    }
}
</style>
