<template>
    <button
        :class="{
            active: $parent.activeFilter.includes(filterCategory) ||
                filterCategory === 'All' && $parent.activeFilter.length === 0
        }"
        @click="toggleFilterCategory()"
    >
        <slot/>
    </button>
</template>

<script>
export default {
    name: 'GlobalFilterButton',
    props: {
        filterCategory: {
            type: String,
            required: true,
        },
    },
    methods: {
        toggleFilterCategory() {
            const filter = this.$parent.activeFilter;
            const i = filter.indexOf(this.filterCategory);

            if (this.filterCategory === 'All') {
                this.$parent.activeFilter = [];
                return;
            }

            if (this.$parent.singleSelect === true) {
                this.$parent.activeFilter = [this.filterCategory];
                return;
            }

            if (filter.includes(this.filterCategory)) {
                filter.splice(i, 1);
            } else {
                filter.push(this.filterCategory);
            }
        },
    },
};
</script>
