<template>
    <div>
        <slot
            :modalMode="modalMode"
            :modalToggle="modalToggle"
        />
    </div>
</template>

<script>
export default {
    name: 'GlobalFilter',
    props: {
        intersects: {
            type: Boolean,
            required: false,
            default: false,
        },
        singleSelect: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    data() {
        return {
            activeFilter: [],
            activeItems: [],
            modalMode: false, // Special for stom. Delete later.
        };
    },
    computed: {
        filteredItems() {
            let newItems;

            if (!this.intersects) {
                if (this.activeFilter.length > 0) {
                    newItems = this.activeItems.filter(
                        item => item.filterCategory.some(x => this.activeFilter.includes(x)),
                    );
                } else {
                    newItems = this.activeItems;
                }
            }

            return newItems;
        },
    },
    methods: {
        modalToggle() { // Special for stom. Delete later
            this.modalMode = !this.modalMode;
        },
    },
};
</script>
