<template>
    <div>
        <slot/>
    </div>
</template>

<script>
export default {
    name: 'GlobalFilterItem',
    props: {
        filterCategory: {
            type: [String, Array],
            required: true,
        },
    },
    data() {
        return {
            ghost: {},
        };
    },
    mounted() {
        let categoryArray;

        if (typeof this.filterCategory === 'string') {
            categoryArray = [this.filterCategory];
        } else {
            categoryArray = this.filterCategory;
        }

        this.ghost = {
            className: this.$el.className,
            innerHTML: this.$el.innerHTML,
            filterCategory: categoryArray,
            id: Math.floor(Math.random() * 10000),
            original: this,
        };

        this.$parent.$parent.activeItems.push(this.ghost);
    },
};
</script>
