<template>
    <div
        @mouseover="hovered = true"
        @mouseleave="hovered = false"
    >
        <slot
            :purple="purple"
            :menuFixed="menuFixed"
            :hovered="hovered"
            :toggleDrawerActive="toggleDrawerActive"
            :drawerActive="drawerActive"
            :favsList="favsList"
            :removeFavorite="removeFavorite"
            :currentDrawer="currentDrawer"
            :currentDrawerToggle="currentDrawerToggle"
        />
    </div>
</template>

<script>
export default {
    name: 'GlobalHeader',
    props: {
        homePage: {
            type: Boolean,
            required: false,
            default: false,
        },
    },
    data() {
        return {
            menuFixed: false,
            purple: undefined,
            hovered: false,
            drawerActive: false,
            favsList: [],
            currentDrawer: undefined,
        };
    },
    created() {
        addEventListener('scroll', this.headerToggle);

        if (this.homePage) {
            document.body.classList.add('body_home');
        }

        if (this.homePage && this.menuFixed === false) {
            this.purple = true;
        }
    },
    mounted() {
        const favsList = JSON.parse(localStorage.getItem('favorites'));

        if (favsList) {
            this.favsList = favsList;
        }

        this.$root.$on('favChange', () => {
            this.favsList = JSON.parse(localStorage.getItem('favorites'));
        });
    },
    methods: {
        headerToggle() {
            if ((typeof scrollY === 'undefined' ? pageYOffset : scrollY) > 0) {
                this.menuFixed = true;
                document.body.classList.add('fixed');

                if (this.homePage) {
                    this.purple = false;
                }
            } else {
                this.menuFixed = false;
                document.body.classList.remove('fixed');

                if (this.homePage) {
                    this.purple = true;
                }
            }
        },
        toggleDrawerActive() {
            this.drawerActive = !this.drawerActive;
        },
        removeFavorite(name) {
            const favsList = JSON.parse(localStorage.getItem('favorites'));

            if (favsList) {
                favsList.forEach((x) => {
                    if (x.name === name) {
                        favsList.splice(favsList.indexOf(x), 1);
                    }
                });

                localStorage.setItem('favorites', JSON.stringify(favsList));
                this.favsList = favsList;
            }

            this.$root.$emit('favChange');
        },
        currentDrawerToggle(j) {
            if (this.currentDrawer === j) {
                this.currentDrawer = '';
                this.drawerActive = false;
            } else {
                this.currentDrawer = j;
            }

            if (this.currentDrawer === 'menu') {
                this.drawerActive = true;
            } else if (this.currentDrawer === 'search') {
                this.drawerActive = false;
            }
        },
    },
};
</script>
