{% macro sidebar_button(text, href) %}
    <a href="{{ href }}" class="button-sidebar">
        <div class="button-sidebar__text">{{ text }}</div>
        <svg viewBox="0 0 16.179 12" class="button-sidebar__arrow">
            <use xlink:href="/svg/tail-arrow-right.svg#arrow"></use>
        </svg>
    </a>
{% endmacro %}

{% macro jumplink(text, href) %}
    <a href="{{ href }}" class="button-jumplink">
        <span class="button-jumplink__text">{{ text }}</span>
        <svg viewBox="0 0 17 12" class="icon-button-arrow">
          <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
          <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
          <rect y="5.5" width="16.49" height="1"/>
        </svg>
    </a>
{% endmacro %}

{% macro standard_button(href, label) %}
    <a class="block__button" href="{{ href }}">
        {{ label }}
        <svg viewBox="0 0 17 12" class="icon-button-arrow">
          <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
          <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
          <rect y="5.5" width="16.49" height="1"/>
        </svg>
    </a>
{% endmacro %}

{% macro standard_cta(href, label) %}
    <a class="block__cta" href="{{ href }}">
        {{ label }}
        <svg viewBox="0 0 17 12" class="icon-button-arrow">
          <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
          <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
          <rect y="5.5" width="16.49" height="1"/>
        </svg>
    </a>
{% endmacro %}
