<template>
    <component
        :is="is"
        @click="container.moveActiveItem(vector)"
    >
        <slot/>
    </component>
</template>

<script>
import { container } from '@/js/util/carousel';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'CarouselButton',
    inject: { container },
    mixins: [dynamicComponent],
    defaultTag: 'button',
    props: {
        vector: {
            type: Number,
            required: true,
        },
    },
};
</script>
