<template>
    <component
        :is="is"
    >
        <button
            v-for="(item, index) in container.items"
            :key="index"
            :class="item === container.activeItem ? 'carousel-nav__item_active' : ''"
            class="carousel-nav__item"
            @click="container.setActiveItem(item)"
        />
    </component>
</template>

<script>
import { container } from '@/js/util/carousel';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'CarouselNav',
    mixins: [dynamicComponent],
    defaultTag: 'div',
    inject: { container },
};
</script>
