<template>
    <v-touch
        :swipe-options="{ direction: 'horizontal', threshold: 50 }"
        tag="div"
        @swipeleft="moveActiveItem(1)"
        @swiperight="moveActiveItem(-1)"
    >
        <slot/>
    </v-touch>
</template>

<script>
import { container } from '@/js/util/carousel';

export default {
    name: 'CarouselContainer',
    provide() {
        return {
            [container]: this,
        };
    },
    props: {
        transition: {
            type: String,
            default: 'transition',
        },
    },
    data() {
        return {
            items: [],
            activeItem: undefined,
            direction: undefined,
        };
    },
    computed: {
        transitionName() {
            if (this.direction === 'left') {
                return `${this.transition}-next`;
            } else if (this.direction === 'right') {
                return `${this.transition}-prev`;
            }

            return null;
        },
    },
    created() {
        this.$on('createdItem', this.createdItem);
        this.$on('beforeDestroyItem', this.beforeDestroyItem);
    },
    beforeDestroy() {
        this.$off('createdItem', this.createdItem);
        this.$off('beforeDestroyItem', this.beforeDestroyItem);
    },
    methods: {
        createdItem(item) {
            this.items.push(item);

            if (!this.activeItem) {
                this.activeItem = item;
            }
        },
        beforeDestroyItem(item) {
            const { items } = this;

            items.splice(items.indexOf(item), 1);
        },
        setActiveItem(item) {
            this.activeItem = item;
        },
        moveActiveItem(vector) {
            const activeIndex = this.items.indexOf(this.activeItem);
            let newActiveIndex = (activeIndex + vector) % this.items.length;

            if (vector < 0) {
                this.direction = 'right';
            } else if (vector > 0) {
                this.direction = 'left';
            }

            if (newActiveIndex < 0) {
                newActiveIndex += this.items.length;
            }

            this.setActiveItem(this.items[newActiveIndex]);
        },
    },
};
</script>
