<template>
    <transition :name="container.transitionName">
        <component
            v-show="active"
            :is="is"
        >
            <slot/>
        </component>
    </transition>
</template>

<script>
import { container } from '@/js/util/carousel';
import dynamicComponent from '@/js/mixins/dynamic-component';

export default {
    name: 'CarouselItem',
    mixins: [dynamicComponent],
    defaultTag: 'div',
    inject: { container },
    computed: {
        active() {
            return this === this.container.activeItem;
        },
    },
    created() {
        this.container.$emit('createdItem', this);
    },
    beforeDestroy() {
        this.container.$emit('beforeDestroyItem', this);
    },
};
</script>
