<template>
    <div class="video-modal">
        <ModalButton
            :controls="id"
            class="block__video-button"
            aria-label="Watch Video"
            @click.native="preventScrolling()"
        >
            <svg viewBox="0 0 69 69">
                <use xlink:href="/svg/play-button.svg#play"/>
            </svg>
        </ModalButton>
        <ModalBackdrop
            :id="id"
            :transition-props="{ name: 'modal-fade' }"
            class="video-modal__backdrop"
        >
            <ModalBackdropDialog
                aria-label="video"
                class="video-modal__backdrop-dialog"
            >
                <div class="video-modal__close-container">
                    <ModalButton
                        :controls="id"
                        class="video-modal__close"
                        aria-label="close"
                        @click.native="enableScrolling()"
                    >
                        <img src="svg/x2.svg">
                    </ModalButton>
                </div>
                <div
                    ref="player"
                    class="plyr__video-embed"
                >
                    <iframe
                        :src="iframeSrc"
                        class="plyr__video-iframe"
                        allowfullscreen
                        allowtransparency
                        allow="autoplay"
                    />
                </div>
            </ModalBackdropDialog>
        </ModalBackdrop>
    </div>
</template>

<script>
import uuid from 'uuid';
import Plyr from 'plyr/dist/plyr.polyfilled.min';
import dynamicComponent from '@/js/mixins/dynamic-component';

import ModalButton from '@/components/modal/ModalButton';
import ModalBackdrop from '@/components/modal/ModalBackdrop';
import ModalBackdropDialog from '@/components/modal/ModalBackdropDialog';

export default {
    name: 'VideoPlayer',
    components: {
        ModalButton,
        ModalBackdrop,
        ModalBackdropDialog,
    },
    mixins: [dynamicComponent],
    defaultTag: 'button',
    props: {
        videoUrl: {
            type: String,
            required: true,
        },
    },
    data() {
        return {
            id: uuid(),
            player: undefined,
            iframeSrc: undefined,
        };
    },
    created() {
        this.iframeSrc = this.setIframeSrc();
    },
    mounted() {
        this.player = new Plyr(this.$refs.player);
    },
    methods: {
        preventScrolling() {
            this.player.play();

            document.body.classList.toggle('prevent-scroll');
        },
        enableScrolling() {
            this.player.stop();

            document.body.classList.toggle('prevent-scroll');
        },
        setIframeSrc() {
            const video = this.parseVideo(this.videoUrl);

            if (video.source === 'vimeo') {
                return `https://player.vimeo.com/video/${video.id}?loop=false&amp;byline=false&amp;portrait=false&amp;title=false&amp;speed=true&amp;transparent=0&amp;gesture=media`;
            }
            if (video.source === 'youtube') {
                return `https://www.youtube.com/embed/${video.id}?iv_load_policy=3&amp;modestbranding=1&amp;playsinline=1&amp;showinfo=0&amp;rel=0&amp;enablejsapi=1`;
            }

            return null;
        },
        parseVideo(url) {
            // eslint-disable-next-line
            url.match(/(http:|https:|)\/\/(player.|www.)?(vimeo\.com|youtu(be\.com|\.be|be\.googleapis\.com))\/(video\/|embed\/|watch\?v=|v\/)?([A-Za-z0-9._%-]*)(\&\S+)?/);
            let type = '';

            if (RegExp.$3.indexOf('youtu') > -1) {
                type = 'youtube';
            } else if (RegExp.$3.indexOf('vimeo') > -1) {
                type = 'vimeo';
            }

            return {
                source: type,
                id: RegExp.$6,
            };
        },
    },
};
</script>

<style lang="scss">
    @import "plyr/dist/plyr.css";
</style>
