{% import 'macros/buttons.twig' as buttons %}
<section class="block block_courses">
    <div class="block__inner">
        {% if heading %}
            <h2 class="block__heading">{{ heading }}</h2>
        {% endif %}
        <div class="block__main">
            {% for course_block in course_blocks %}
                {% include "components/block-course.twig" with course_block only %}
            {% endfor %}
        </div>
        {% if cta %}
            <a
                href="{{ cta.href }}"
                class="block__cta"
            >{{ cta.label }}</a>
        {% endif %}
    </div>
</section>
