<div
    is="global-filter"
    :single-select="true"
    class="block block_directory"
>
    <div class="block__inner">
        <div class="block__top">
            <ul class="block__navigation">
                <li class="block__navigation__item">
                    <button
                        is="global-filter-button"
                        class="block__navigation__button"
                        filter-category="All"
                    >
                        ALL
                    </button>
                </li>
                {% for item in filters %}
                    <li class="block__navigation__item">
                        <button
                            is="global-filter-button"
                            class="block__navigation__button"
                            filter-category="{{ item }}"
                        >
                            {{ item }}
                        </button>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div
            is="global-filter-items-wrap"
            class="block__bottom"
        >
            {% for item in items %}
                <div
                    is="global-filter-item"
                    class="block__item"
                    filter-category="{{ item.category }}"
                >
                    <img class="block__image" src="{{ item.image.src }}" alt="{{ item.image.alt }}">
                    <div class="block__content">
                        <div class="block__name">{{ item.name }}</div>
                        <p class="block__copy">{{ item.title }}</p>
                    </div>
                    <div class="block__content">
                        <div class="block__subheading">Contact</div>
                        <p class="block__copy"><a href="mailto:{{ item.email }}">{{ item.email }}</a></p>
                        <p class="block__copy">{{ item.phone }}</p>
                        <p class="block__copy">{{ item.location }}</p>
                    </div>
                    <div class="block__content">
                        <div class="block__subheading">Research Interests</div>
                        <p class="block__copy">{{ item.interests }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
