{% import "macros/buttons.twig" as buttons %}

<div
    is="fade-slider"
    class="block block_home-slider"
>
    <div class="block__slide" slot-scope="slider">
        {% for slide in slides %}
            <img
                class="block__background-image"
                :class="{ 'block__background-image_active': slider.activeSlide == {{ loop.index | json_encode }} }"
                src="{{ slide.background_image.src }}"
                alt="{{ slide.background_image.alt }}"
            >
        {% endfor %}
        <div class="block__background-gradient"></div>
        <div class="block__inner">
            <div class="block__main">
                <div class="block__pagination">0<span v-text="slider.activeSlide"></span>/0{{ slides|length }}</div>
                <div class="block__content">
                    {% for slide in slides %}
                        <div
                            class="block__copy-wrap"
                            :class="{ 'block__copy__wrap_active': slider.activeSlide == {{ loop.index | json_encode }} }"
                        >
                            {% if slide.heading %}
                                <h1 class="block__heading">{{ slide.heading }}</h1>
                            {% endif %}
                            {% if slide.ctas %}
                                <ul class="block__ul">
                                    {% for cta in slide.ctas %}
                                        <li class="block__li">
                                            <a class="block__button" href="{{ cta.href }}">{{ cta.label }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <ul class="block__navigation">
                    {% for slide in slides %}
                        <li class="block__navigation__item">
                            <button
                                @click="slider.changeSlide({{ loop.index | json_encode }})"
                                class="block__navigation__button"
                                :class="{ 'block__navigation__button_active': slider.activeSlide == {{ loop.index | json_encode }} }">
                                <span class="access-hidden">{{ slide.heading }} {{ loop.index | json_encode }}</span>
                            </button>
                        </li>
                    {% endfor %}
                </ul>
                {% if anchor_link %}
                    <div class="block__jumplink-container">
                        {{ buttons.jumplink(anchor_link.name, anchor_link.url) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
