{% import 'macros/buttons.twig' as buttons %}
<article
    {% if featured %}
        class="block block_news-article block block_news-article_featured"
    {% else %}
        class="block block_news-article"
    {% endif %}
>
    {% if featured %}
        <div class="block__background-wrap">
            <img
                class="block__background-image"
                src="{{ image.src }}"
                alt="{{ image.alt }}"
            >
        </div>
        <div class="block__background-overlay"></div>
    {% endif %}
    <div class="block__date">{{ date }}</div>
    {% if featured %}
        <div class="block__content">
    {% endif %}
    <h3 class="block__heading">{{ heading }}</h3>
    <p class="block__copy">{{ copy }}</p>
    {{ buttons.standard_cta(cta.href, cta.label) }}
    {% if featured %}
        </div>
    {% endif %}
</article>
