{% import 'macros/buttons.twig' as buttons %}
<article class="block block_comparison">
    <div class="block__inner">
        <h3 class="block__heading">{{ heading }}</h3>
        {% for item in content_items %}
            <h4 class="block__item-heading">{{ item.heading }}</h4>
            <p class="block__item-copy">{{ item.copy }}</p>
        {% endfor %}
        {{ buttons.standard_cta(cta.href, cta.label) }}
    </div>
</article>
