{% import 'macros/buttons.twig' as buttons %}
<section class="block block_hero {% if level_2 %}block_hero_small{% endif %}">
    {% if background_image %}
        <img
            class="block__background-image"
            src="{{ background_image.src }}"
            alt="{{ background_image.alt }}"
        >
    {% endif %}
    <div class="block__background-gradient
        {% if secondary_content_type is empty and level_2 == false %}
            block__background-gradient_full
        {% endif %}">
    </div>
    {% if favorites_btn %}
        <div class="block__ghost-container">
            <div class="block__ghost-row">
                <button
                    is="global-favorites-on"
                    controls="favorites"
                    class="header__favorites-btn"
                >
                    <span slot-scope="favOn">
                        <svg class="header__favorites-btn__heart" viewBox="0 0 15 13">
                            <path d="M11,0C9.5,0,8.2,0.8,7.5,2.2C6.4,0.2,4-0.5,2.1,0.6C0.8,1.3,0.1,2.5,0,3.9C0,8,6.7,13,7.5,13S15,8.1,15,3.9
                                    C15,1.7,13.2,0,11,0z"/>
                        </svg>
                        Favorites (<span v-text="favOn.favsList.length"></span>)
                    </span>
                </button>
            </div>
        </div>
    {% endif %}
    <div class="block__inner">
        <div class="block__main">
            {% if subheading %}
                <h3 class="block__subheading">{{ subheading }}</h3>
            {% endif %}
            {% if heading %}
                <h1 class="block__heading">
                    {% for line in heading %}
                        <span
                            class="block__heading__inner-wrap
                            {% if secondary_content_type == 'image' and image %}
                                block__heading__inner-wrap_long
                            {% endif %}"
                        >
                            {{ line }}
                        </span>
                    {% endfor %}
                </h1>
            {% endif %}
            {% if copy %}
                <p class="block__copy">{{ copy }}</p>
            {% endif %}
            {% if ctas %}
                <ul class="block__ul">
                    {% for cta in ctas %}
                        <li class="block__li">
                         {{ buttons.standard_button(cta.href, cta.label) }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div
            {% if secondary_content_type == 'image' and image %}
                class="block__secondary"
            {% else %}
                class="block__secondary block__secondary_small"
            {% endif %}
        >
            {% if secondary_content_type == 'image' and image %}
                <img
                    class="block__image"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}"
                >
            {% elseif secondary_content_type == 'registration_block' %}
                {% include "components/block-registration.twig" %}
            {% endif %}
        </div>
    </div>
</section>
