<div is="registration-form">
    <div class="block__facts">
        <div class="block__facts__item">
            <div class="block__facts__number">{{ form_info.fee }}</div>
            <div class="block__facts__label">Per Participant</div>
        </div>
        <div class="block__facts__item">
            <div class="block__facts__number">{{ form_info.ceu }}</div>
            <div class="block__facts__label">CEU</div>
        </div>
        <div class="block__facts__item">
            <div class="block__facts__number">{{ form_info.credits }}</div>
            <div class="block__facts__label">Credits</div>
        </div>
    </div>
    <div class="block__select-container">
        <select class="block__select">
            <option value="default">Upcoming Sessions</option>
            {% for session in sessions %}
                <option value="{{ session.dates }}">{{ session.dates }}</option>
            {% endfor %}
        </select>
        <svg viewBox="0 0 16 9.1" class="box__select-arrow">
            <polygon points="16,1.1 14.9,0 8,6.9 1.1,0 0,1.1 8,9.1 9.1,8 9.1,8"/>
        </svg>
    </div>
    <div class="block__copy">
        <div class="block__label">Meet 6 times</div>
        <p class="block__p">Wednesday and Thursday, 1:00 p.m. to 7:00 p.m., and Friday, 9:00 a.m. to 4:00 p.m.</p>
    </div>
    <input type="submit" class="block_registration__button" value="Register">
</div>
