<article class="block block_text-grid-item">
    <h3 class="block_heading">{{ heading }}</h3>
    <div class="block_copy">{{ copy }}</div>
    <a
        href="{{ cta.href }}"
        class="block_link"
    >{{ cta.label }}</a>
</article>
