<div class="block block_three-col-text-grid">
    <div class="block__inner">
        <div class="block__header">
            {% if level %}
                <div class="block__pagination">{{ level }}</div>
            {% endif %}
            {% if heading %}
                <h2 class="block__heading">{{ heading }}</h2>
            {% endif %}
        </div>
    </div>
    <div class="block__inner">
        {% for item in blocks %}
            <div class="block__node">
                <h3 class="block__subheading">{{ item.heading }}</h3>
                <p class="block__copy">{{ item.copy }}</p>
            </div>
        {% endfor %}
    </div>
</div>
