<tabs-container class="block block_cta-tabbed-text-body">
    <div class="block__inner">
        {% if heading %}
            <h2 class="block__heading">{{ heading }}</h2>
        {% endif %}
    </div>
    <div class="block__inner block__desktop">
        <tabs-container-tablist
            class="block__tabs"
            orientation="vertical"
        >
            {% for item in content %}
                <li class="block__tabs__item">
                    <tabs-container-tablist-tab
                        id="tab__{{ item.heading|replace({' ': "-" })|lower }}"
                        controls="tabpanel__{{ item.heading|replace({' ': "-" })|lower }}"
                        class="block__button"
                    >
                        {{ item.heading }}
                        <svg viewBox="0 0 17 12" class="icon-button-arrow">
                          <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                          <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                          <rect y="5.5" width="16.49" height="1"/>
                        </svg>
                    </tabs-container-tablist-tab>
                </li>
            {% endfor %}
        </tabs-container-tablist>
        <div class="block__main">
            {% for item in content %}
                <tabs-container-tabpanel
                    id="tabpanel__{{ item.heading|replace({' ': "-" })|lower }}"
                    class="block__content"
                >
                    <h3 class="block__subheading">{{ item.heading }}</h3>
                    <p class="block__copy">{{ item.copy }}</p>
                </tabs-container-tabpanel>
            {% endfor %}
        </div>
    </div>
    <div class="block__inner block__mobile">
        <accordion-container
            class="block__accordion"
            :collapse="true"
        >
            {% for item in content %}
                <div class="block__accordion__group">
                    <h3
                        is="accordion-container-header"
                    >
                        <accordion-container-header-button
                            class="block__accordion__button"
                            id="button_{{ item.heading|replace({' ': "-" })|lower }}"
                            controls="panel_{{ item.heading|replace({' ': "-" })|lower }}"
                        >
                            {{ item.heading }}
                            <svg class="block__plus-icon" viewBox="0 0 11.2 11.2">
                                <polygon points="11.2,4.9 6.2,4.9 6.2,0 5,0 5,4.9 0,4.9 0,6.2 5,6.2 5,11.2 6.2,11.2 6.2,6.2 11.2,6.2 "/>
                            </svg>

                        </accordion-container-header-button>
                    </h3>
                    <accordion-container-panel
                        id="panel_{{ item.heading|replace({' ': "-" })|lower }}"
                        class="block__accordion__panel"
                    >
                        <p class="block__copy">{{ item.copy }}</p>
                    </accordion-container-panel>
                </div>
            {% endfor %}
        </accordion-container>
    </div>
</tabs-container>
