<article is="carousel-item" class="block block_stat">
    <div class="block__inner">
        <div class="block__stat-number">{{ stat }}</div>
        {% if copy %}
            <p class="block__copy">{{ copy }}</p>
        {% endif %}
    </div>
</article>
