<section class="block block_featured-links">
    <h2 class="body_heading">{{ heading }}</h2>
    <ul class="block_links">
        {% for link in links %}
            <li class="block_link-item">
                <a
                    class="block_link"
                    href="{{ link.href }}"
                >{{ link.label }}</a>
            </li>
        {% endfor %}
    </ul>
</section>
