<section
    is="carousel-container"
    transition="slide"
    class="block block_stats"
>
    <div
        class="block__inner"
        slot-scope="carousel"
    >
        {% for stat_block in stat_blocks %}
            {% include "components/block-stat.twig" with stat_block %}
        {% endfor %}
        <div
            is="carousel-nav"
            class="block__nav"
        ></div>
    </div>
</section>
