<div
    is="global-carousel"
    class="block block_full-width-carousel"
>
    {% for slide in slides %}
        <div class="slide" slot="slides">
            <div class="block__image__wrap">
                <img
                    src="{{ slide.image.src }}"
                    alt="{{ slide.image.alt }}"
                    class="slide__image"
                >
            </div>
            <div class="block__overlay">
                <div class="block__inner">
                    <div class="block__main">
                        <div class="block__pagination">0{{ loop.index }} / 0{{ loop.length }}</div>
                        {% if slide.heading %}
                            <h2 class="block__heading">{{ slide.heading }}</h2>
                        {% endif %}
                        {% if slide.copy %}
                            <p class="block__copy">{{ slide.copy }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    <svg class="block__arrow" viewBox="0 0 19.4 14.9" slot="navigation__left">
        <path d="M0,7.5C0,7.5,0,7.5,0,7.5c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0l7-6.9C7.3,0,7.6,0,7.8,0.1C8,0.3,8,0.7,7.8,0.9L1.7,6.9h17.2c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H1.7L7.8,14c0.2,0.2,0.2,0.5,0,0.7c-0.1,0.1-0.2,0.1-0.4,0.1c-0.1,0-0.3,0-0.4-0.1l-7-6.9c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1C0.1,7.7,0,7.6,0,7.5C0,7.6,0,7.5,0,7.5z"/>
    </svg>
    <svg class="block__arrow" viewBox="0 0 19.4 14.9" slot="navigation__right">
        <path d="M19.4,7.5C19.4,7.5,19.4,7.5,19.4,7.5c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0l-7-6.9c-0.2-0.2-0.5-0.2-0.7,0c-0.2,0.2-0.2,0.5,0,0.7l6.1,6.1H0.5C0.2,6.9,0,7.1,0,7.4s0.2,0.5,0.5,0.5h17.2L11.6,14c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l7-6.9c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1C19.4,7.7,19.4,7.6,19.4,7.5C19.4,7.6,19.4,7.5,19.4,7.5z"/>
    </svg>
</div>
