{% set randoms = [] %}
{% for item in content_items %}
    {% set randoms = randoms|merge([random()]) %}
{% endfor %}

<article class="block block_accordion">
    <h3 class="block__heading">{{ heading }}</h3>
    {% for item in content_items %}
        <div class="block__item">
            <button
                class="block__item-button"
                is="disclosure-button"
                controls="block__item-copy-container-{{ randoms[loop.index0] }}"
            >
                <span class="block__item-heading">{{ item.heading }}</span>
                <div class="block__item-icon">
                    <span class="block__item-icon__plus-verticle"></span>
                    <span class="block__item-icon__plus-horizontal"></span>
                </div>
            </button>
            <div
                class="block__item-container"
                id="block__item-copy-container-{{ randoms[loop.index0] }}"
                is="disclosure-container"
            >
                <div class="block__item-copy">{{ item.copy }}</div>
            </div>
            <hr class="block__item-divider">
        </div>
    {% endfor %}
</article>
