{% import 'macros/buttons.twig' as buttons %}
<div
    is="global-carousel"
    class="block block_tabbed-carousel"
>
    <div
        class="block__dots-outer"
        slot="dots"
        slot-scope="carousel"
    >
        <div class="block__dots-wrap">
            {% for slide in slides %}
                <button
                    is="global-carousel-dot"
                    class="block__dot"
                    :class="{ 'block__dot__active': carousel.activeSlide == {{ loop.index | json_encode }} }"
                    :slide-number="{{ loop.index }}"
                >
                    {{ slide.heading }}
                </button>
            {% endfor %}
        </div>
    </div>
    {% for slide in slides %}
        <div class="block__slide slide" slot="slides">
            <div class="block__image-wrap">
                <img
                    class="block__image"
                    src="{{ slide.image.src }}"
                    alt="{{ slide.image.alt }}"
                >
            </div>
            <div class="block__inner">
                <div class="block__main">
                    {% if slide.subheading %}
                        <h3 class="block__subheading">{{ slide.subheading }}</h3>
                    {% endif %}
                    <h2 class="block__heading">{{ slide.heading }}</h2>
                    <p class="block__copy">{{ slide.copy }}</p>
                    {% if slide.cta %}
                        {{ buttons.standard_cta(slide.cta.href, slide.cta.label) }}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
