{% import 'macros/buttons.twig' as buttons %}
<article class="block block_event">
    <div
        class="block__inner"
    >
        {% if date %}
            <div class="block__date">{{ date }}</div>
        {% endif %}
        {% if heading %}
            <h3 class="block__heading">{{ heading }}</h3>
        {% endif %}
        {% if copy %}
            <p class="block__copy">{{ copy }}</p>
        {% endif %}
        <div class="block__cta-container">
            {{ buttons.standard_cta(cta.href, cta.label) }}
        </div>
    </div>
</article>
