{% import 'macros/buttons.twig' as buttons %}
<article class="block block_course">
    <div class="block__inner">
        {% if heading %}
            <h3 class="block__heading">{{ heading }}</h3>
        {% endif %}
        {% if copy %}
            <p class="block__copy">{{ copy }}</p>
        {% endif %}
        {% if cta %}
            {{ buttons.standard_cta(cta.href, cta.label) }}
        {% endif %}
    </div>
</article>
