<article class="block block_event">
    {% if copy %}
        <h3 class="block_heading">{{ heading }}</h3>
        <p class="block_copy">{{ copy }}</p>
    {% else %}
        <h4 class="block_subheading">{{ subheading }}</h4>
        <h3 class="block_heading">{{ heading }}</h3>
    {% endif %}
    {% if cta %}
        <a
            class="block_cta"
            href="{{ cta.href }}"
        >{{ cta.label }}</a>
    {% endif %}
</article>
