{% import 'macros/buttons.twig' as buttons %}
<div class="block block_checkered-group">
    {% for item in blocks %}
        <div class="block__checkered-block">
            <div class="block__inner">
                {% if item.subheading %}
                    <h3 class="block__subheading">{{ item.subheading }}</h3>
                {% endif %}
                {% if item.heading %}
                    <h2 class="block__heading">{{ item.heading }}</h2>
                {% endif %}
                {% if item.copy %}
                    <p class="block__copy">{{ item.copy }}</p>
                {% endif %}
                {% if item.cta %}
                    <a class="block__link" href="{{ item.cta.href }}">{{ item.cta.label }}</a>
                    {{ buttons.standard_cta(item.cta.href, item.cta.label) }}
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
