<div class="block block_full-width-text-area">
    <div class="block__inner">
        <div class="block__main">
            {% if subheading %}
                <h3 class="block__subheading">{{ subheading }}</h3>
            {% endif %}
            {% if heading %}
                <h2 class="block__heading">{{ heading }}</h2>
            {% endif %}
            {% if copy %}
                <p class="block__copy">{{ copy }}</p>
            {% endif %}
        </div>
    </div>
</div>
