<section class="block block_comparisons">
    <h2 class="block__heading">{{ heading }}</h2>
    {% for comparison_block in comparison_blocks %}
        {% include "components/block-comparison.twig" with comparison_block %}
    {% endfor %}
</section>
