<section class="block block_video">
    <div class="block__secondary">
        <div class="block__secondary-inner">
            {% if video_url %}
                <img
                    class="block__image"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}"
                >
                <div
                    is="video-player"
                    class="block__video-container"
                    video-url="{{ video_url }}"
                ></div>
            {% else %}
                <img
                    class="block__image"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}"
                >
            {% endif %}
        </div>
    </div>
    <div class="block__main">
        {% if heading %}
            <h1 class="block__heading">{{ heading }}</h1>
        {% endif %}
        {% if copy %}
            <div class="block__copy">{{ copy | raw }}</div>
        {% endif %}
        {% if cta %}
            <a href="{{ cta.href }}" class="block__cta">{{ cta.label }}</a>
        {% endif %}
    </div>
</section>
