<section class="block block_texts">
    <h2 class="block_heading">{{ heading }}</h2>
    <div class="block_main">
        {% for block_text in block_texts %}
            {% include "block-text.twig" with block_text %}
        {% endfor %}
    </div>
</section>
