<section class="block block_basic-container">
    <div class="block__headings">
        <h3 class="block__subheading">{{ subheading }}</h3>
        <h2 class="block__heading">{{ heading }}</h2>
    </div>
    <div class="block__main">
        {% for content_block in content_blocks %}
            {% if loop.index is odd %}
                {% set content_block = content_block|merge({'text_side': 'right'}) %}
            {% else %}
                {% set content_block = content_block|merge({'text_side': 'left'}) %}
            {% endif %}
            {% set content_block = content_block|merge({'subheading_number': loop.index}) %}
            {% include "components/block-basic.twig" with content_block %}
        {% endfor %}
    </div>
</section>
