<div
    is="fade-slider"
    class="block block_flipbook"
>
    <div class="block__inner" slot-scope="slider">
        <div class="block__pattern"></div>
        <div class="block__main">
            <div class="block__image-wrap">
                <div class="block__image-overlay">
                    {% for slide in slides %}
                        <div
                            class="block__image-overlay__content"
                            :class="{ 'block__image-overlay__content_active': slider.activeSlide == {{ loop.index | json_encode }} }"
                        >
                            <div class="block__name">{{ slide.name }}</div>
                            <div class="block__title">{{ slide.title }}</div>
                        </div>
                    {% endfor %}
                </div>
                {% for slide in slides %}
                    <img
                        class="block__background-image"
                        :class="{ 'block__background-image_active': slider.activeSlide == {{ loop.index | json_encode }} }"
                        src="{{ slide.image.src }}"
                        alt="{{ slide.image.alt }}"
                    >
                {% endfor %}
            </div>
        </div>
        <div class="block__secondary">
            <div class="block__content">
                {% for slide in slides %}
                    <div
                        ref="testy"
                        class="block__copy__wrap"
                        :class="{ 'block__copy__wrap_active': slider.activeSlide == {{ loop.index | json_encode }} }"
                    >
                        <div class="block__pagination">0{{ loop.index }} / 0{{ loop.length }}</div>
                        <h2 class="block__heading">{{ slide.heading }}</h2>
                        <p class="block__copy">{{ slide.copy }}</p>
                        {% if slide.button %}
                            <a class="block__button" href="{{ slide.button.url }}">{{ slide.button.name }}</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="block__navigation">
                <button
                    class="block__navigation-btn left"
                    @click="slider.nextSlide('left')"
                >
                    <svg class="block__arrow" viewBox="0 0 19.4 14.9">
                        <path d="M0,7.5C0,7.5,0,7.5,0,7.5c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1,0.1-0.1c0,0,0-0.1,0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0l7-6.9C7.3,0,7.6,0,7.8,0.1C8,0.3,8,0.7,7.8,0.9L1.7,6.9h17.2c0.3,0,0.5,0.2,0.5,0.5s-0.2,0.5-0.5,0.5H1.7L7.8,14c0.2,0.2,0.2,0.5,0,0.7c-0.1,0.1-0.2,0.1-0.4,0.1c-0.1,0-0.3,0-0.4-0.1l-7-6.9c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1-0.1-0.1C0.1,7.7,0,7.6,0,7.5C0,7.6,0,7.5,0,7.5z"/>
                    </svg>
                    <span class="access-hidden">Slider Button Navigate Left</span>
                </button>
                <button
                    class="block__navigation-btn right"
                    @click="slider.nextSlide('right')"
                >
                    <svg class="block__arrow" viewBox="0 0 19.4 14.9">
                        <path d="M19.4,7.5C19.4,7.5,19.4,7.5,19.4,7.5c0-0.1,0-0.1,0-0.2c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1-0.1-0.1c0,0,0,0,0,0c0,0,0,0,0,0l-7-6.9c-0.2-0.2-0.5-0.2-0.7,0c-0.2,0.2-0.2,0.5,0,0.7l6.1,6.1H0.5C0.2,6.9,0,7.1,0,7.4s0.2,0.5,0.5,0.5h17.2L11.6,14c-0.2,0.2-0.2,0.5,0,0.7c0.1,0.1,0.2,0.1,0.4,0.1c0.1,0,0.3,0,0.4-0.1l7-6.9c0,0,0,0,0,0c0,0,0,0,0,0c0,0,0-0.1,0.1-0.1C19.4,7.7,19.4,7.6,19.4,7.5C19.4,7.6,19.4,7.5,19.4,7.5z"/>
                    </svg>
                    <span class="access-hidden">Slider Button Navigate Right</span>
                </button>
            </div>
        </div>
    </div>
</div>
