{% import 'macros/buttons.twig' as buttons %}
<div
    {% if component_type %}
        is="{{ component_type }}"
    {% endif %}
    {% if component_type == 'global-filter-item' %}
        {% set x = subjects %}
        {% set y = format %}
        {% set j = x|merge(y) %}
        :filter-category="{{ j|json_encode() }}"
    {% endif %}
    class="block block_course-card"
>
    <div class="block__inner">
        <div class="block__main">
            {% if name %}
                <h4 class="block__heading">{{ name }}</h4>
            {% endif %}
            {% if subject %}
                <div class="block__subject">{{ subject }}</div>
            {% endif %}
            {% if copy %}
                <p class="block__copy">{{ copy }}</p>
            {% endif %}
            {% if cta %}
                {{ buttons.standard_cta(cta.href, cta.label) }}
            {% endif %}
        </div>
        <div class="block__secondary">
            {% if date %}
                {% if date %}
                    <div class="block__date">{{ date }}</div>
                {% endif %}
                {% if sessions %}
                    <div class="block__copy">{{ sessions }}</div>
                {% endif %}
                {% if times %}
                    <div class="block__copy block__time">{{ times }}</div>
                {% endif %}
            {% endif %}
            <ul class="block__navigation">
                <li class="block__navigation__item">
                    <button
                        is="global-favorites-button"
                        name="{{ name }}"
                        category="{{ subject }}"
                        dates="{{ date }}"
                        url="{{ url }}"
                        class="block__button block__button_favorites"
                    >
                        Save to Favorites
                    </button>
                </li>
                <li class="block__navigation__item">
                    <button class="block__button block__button_register">
                        Register
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>
