<div
    is="global-filter"
    class="block block_program-finder"
>
    <div
        class="block__inner block__heading-wrap"
    >
        <h2 class="block__heading">Graduate Programs</h2>
    </div>
    <div
        class="block__inner block__navigation__wrap"
    >
        <ul class="block__navigation">
            <li class="block__navigation__item">
                <button
                    is="global-filter-button"
                    class="block__button"
                    filter-category="All"
                >
                    Show All
                </button>
            </li>
            <li class="block__navigation__item">
                <button
                    is="global-filter-button"
                    class="block__button"
                    filter-category="MBA Programs"
                >
                    MBA Programs
                </button>
            </li>
            <li class="block__navigation__item">
                <button
                    is="global-filter-button"
                    class="block__button"
                    filter-category="Specialized Masters"
                >
                    Specialized Masters
                </button>
            </li>
            <li class="block__navigation__item">
                <button
                    is="global-filter-button"
                    class="block__button"
                    filter-category="Graduate Certificates"
                >
                    Graduate Certificates
                </button>
            </li>
            <li class="block__navigation__item">
                <button
                    class="block__button"
                >
                    View as PDF
                </button>
            </li>
        </ul>
    </div>
    <div
        is="global-filter-items-wrap"
        class="block__inner block__filter"
    >
        {% for item in items %}
            <div
                is="global-filter-item"
                class="block__filter__item"
                filter-category="{{ item.subheading }}"
            >
                <div class="block__box">
                    {% if item.subheading %}
                        <div class="block__subheading">{{ item.subheading }}</div>
                    {% endif %}
                    {% if item.heading %}
                        <h3 class="block__heading">{{ item.heading }}</h3>
                    {% endif %}
                    {% if item.copy %}
                        <p class="block__copy">{{ item.copy }}</p>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="block__inner block__mobile">
        <div class="block__inner-wrap">
            {% for item in categories %}
                <div class="block__category">{{ item.name }}</div>
                {% for item in item.items %}
                    {% set id = item.heading ~ '-' ~ random() %}
                    <div class="block__filter__item">
                        <disclosure-button
                            controls="{{ id }}"
                            class="block__box block__box__button"
                        >
                            <h3 class="block__heading">{{ item.heading }}</h3>
                        </disclosure-button>
                        <disclosure-container
                            id="{{ id }}"
                            class="block__box block__box__disclosure"
                        >
                            <p class="block__copy">{{ item.copy }}</p>
                        </disclosure-container>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
</div>
