<section class="block block_inset-text">
    <div class="block__inner">
        <div class="block__secondary">
            <div class="block__secondary-inner">
                <img
                    class="block__image"
                    src="{{ image.src }}"
                    alt="{{ image.alt }}"
                >
            </div>
        </div>
        <div class="block__main">
            <div class="block__main-inner">
                {% if heading %}
                    <h1 class="block__heading">{{ heading }}</h1>
                {% endif %}
                {% if copy %}
                    <div class="block__copy">{{ copy | raw }}</div>
                {% endif %}
                {% for cta in ctas %}
                    <div class="block__cta-container">
                        <a href="{{ cta.href }}" class="block__cta">{{ cta.label }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
