<section
    {% if background_type == 'light' %}
        class="block block_events block_light"
    {% elseif background_type == 'dark' %}
        class="block block_events block_dark"
    {% endif %}
>
    <div class="block__inner">
        {% if heading %}
            <h2 class="block__heading">{{ heading }}</h2>
        {% endif %}
        <div class="block__main">
            {% for event_block in event_blocks %}
                {% include "components/block-event.twig" with event_block %}
            {% endfor %}
        </div>
        {% if cta %}
            <a
                href="{{ cta.href }}"
                class="block__cta"
            >{{ cta.label }}</a>
        {% endif %}
    </div>
</section>
