{% import 'macros/buttons.twig' as buttons %}
<div class="block block_intro">
    <div class="block__inner">
        <div class="block__main">
            {% if heading %}
                <h2 class="block__heading">{{ heading }}</h2>
            {% endif %}
            {% if copy %}
                <p class="block__copy">{{ copy }}</p>
            {% endif %}
        </div>
        {% if secondary_content %}
            <div class="block__secondary">
                {% if secondary_content.stat %}
                    <article class="block block_stat">
                        <div class="block__inner">
                            <div class="block__stat-number">{{ secondary_content.stat.stat }}</div>
                            {% if secondary_content.stat.copy %}
                                <p class="block__copy">{{ secondary_content.stat.copy }}</p>
                            {% endif %}
                        </div>
                    </article>
                {% endif %}
                {% if secondary_content.action_menu %}
                    <ul class="block__action-menu">
                        {% for item in secondary_content.action_menu %}
                            <li class="block__action-menu__item">
                                <a class="block__action-menu__button" href="{{ item.url }}">{{ item.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if secondary_content.side_menu %}
                    <ul class="block__side-menu">
                        {% for item in secondary_content.side_menu %}
                            <li class="block__side-menu__item">
                                <a class="block__side-menu__button" href="{{ item.href }}">
                                    {{ item.label }}
                                    <svg viewBox="0 0 17 12" class="icon-button-arrow">
                                      <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                                      <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                                      <rect y="5.5" width="16.49" height="1"/>
                                    </svg>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if secondary_content.social_menu %}
                    <h2 class="block__subheading">Connect With Us</h2>
                    <ul class="block__social-menu">
                        <li class="block__social-menu__item">
                            <a class="block__social-menu__link" href="/">
                                <svg class="block__social-menu__icon" viewBox="0 0 30 30">
                                    <path class="st0" d="M12.8,23h3.5v-8h2.4l0.3-2.8h-2.7v-1.4c0-0.7,0.1-1.1,1.2-1.1H19V7h-2.4c-2.9,0-3.9,1.3-3.9,3.6v1.6H11V15
                                h1.8V23z M15,30C6.7,30,0,23.3,0,15S6.7,0,15,0s15,6.7,15,15S23.3,30,15,30z"/>
                                </svg>
                                Facebook
                                <svg viewBox="0 0 17 12" class="icon-button-arrow">
                                  <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                                  <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                                  <rect y="5.5" width="16.49" height="1"/>
                                </svg>
                            </a>
                        </li>
                        <li class="block__social-menu__item">
                            <a class="block__social-menu__link" href="/">
                                <svg class="block__social-menu__icon" viewBox="0 0 30 30">
                                    <path class="st0" d="M12.8,23h3.5v-8h2.4l0.3-2.8h-2.7v-1.4c0-0.7,0.1-1.1,1.2-1.1H19V7h-2.4c-2.9,0-3.9,1.3-3.9,3.6v1.6H11V15
                                h1.8V23z M15,30C6.7,30,0,23.3,0,15S6.7,0,15,0s15,6.7,15,15S23.3,30,15,30z"/>
                                </svg>
                                LinkedIn
                                <svg viewBox="0 0 17 12" class="icon-button-arrow">
                                  <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                                  <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                                  <rect y="5.5" width="16.49" height="1"/>
                                </svg>
                            </a>
                        </li>
                        <li class="block__social-menu__item">
                            <a class="block__social-menu__link" href="/">
                                <svg class="block__social-menu__icon" viewBox="0 0 30 30">
                                    <path d="M17.1,10.1c-1.3,0.4-2.1,1.7-2,3v0.5l-0.5-0.1c-1.9-0.2-3.7-1.1-5-2.5l-0.7-0.7L8.7,11
            c-0.4,1.1-0.1,2.3,0.6,3.1c0.4,0.4,0.3,0.5-0.4,0.2c-0.2-0.1-0.3-0.1-0.5-0.1c0,0.5,0.2,1,0.4,1.4c0.3,0.6,0.8,1.1,1.4,1.4
            l0.5,0.2h-0.6c-0.6,0-0.6,0-0.6,0.2c0.4,0.8,1.1,1.5,2,1.7l0.6,0.2l-0.6,0.3c-0.9,0.5-1.8,0.8-2.8,0.8c-0.3,0-0.6,0-0.9,0.1
            c0.6,0.4,1.3,0.7,2,0.9c2.3,0.7,4.8,0.4,6.9-0.8c1.5-1,2.8-2.4,3.5-4.1c0.4-1,0.6-2.1,0.7-3.2c0-0.5,0-0.6,0.6-1.1
            c0.3-0.3,0.5-0.5,0.7-0.8c0.1-0.2,0.1-0.2-0.4,0c-0.9,0.3-1,0.3-0.6-0.2c0.3-0.3,0.6-0.7,0.7-1.1c0,0-0.1,0-0.3,0.1
            c-0.3,0.1-0.6,0.3-0.9,0.4l-0.6,0.2l-0.5-0.4c-0.3-0.2-0.6-0.4-0.9-0.5C18.3,10,17.7,10,17.1,10.1 M15,30C6.7,30,0,23.3,0,15
            S6.7,0,15,0s15,6.7,15,15S23.3,30,15,30"/>
                                </svg>
                                Twitter
                                <svg viewBox="0 0 17 12" class="icon-button-arrow">
                                  <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                                  <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                                  <rect y="5.5" width="16.49" height="1"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                {% endif %}
                {% if secondary_content.contact %}
                    <div class="block__contact__top">
                        <h2 class="block__subheading">Contact</h2>
                        {% if secondary_content.contact.name %}
                            <h3 class="block__name">{{ secondary_content.contact.name }}</h3>
                        {% endif %}
                        {% if secondary_content.contact.title %}
                            <div class="block__title">{{ secondary_content.contact.title }}</div>
                        {% endif %}
                    </div>
                    <div class="block__contact__bottom">
                        {% if secondary_content.contact.img.src %}
                            <img class="block__img" src="{{ secondary_content.contact.img.src }}" alt="{{ secondary_content.contact.img.alt }}">
                            {% if secondary_content.contact.email %}
                                <div class="block__contact__node">
                                    <div class="block__title--2">Email</div>
                                    <div class="block__title">{{ secondary_content.contact.email }}</div>
                                </div>
                            {% endif %}
                            {% if secondary_content.contact.phone %}
                                <div class="block__contact__node">
                                    <div class="block__title--2">Phone Number</div>
                                    <div class="block__title">{{ secondary_content.contact.phone }}</div>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
