<section
    {% if featured_article %}
        class="block block_news block_news_featured"
    {% else %}
        class="block block_news block_news_simple"
    {% endif %}
    >
    <div class="block__inner">
        <h2 class="block__heading">{{ heading }}</h2>
        {% if featured_article %}
            <div class="block__main">
                {% set featured_article = featured_article|merge({'featured': true}) %}
                {% include "components/block-news-article.twig" with featured_article %}
            </div>
        {% endif %}
        <div
            {% if featured_article %}
                class="block__secondary"
            {% else %}
                class="block__main"
            {% endif %}
        >
            <ul class="block__articles">
                {% for article in articles %}
                    <li class="block__article">
                        {% include "components/block-news-article.twig" with article %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if cta %}
        <a
            class="block__cta"
            href="{{ cta.href }}"
        >{{ cta.label }}</a>
    {% endif %}
</section>
