<div
    is="global-filter"
    class="block block_ee-course-finder"
>
    <div slot-scope="filter">
        <div
            class="block__inner"
        >
            <div class="block__heading-wrap">
                <h2 class="block__heading">{{ heading }}</h2>
                <p class="block__intro__copy">{{ intro }}</p>
            </div>
        </div>
        <div class="block__inner">
            <div class="block__left">
                {% for item in filters %}
                    <div class="block__filter-group">
                        <h3 class="block__subheading">{{ item.name }}</h3>
                        {% for option in item.items %}
                            <label class="form-long__checkbox-label">
                                <input
                                    is="global-filter-checkbox"
                                    class="form-long__checkbox"
                                    filter-category="{{ option }}"
                                >
                                <span class="form-long__checkbox-psuedo"></span>
                                <span class="form-long__checkbox-text">{{ option }}</span>
                            </label>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="block__right">
                <button
                    class="block__modal-button"
                    @click="filter.modalToggle()"
                >
                    Filter
                </button>
                <h3 class="block__subheading">
                    Programs
                    <span class="block__subheading__number">({{ items|length }})</span>
                </h3>
                <div
                    is="global-filter-items-wrap"
                    class="block__filter"
                >
                    {% for item in items %}
                        {% include "components/block-course-card.twig" with item %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div
            class="block__modal"
            :class="{ expanded: filter.modalMode === true }"
        >
            <button
                class="block__modal-exit"
                @click="filter.modalToggle()"
            >
                <svg class="block__modal-exit__svg" viewBox="0 0 32.1 23.4">
                    <path d="M32.1,11.8c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1,0-0.1L22.5,0.3c-0.3-0.3-0.7-0.3-1.1-0.1c-0.3,0.3-0.4,0.7-0.1,1.1l8.2,9.6H0v1.5h29.8l-8.4,9.8c-0.3,0.3-0.2,0.8,0.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.6-0.3l9.4-10.9c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1C32,11.9,32,11.9,32.1,11.8z"/>
                </svg>
            </button>
            <div class="block__inner">
                <div class="block__filters-wrap">
                    {% for item in filters %}
                        <div class="block__filter-group">
                            <h3 class="block__subheading">{{ item.name }}</h3>
                            {% for option in item.items %}
                                <label class="form-long__checkbox-label">
                                    <input
                                        is="global-filter-button"
                                        class="form-long__checkbox"
                                        type="checkbox"
                                        filter-category="{{ option }}"
                                    >
                                    <span class="form-long__checkbox-psuedo"></span>
                                    <span class="form-long__checkbox-text">{{ option }}</span>
                                </label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
