<section class="block block_text-grid">
    <h2 class="block_heading">{{ heading }}</h2>
    <div class="block_main">
        {% for item in text_grid_items %}
            {% include "block-text-grid-item.twig" with item %}
        {% endfor %}
    </div>
</section>
