{% import 'macros/buttons.twig' as buttons %}
<section
    {% if text_side == 'left' %}
    class="block block_basic block_text-left"
    {% else %}
    class="block block_basic block_text-right"
    {% endif %}
>
    <div class="block__inner">
        <div class="block__secondary">
            <img
                class="block__image"
                src="{{ image.src }}"
                alt="{{ image.alt }}"
            >
        </div>
        <div class="block__main">
            <div class="block__main-inner">
                {% if subheading %}
                    <h4 class="block__subheading">
                        {% if subheading_number %}{% endif %}
                        <span class="block__subheading-number">0{{ subheading_number }}</span>
                        {{ subheading }}
                    </h4>
                {% endif %}
                {% if heading %}
                    <h3 class="block__heading">{{ heading }}</h3>
                {% endif %}
                {% if copy %}
                    <div class="block__copy">{{ copy | raw }}</div>
                {% endif %}
                {% if cta %}
                    <a
                        class="block__cta"
                        href="{{ cta.href }}"
                    >{{ cta.label }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</section>
