<section class="block block_quote">
    <div class="block__inner">
        <div class="block__main">
            <div class="block__content">
                <svg class="block__svg" viewBox="0 0 72.2 60.2">
                    <path d="M52.3,60.2c-9.6,0-15.3-9.6-15.3-18.9c0-5.2,2.1-23.5,29.1-41.1L66.4,0l5.8,7l-0.3,0.3c-7.1,6.5-10.9,11.8-10.9,20.8c0,2.4,1.1,4.8,2.2,7.2c1.4,3.1,3,6.5,3,11C66.1,53.8,59.8,60.2,52.3,60.2z M66.2,1.3C40,18.5,38,36.2,38,41.3c0,8.8,5.3,17.9,14.3,17.9c6.9,0,12.8-5.9,12.8-12.9c0-4.2-1.5-7.4-2.9-10.5c-1.2-2.6-2.3-5-2.3-7.6c0-9.2,3.8-14.6,10.9-21.2L66.2,1.3zM15.3,60.2C5.7,60.2,0,50.6,0,41.3c0-5.2,2.1-23.5,29.1-41.1L29.4,0l5.8,7l-0.3,0.3c-7.1,6.5-10.9,11.8-10.9,20.8c0,2.4,1.1,4.8,2.2,7.2c1.4,3.1,3,6.5,3,11C29.1,53.8,22.8,60.2,15.3,60.2z M29.2,1.3C3,18.5,1,36.2,1,41.3c0,8.8,5.3,17.9,14.3,17.9c6.9,0,12.8-5.9,12.8-12.9c0-4.2-1.5-7.4-2.9-10.5c-1.2-2.6-2.3-5-2.3-7.6c0-9.2,3.8-14.6,10.9-21.2L29.2,1.3z"/>
                </svg>
                <p class="block__paragraph">{{ quote }}</p>
                {% if name %}
                    <div class="block__name">{{ quoter }}</div>
                {% endif %}
            </div>
        </div>
    </div>
</section>
