{% set randoms = [] %}
{% for tab in items %}
    {% set randoms = randoms|merge([random()]) %}
{% endfor %}

<section
    class="calendar"
    is="tabs-container"
>
    <template slot-scope="props">
        <div class="calendar__select-container">
            <div class="calendar__select-inner">
                <label class="access-hidden" for="calendar-type">Calendar Type</label>
                <select
                    class="calendar__select"
                    id="calendar-type"
                    @change="props.activateTab($event.target.selectedOptions[0]._value)"
                    required
                >
                    <option
                        v-for="tab in props.tabs"
                        :key="tab._uid"
                        :value="tab"
                        :selected="props.activeTab === tab"
                        :label="tab.$el.textContent"
                        v-text="tab.$el.textContent"
                    ></option>
                </select>
                <svg viewBox="0 0 16 9.1" class="box__select-arrow">
                    <polygon points="16,1.1 14.9,0 8,6.9 1.1,0 0,1.1 8,9.1 9.1,8 9.1,8"/>
                </svg>
            </div>
        </div>
        <div
            class="calendar__tablist"
            is="tabs-container-tablist"
            orientation="vertical"
        >
            {% for tab in items %}
                <button
                    class="calendar__tab"
                    id="tab_{{ randoms[loop.index0] }}"
                    controls="tabpanel_{{ randoms[loop.index0] }}"
                    is="tabs-container-tablist-tab"
                >{{ tab.label }}</button>
            {% endfor %}
        </div>
        <div class="calendar__panels">
            <div
                id="calendar__panels-inner"
                class="calendar__panels-inner"
            >
                {% for tab in items %}
                    <div
                        class="calendar__panel"
                        id="tabpanel_{{ randoms[loop.index0] }}"
                        :transition="null"
                        is="tabs-container-tabpanel"
                    >
                        <h3 class="calendar__panel-heading">{{ tab.heading }}</h3>
                        <h5 class="calendar__panel-subheading">{{ tab.subheading }}</h5>
                        <div class="calendar__panel-sections">
                            <div class="calendar__panel-sections-inner">
                                {% for section in tab.sections %}
                                    <h4 class="calendar__panel-section-heading">{{ section.heading }}</h4>
                                    <div class="calendar__panel-subsections">
                                        {% for subsection in section.subsections %}
                                            <h4 class="calendar__panel-subsection-heading">{{ subsection.heading }}</h4>
                                            <p class="calendar__panel-subsection-copy">{{ subsection.copy }}</p>
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                            {% if tab.cta.href and tab.cta.label %}
                                <div class="calendar__panel-cta-container">
                                    <a href="{{ tab.cta.href }}" class="calendar__panel-cta">{{ tab.cta.label }}</a>

                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </template>
</section>


