<section class="course-list">
    <h2 class="course-list__heading">{{ heading }}</h2>
    <div class="course-list__courses">
        {% for course in courses %}
            {% include 'components/course-list-item.twig' with course %}
        {% endfor %}
    </div>
</section>
