{% import 'macros/buttons.twig' as buttons %}
<article class="course-list-item">
    <div class="course-list-item__primary">
        <h3 class="course-list-item__heading">{{ heading }}</h3>
        <p class="course-list-item__copy">{{ copy }}</p>
        <div class="course-list-item__cta-container">
            {{ buttons.standard_cta(cta.href, cta.label) }}
        </div>
    </div>
    <div class="course-list-item__secondary">
        <div class="course-list-item__secondary-inner">
            {% if upcoming_sessions == true %}
                <div class="course-list-item__date">{{ date }}</div>
                <div class="course-list-item__meeting-quantity">Meets {{ meeting_quantity }} time{% if meeting_quantity > 1 %}s{% endif %}</div>
                <div class="course-list-item__meeting-info">{{ meeting_info }}</div>
            {% else %}
                <h5 class="course-list-item__no-upcoming-sessions">No Upcoming Sessions</h5>
            {% endif %}
            <div class="course-list-item__buttons">
                <button class="course-list-item__save">Save To Favorites</button>
                {% if upcoming_sessions == true %}
                    <button class="course-list-item__register">Register</button>
                {% else %}
                    <button class="course-list-item__notify">Notify Me</button>
                {% endif %}
            </div>
        </div>
    </div>
</article>
