<section class="form-long">
    <form
        class="form-long__form"
        method="post"
        action=""
    >
        <fieldset class="form-long__checkboxes">
            <legend class="form-long__heading">Which programs are you interested in?</legend>
            <div class="form-long__checkboxes-inner">
                <fieldset class="form-long__subfieldset">
                    <legend class="form-long__subheading">MBA Programs</legend>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="evening-part-time"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Evening/Part-Time</span>
                    </label>
                    <label class="form-long__checkbox-label">
                        <input
                            name="executive"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Executive</span>
                    </label>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="full-time"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Full-Time</span>
                    </label>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="health-care"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Health Care</span>
                    </label>
                </fieldset>
                <fieldset class="form-long__subfieldset">
                    <legend class="form-long__subheading">Specialized Programs</legend>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <span class="form-long__checkbox-text">Accountancy (MS)</span>
                        <input
                            name="accountancy-ms"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                    </label>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="business-analytics-ms"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Business Analytics (MS)</span>
                    </label>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="health-care-communication-ms"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Health-Care Communication (MS)</span>
                    </label>
                    <label
                        class="form-long__checkbox-label"
                    >
                        <input
                            name="organizational-ethics-msl"
                            class="form-long__checkbox"
                            type="checkbox"
                        >
                        <span class="form-long__checkbox-psuedo"></span>
                        <span class="form-long__checkbox-text">Organizational Ethics &amp; Compliance (MSL)</span>
                    </label>
                </fieldset>
                <fieldset class="form-long__subfieldset form-long__subfieldset_large">
                    <legend class="form-long__subheading">Graduate Certificates</legend>
                    <div class="form-long__subfieldset-inner">
                        <label
                            class="form-long__checkbox-label"
                        >
                            <span class="form-long__checkbox-text">Business Analytics</span>
                            <input
                                id="business-analytics"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="corporate-communication"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Corporate Communication</span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="digital-experience"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Digital Experience</span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="global-business"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Global Business</span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="marketing-communication"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Marketing Communication</span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="strategic-growth"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Strategic Growth</span>
                        </label>
                        <label
                            class="form-long__checkbox-label"
                        >
                            <input
                                id="strategic-risk-responsibility"
                                class="form-long__checkbox"
                                type="checkbox"
                            >
                            <span class="form-long__checkbox-psuedo"></span>
                            <span class="form-long__checkbox-text">Digital Strategic Risk &amp; Responsibility</span>
                        </label>
                    </div>
                </fieldset>
            </div>
        </fieldset>
        <fieldset class="form-long__contact">
            <div class="form-long__contact-inner">
                <legend class="form-long__heading form-long__heading_inner">Contact Information</legend>
                <div class="form-long__input-container form-long__input-container_half">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="first-name"
                            id="first-name"
                            type="text"
                            autocomplete="given-name"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="first-name"
                        >First Name</label>
                    </div>
                </div>
                <div class="form-long__input-container form-long__input-container_half">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="last-name"
                            id="last-name"
                            type="text"
                            autocomplete="family-name"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="last-name"
                        >Last Name</label>
                    </div>
                </div>
                <div class="form-long__input-container">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="email"
                            id="email"
                            type="email"
                            autocomplete="email"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="email"
                        >Email</label>
                    </div>
                </div>
                <div class="form-long__input-container">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="phone-number"
                            id="phone-number"
                            type="tel"
                            autocomplete="tel"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="phone-number"
                        >Phone Number</label>
                    </div>
                </div>
                <div class="form-long__input-container">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="address"
                            id="address"
                            type="text"
                            autocomplete="address-line1"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="address"
                        >Address</label>
                    </div>
                </div>
                <div class="form-long__input-container">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="address-2"
                            id="address-2"
                            type="text"
                            autocomplete="address-line2"
                        >
                        <label
                            class="form-long__form-label"
                            for="address-2"
                        >Apt/Suite (Optional)</label>
                    </div>
                </div>
                <div class="form-long__input-container form-long__input-container_half">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input"
                            name="city"
                            id="city"
                            type="text"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="city"
                        >City</label>
                    </div>
                </div>
                <div class="form-long__select-container form-long__select-container_half">
                    <div class="form-long__select-inner">
                        <select
                            class="form-long__select form-long__select_half"
                            name="state"
                            id="state"
                            is="base-control"
                            required
                        >
                            <option value="0" selected disabled>Select</option>
                            <option value="1">Option</option>
                            <option value="2">Option</option>
                        </select>
                        <label
                            class="form-long__form-label"
                            for="state"
                        >State</label>
                        <svg viewBox="0 0 16 9.1" class="select-down-arrow">
                            <polygon points="16,1.1 14.9,0 8,6.9 1.1,0 0,1.1 8,9.1 9.1,8 9.1,8"/>
                        </svg>
                    </div>
                </div>
                <div class="form-long__input-container form-long__input-container_half">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input form-long__input_half"
                            id="zip-code"
                            name="zip-code"
                            type="text"
                            autocomplete="postal-code"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="zip-code"
                        >Zip Code</label>
                    </div>
                </div>
                <div class="form-long__input-container form-long__input-container_half">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input form-long__input_half"
                            type="text"
                            id="country"
                            name="country"
                            autocomplete="country"
                            required
                        >
                        <label
                            class="form-long__form-label"
                            for="country"
                        >Country</label>
                    </div>
                </div>
                <div class="form-long__input-container">
                    <div class="form-long__input-inner">
                        <input
                            is="base-control"
                            class="form-long__input form-long__input_half"
                            id="company"
                            name="company"
                            type="text"
                            autocomplete="organization"
                        >
                        <label
                            class="form-long__form-label"
                            for="company"
                        >Company (Optional)</label>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset class="form-long__timeline">
            <div class="form-long__timeline-inner">
                <legend class="form-long__heading">Timeline</legend>
                <div class="form-long__select-container">
                    <div class="form-long__select-inner">
                        <select
                            class="form-long__select"
                            name="timeline"
                            id="timeline"
                            is="base-control"
                            required
                        >
                            <option value="" selected disabled></option>
                            <option value="1">Option</option>
                            <option value="2">Option</option>
                        </select>
                        <label
                            class="form-long__form-label"
                            for="timeline"
                        >Anticipated Start Term</label>
                        <svg viewBox="0 0 16 9.1" class="select-down-arrow">
                            <polygon points="16,1.1 14.9,0 8,6.9 1.1,0 0,1.1 8,9.1 9.1,8 9.1,8"/>
                        </svg>
                    </div>
                </div>
            </div>
        </fieldset>
        <button
            type="submit"
            class="form-long__submit"
        >Send Me Information</button>
    </form>
</section>
