<section class="form-expandable">
    <div class="form-expandable__inner">
        <h4 class="form-expandable__subheading">{{ subheading }}</h4>
        <div class="form-expandable__copy">{{ copy }}</div>
        <div class="form-expandable__expand-button-container">
            <disclosure-button
                controls="form-expandable__form"
                class="form-expandable__expand-button"
            >
                {{ expand_label }}
                <svg class="icon-carrot" viewBox="0 0 16 9.05">
                  <rect x="5.82" y="3.78" width="11.31" height="1.49" transform="translate(0.16 9.44) rotate(-45)"/>
                  <rect x="3.78" y="-1.13" width="1.49" height="11.31" transform="translate(-1.87 4.53) rotate(-45)"/>
                </svg>
            </disclosure-button>
        </div>
        <disclosure-container
            id="form-expandable__form"
            class="form-expandable__form"
            tag="form"
            method="post"
            action=""
        >
            <div class="form-expandable__input-container">
                <label class="form-expandable__input-label" for="">
                    <input
                        type="text"
                        class="form-expandable__input"
                        is="base-control"
                        autocomplete="given-name"
                        required
                    >
                    <span class="form-expandable__label-text">First Name</span>
                </label>
            </div>
            <div class="form-expandable__input-container">
                <label class="form-expandable__input-label" for="">
                    <input
                        type="text"
                        class="form-expandable__input"
                        is="base-control"
                        autocomplete="family-name"
                        required
                    >
                    <span class="form-expandable__label-text">Last Name</span>
                </label>
            </div>
            <div class="form-expandable__input-container">
                <label class="form-expandable__input-label" for="">
                    <input
                        type="email"
                        class="form-expandable__input"
                        is="base-control"
                        autocomplete="email"
                        required
                    >
                    <span class="form-expandable__label-text">Email</span>
                </label>
            </div>
            <div class="form-expandable__input-container">
                <label class="form-expandable__input-label" for="">
                    <input
                        type="tel"
                        class="form-expandable__input"
                        is="base-control"
                        autocomplete="tel"
                    >
                    <span class="form-expandable__label-text">Phone Number</span>
                </label>
            </div>
            <div class="form-expandable__select-container">
                <label class="form-expandable__select-label" for="">
                    <select
                        name=""
                        id=""
                        class="form-expandable__select"
                        is="base-control"
                    >
                        <option value="0" disabled selected></option>
                        <option value="1">Option One</option>
                        <option value="2">Option Two</option>
                        <option value="3">Option Three</option>
                    </select>
                    <svg viewBox="0 0 16 9.1" class="select-down-arrow">
                        <polygon points="16,1.1 14.9,0 8,6.9 1.1,0 0,1.1 8,9.1 9.1,8 9.1,8"/>
                    </svg>
                    <span class="form-expandable__label-text">Degree of Interest</span>
                </label>
            </div>
            <button
                type="submit"
                class="form-expandable__submit"
            >{{ submit_label }}</button>
        </disclosure-container>
    </div>
</section>
