<section class="link-grid">
    <div class="link-grid__inner">
        {% if heading %}
            <h2 class="link-grid__heading">{{ heading }}</h2>
        {% endif %}
        {% if links %}
            <div class="link-grid__links-container">
                <ul class="link-grid__links">
                    {% for link in links %}
                        <li class="link-grid__link-item">
                            <a href="{{ link.href }}" class="link-grid__link">
                                {{ link.label }}
                                <svg viewBox="0 0 17 12" class="icon-button-arrow">
                                  <rect x="13.05" y="-0.85" width="1.12" height="8.49" transform="translate(1.58 10.62) rotate(-45)"/>
                                  <rect x="9.36" y="8.05" width="8.49" height="1.12" transform="translate(-2.1 12.14) rotate(-45)"/>
                                  <rect y="5.5" width="16.49" height="1"/>
                                </svg>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
</section>
