{% import 'macros/buttons.twig' as buttons %}
<article
    {% if text_side == 'right' %}
        class="mega-news-item mega-news-item_text-right"
    {% else %}
        class="mega-news-item  mega-news-item_text-left"
    {% endif %}
>
    <img
        class="mega-news-item__image"
        src="{{ image.src }}"
        alt="{{ image.alt }}"
    >
    <div class="mega-news-item__inner">
        <div class="mega-news-item__date">{{ date }}</div>
        <h3 class="mega-news-item__heading">{{ heading }}</h3>
        <p class="mega-news-item__copy">{{ copy }}</p>
        {{ buttons.standard_cta(cta.href, cta.label) }}
    </div>
    <div class="mega-news-item__hr-container">
        <hr class="mega-news-item__hr">
    </div>
</article>
