<section class="mega-news">
    {% for item in news_items %}
        {% if loop.index is odd %}
            {% set item = item|merge({'text_side': 'right'}) %}
        {% else %}
            {% set item = item|merge({'text_side': 'left'}) %}
        {% endif %}
        {% include "components/mega-news-item.twig" with item %}
    {% endfor %}
    <div class="mega-news__button-container">
        <button class="mega-news__button">{{ button_text }}</button>
    </div>
</section>
