{% import 'macros/buttons.twig' as buttons %}
<section class="profile-featured">
    <div class="profile-featured__inner">
        <div class="profile-featured__secondary">
            <div class="profile-featured__secondary-inner">
                <img src="{{ image.src }}" alt="{{ image.alt }}" class="profile-featured__image">
                <div class="profile-featured__secondary-content">
                    <div class="profile-featured__secondary-content-inner">
                        <h4 class="profile-featured__secondary-heading">{{ secondary_heading }}</h4>
                        <h5 class="profile-featured__secondary-subheading">{{ secondary_subheading }}</h5>
                        <div class="profile-featured__secondary-copy">{{ secondary_subheading | raw }}</div>
{#                         <a href="{{ secondary_cta.href }}" class="profile-featured__secondary-cta">{{ secondary_cta.label }}</a> #}
                        {{ buttons.standard_cta(secondary_cta.href, secondary_cta.label) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-featured__main">
            <div class="profile-featured__main-inner">
                <h2 class="profile-featured__heading">{{ heading }}</h2>
                <div class="profile-featured__copy">{{ copy | raw }}</div>
                <a href="{{ cta.href }}" class="profile-featured__cta">{{ cta.label }}</a>
            </div>
        </div>
    </div>
</section>
