<article class="profile">
    <img
        class="profile__image"
        src="{{ image.src }}"
        alt="{{ image.alt }}"
    >
    <div class="profile__text">
        <h3 class="profile__heading">{{ heading }}</h3>
        <h4 class="profile__subheading">{{ subheading }}</h4>
        <div class="profile__copy">{{ copy }}</div>
    </div>
</article>
