<section class="profiles">
    <div class="profiles__inner">
        {% for profile in profiles %}
            {% include 'components/profile.twig' with profile %}
        {% endfor %}
    </div>
</section>
