<div class="search">
    <div class="search__content">
        <div class="search__col">
            <label class="search__wrap">
                <span class="access-hidden">Search Input</span>
                <input class="search__input" type="text" placeholder="Search" aria-label="Search Input">
                <button class="search__button">
                    <svg class="search__button__svg" viewBox="0 0 20.9 19.9">
                        <path d="M20.9,18.8l-5.1-5.1c1-1.4,1.7-3.2,1.7-5.1c0-4.8-3.9-8.8-8.8-8.8S0,3.8,0,8.7c0,4.8,3.9,8.7,8.8,8.7c2.4,0,4.5-0.9,6.1-2.4 l5,5L20.9,18.8z M8.8,15.9c-4,0-7.2-3.2-7.2-7.2c0,0,0,0,0,0c0-4,3.3-7.2,7.2-7.2c0,0,0,0,0,0c4,0,7.2,3.2,7.2,7.2
        C16,12.7,12.8,15.9,8.8,15.9z"/>
                    </svg>
                    <svg class="search__button__svg-arrow" viewBox="0 0 32.1 23.4">
                        <path d="M32.1,11.8c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1,0-0.1c0,0,0-0.1-0.1-0.1c0,0,0-0.1,0-0.1L22.5,0.3c-0.3-0.3-0.7-0.3-1.1-0.1c-0.3,0.3-0.4,0.7-0.1,1.1l8.2,9.6H0v1.5h29.8l-8.4,9.8c-0.3,0.3-0.2,0.8,0.1,1.1c0.1,0.1,0.3,0.2,0.5,0.2c0.2,0,0.4-0.1,0.6-0.3l9.4-10.9c0,0,0-0.1,0-0.1c0,0,0.1-0.1,0.1-0.1C32,11.9,32,11.9,32.1,11.8z"/>
                    </svg>

                </button>
            </label>
            <ul class="search__results">
            {% for item in search_results %}
                <li class="search__results__item">
                    <h2 class="search__title">
                        <a class="search__title__link" href="{{ item.url }}">{{ item.name }}</a>
                    </h2>
                    <a class="search__url" href="{{ item.url }}">{{ item.url }}</a>
                    <p class="search__p">{{ item.description }}</p>
                </li>
            {% endfor %}
            </ul>
            <ol class="search__pages">
                <a class="search__pages__item" href="/">
                    <svg class="search__pages__chevron" viewBox="0 0 9.1 16">
                        <polygon points="8,16 9.1,14.9 2.2,8 9.1,1.1 8,0 0,8 1.1,9.1 1.1,9.1 "/>
                    </svg>
                </a>
                <li class="search__pages__item active">
                    <a class="search__pages__number" href="/">1</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">2</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">3</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">4</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">5</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">6</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">7</a>
                </li>
                <li class="search__pages__item">
                    <a class="search__pages__number" href="/">8</a>
                </li>
                <a class="search__pages__item" href="/">
                    <svg class="search__pages__chevron right" viewBox="0 0 9.1 16">
                        <polygon points="8,16 9.1,14.9 2.2,8 9.1,1.1 8,0 0,8 1.1,9.1 1.1,9.1 "/>
                    </svg>
                </a>
            </ol>
        </div>
    </div>
</div>
