{% set randoms = [] %}
{% for tab in items %}
    {% set randoms = randoms|merge([random()]) %}
{% endfor %}

<section class="tabbed-block">
    <div class="tabbed-block__top">
        <h2 class="tabbed-block__heading">{{ heading }}</h2>
        <p class="tabbed-block__copy">{{ copy }}</p>
    </div>
    <div
        class="tabbed-block__tabs-container"
        is="tabs-container"
    >
        <div class="tabbed-block__tablist-container">
            <div
                class="tabbed-block__tablist"
                is="tabs-container-tablist"
            >
                {% for tab in items %}
                    <button
                        class="tabbed-block__tab"
                        id="tab_{{ randoms[loop.index0] }}"
                        controls="tabpanel_{{ randoms[loop.index0] }}"
                        is="tabs-container-tablist-tab"
                    >{{ tab.heading }}</button>
                {% endfor %}
            </div>
        </div>
        <div class="tabbed-block__tabs-content-container">
            <div class="tabbed-block__tabs-content">
                {% for tab in items %}
                    <div
                        class="tabbed-block__tab-content"
                        id="tabpanel_{{ randoms[loop.index0] }}"
                        :transition="null"
                        is="tabs-container-tabpanel"
                    >
                        <div
                            is="accordion-container"
                            class="tabbed-block__tab-accordions"
                            collapse
                            multiple
                        >
                            {% set inner_randoms = [] %}
                            {% for section in tab.sections %}
                                {% set inner_randoms = inner_randoms|merge([random()]) %}
                            {% endfor %}
                            {% for section in tab.sections %}
                                <h4
                                     class="tabbed-block__accordion-heading"
                                     is="accordion-container-header"
                                >
                                    <button
                                        class="tabbed-block__accordion-heading-button"
                                        is="accordion-container-header-button"
                                        id="button_{{ inner_randoms[loop.index0] }}"
                                        controls="panel_{{ inner_randoms[loop.index0] }}"
                                    >
                                        <div class="tabbed-block__tab-section-top">
                                            <div class="tabbed-block__tab-section-heading">{{ section.heading }}</div>
                                            <div class="tabbed-block__tab-section-subheading">{{ section.subheading }}</div>
                                        </div>
                                    </button>
                                </h4>
                                <div
                                    class="tabbed-block__accordion-panel"
                                    is="accordion-container-panel"
                                    transition="transition-slide"
                                    mode="if"
                                    id="panel_{{ inner_randoms[loop.index0] }}"
                                >
                                    {% for subsection in section.subsections %}
                                        <div class="tabbed-block__tab-subsection">
                                            <h5 class="tabbed-block__tab-subsection-heading">{{ subsection.heading }}</h5>
                                            <p class="tabbed-block__tab-subsection-copy">{{ subsection.copy|raw }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="tabbed-block__tab-sections">
                            {% for section in tab.sections %}
                                <div
                                    {% if loop.length < 3 %}
                                        class="tabbed-block__tab-section tabbed-block__tab-section_half"
                                    {% elseif loop.length == 3 %}
                                        class="tabbed-block__tab-section tabbed-block__tab-section_third"
                                    {% elseif loop.length > 3 %}
                                        class="tabbed-block__tab-section tabbed-block__tab-section_quarter"
                                    {% endif %}
                                >
                                    <div class="tabbed-block__tab-section-top">
                                        <h4 class="tabbed-block__tab-section-heading">{{ section.heading }}</h4>
                                        <p class="tabbed-block__tab-section-subheading">{{ section.subheading }}</p>
                                    </div>
                                    {% for subsection in section.subsections %}
                                        <div class="tabbed-block__tab-subsection">
                                            <h5 class="tabbed-block__tab-subsection-heading">{{ subsection.heading }}</h5>
                                            <p class="tabbed-block__tab-subsection-copy">{{ subsection.copy|raw }}</p>
                                        </div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
