<footer class="footer">
    <svg class="footer__accent" viewBox="0 0 412.94 52.99">
        <rect x="368.47" y="8.16" width="36" height="36" transform="translate(94.7 280.94) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="317.47" y="8.16" width="36" height="36" transform="translate(79.76 244.88) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="317.47" y="8.16" width="36" height="36" transform="translate(79.76 244.88) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <polyline points="412.59 0.66 360.97 52.28 309.35 0.66" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="162.47" y="8.16" width="36" height="36" transform="translate(34.36 135.28) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="111.47" y="8.16" width="36" height="36" transform="translate(19.42 99.21) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="111.47" y="8.16" width="36" height="36" transform="translate(19.42 99.21) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <polyline points="206.59 0.66 154.97 52.28 103.35 0.66" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="59.47" y="8.16" width="36" height="36" transform="translate(4.19 62.44) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="8.47" y="8.16" width="36" height="36" transform="translate(-10.75 26.38) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="8.47" y="8.16" width="36" height="36" transform="translate(-10.75 26.38) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <polyline points="103.59 0.66 51.97 52.28 0.35 0.66" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="265.47" y="8.16" width="36" height="36" transform="translate(64.53 208.11) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="214.47" y="8.16" width="36" height="36" transform="translate(49.59 172.05) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <rect x="214.47" y="8.16" width="36" height="36" transform="translate(49.59 172.05) rotate(-45)" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
        <polyline points="309.59 0.66 257.97 52.28 206.35 0.66" fill="none" stroke="#4d4d4d" stroke-miterlimit="10"/>
    </svg>
    <div class="footer__content">
        <div class="footer__logo__wrap">
            <svg class="footer__logo__svg" viewBox="0 0 300.8 27.6">
                <path d="M137.7,22.3c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1c0,0.6-0.5,1-1,1c0,0,0,0,0,0C138.1,23.3,137.7,22.9,137.7,22.3
                     M137.7,18.1c0-0.6,0.4-1,1-1c0.6,0,1,0.4,1,1s-0.4,1-1,1c0,0,0,0,0,0C138.1,19.1,137.7,18.6,137.7,18.1 M137.7,13.8
                    c0-0.6,0.5-1,1-1s1,0.5,1,1s-0.5,1-1,1C138.1,14.8,137.7,14.3,137.7,13.8C137.7,13.8,137.7,13.8,137.7,13.8 M137.7,9.5
                    c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1c0,0.6-0.5,1-1,1c0,0,0,0,0,0C138.1,10.5,137.7,10.1,137.7,9.5C137.7,9.5,137.7,9.5,137.7,9.5
                     M137.7,5.3c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1s-0.5,1-1,1c0,0,0,0,0,0C138.1,6.3,137.7,5.8,137.7,5.3
                    C137.7,5.3,137.7,5.3,137.7,5.3"/>
                <path d="M125,16.2c-1.2-1.4-2.9-2.2-4.7-2.1c-2.8,0-5.1,1.1-5.1,3.7c0,4.3,7.1,2.7,7.1,4.7c0,0.6-0.9,1.3-2.2,1.3
                    c-1.3,0.1-2.5-0.4-3.3-1.4l-2.1,1.6c1.5,1.5,3.5,2.2,5.5,2.1c2.6,0,5.1-1.2,5.1-4c0-4.3-7.2-2.6-7.2-4.6c0-0.7,0.8-1.1,2.1-1.1
                    c1.2-0.1,2.3,0.6,2.9,1.6L125,16.2z M110.8,21.8c0,1.5-1.7,2.1-2.9,2.1c-1,0-1.8-0.6-1.8-1.4c0-1.1,0.9-1.4,1.9-1.6l1.5-0.3
                    c0.5-0.1,0.9-0.2,1.3-0.4V21.8z M113.5,17.9c0-3.3-2.5-3.8-4.9-3.8c-2.5,0-4.9,1-4.9,3.7l2.8,0.1c0-1.2,0.5-1.7,2.1-1.7
                    c1.2,0,2.2,0.3,2.2,1.5v0.3c-1,0.3-2,0.5-3,0.7l-1.2,0.2c-1.7,0.3-3.5,1.3-3.5,3.6c0,2,1.6,3.6,3.6,3.6c0.1,0,0.2,0,0.3,0
                    c1.4,0,2.7-0.5,3.7-1.3c0,0.4,0.1,0.7,0.3,1h2.9c-0.3-0.6-0.5-1.3-0.4-1.9V17.9z M84.7,25.9h2.8v-6c0-1.6,0.9-3.1,2.4-3.1
                    c1.3,0,1.9,0.9,1.9,2.2v7h2.8v-6c0-1.6,0.9-3.1,2.5-3.1c1.3,0,1.9,0.9,1.9,2.2v7h2.8v-8.1c0-2.5-1.5-3.7-4-3.7
                    c-1.4,0-2.7,0.6-3.5,1.7c-0.7-1.2-2-1.9-3.4-1.7c-1.3,0-2.5,0.5-3.3,1.4v-1.1h-2.8V25.9z M77.8,16.7c2,0,3,1.7,3,3.5s-1,3.5-3,3.5
                    s-3-1.7-3-3.5S75.8,16.7,77.8,16.7z M77.8,14.2c-3.7,0-5.9,2.6-5.9,6s2.2,6,5.9,6s5.9-2.6,5.9-6S81.5,14.2,77.8,14.2z M60.1,25.9
                    h2.8V20c0-1.4,0.6-3.2,2.7-3.2c1.4,0,2,0.7,2,2.3v6.8h2.8v-7.6c0-3.3-2.2-4.1-4.2-4.1c-1.3-0.1-2.5,0.4-3.3,1.4h0V9.8h-2.8V25.9z
                     M51.6,25.9h3V12.6H59V9.8H47.1v2.8h4.4L51.6,25.9z M43.7,25.9h3v-3.1h-3V25.9z M37.2,14.4h-1.7v2h1.7v6.8c0,1.7,0.8,2.8,3,2.8
                    c0.7,0,1.5-0.1,2.2-0.3v-2.3c-0.4,0.1-0.8,0.1-1.2,0.1c-1.1,0-1.2-0.5-1.2-1.4v-5.8h2.5v-2h-2.5v-4.1h-2.8V14.4z M21.2,22.9
                    c1.6,2.2,4.2,3.5,7,3.4c3.4,0,7.1-1.4,7.1-5.3c0-3.1-2.3-4-4.7-4.6l-2-0.4c-1.8-0.4-3.3-0.7-3.3-2.1c0-1.1,1.3-1.8,3.1-1.8
                    c1.7-0.1,3.4,0.8,4.2,2.3l2.5-1.9c-1.6-2.1-4.1-3.3-6.7-3.2c-3,0-6.3,1.6-6.3,5c0,3,2.3,3.9,4.8,4.5l1.8,0.4
                    c2.1,0.5,3.3,0.9,3.3,2.1c0,1.6-1.9,2.1-3.4,2.1c-1.9,0.1-3.8-0.8-4.9-2.4L21.2,22.9z"/>
                <path d="M76.2,6.2h0.9v-2h2V3.4h-2V2.2h2.3V1.4h-3.2V6.2z M72.3,1.3c-1.3,0-2.3,1.1-2.3,2.4c0,0.1,0,0.1,0,0.2
                    c-0.1,1.3,0.8,2.4,2.1,2.5c1.3,0.1,2.4-0.8,2.5-2.1c0-0.1,0-0.3,0-0.4c0.1-1.3-0.9-2.4-2.1-2.5C72.4,1.3,72.3,1.3,72.3,1.3z
                     M72.3,2.1c1,0,1.4,0.8,1.4,1.7s-0.4,1.7-1.4,1.7s-1.4-0.8-1.4-1.7S71.3,2.1,72.3,2.1z M64.8,6.2h0.9V4.3l1.6-2.9h-1l-1,2l-1-2h-1
                    l1.6,2.9L64.8,6.2z M59.9,6.2h0.9v-4h1.3V1.4h-3.5v0.8h1.3L59.9,6.2z M56.2,6.2h0.9V1.4h-0.9V6.2z M50.4,5.3c0.5,0.7,1.3,1,2.1,1
                    c1,0,2.1-0.4,2.1-1.6c0-0.9-0.7-1.2-1.4-1.4l-0.6-0.1c-0.5-0.1-1-0.2-1-0.6c0-0.3,0.4-0.5,0.9-0.5c0.5,0,1,0.2,1.3,0.7l0.7-0.6
                    c-0.5-0.6-1.2-1-2-1c-0.9,0-1.9,0.5-1.9,1.5c0,0.9,0.7,1.2,1.4,1.3l0.5,0.1c0.6,0.1,1,0.3,1,0.6c0,0.5-0.6,0.6-1,0.6
                    c-0.6,0-1.1-0.3-1.5-0.7L50.4,5.3z M46.6,2.2h0.8c0.6,0,0.9,0.3,0.9,0.7c0,0.4-0.3,0.7-0.7,0.7c0,0-0.1,0-0.1,0h-1V2.2z M45.7,6.2
                    h0.9V4.4h0.9l0.9,1.8h1l-1.1-1.9c0.6-0.2,1-0.8,1-1.4c0-0.8-0.6-1.5-1.4-1.5c-0.1,0-0.1,0-0.2,0h-2L45.7,6.2z M40.6,6.2h3.6V5.4
                    h-2.7V4.1h2.3V3.3h-2.3V2.2H44V1.4h-3.4L40.6,6.2z M36.6,6.2h1.2l1.4-4.8h-0.9l-1.1,3.8h0l-1.1-3.8h-0.9L36.6,6.2z M32.9,6.2h0.9
                    V1.4h-0.9V6.2z M27.3,6.2h0.8V2.8h0l2,3.4H31V1.4h-0.8v3.4h0l-2-3.4h-0.8L27.3,6.2z M25.5,1.4h-0.9v3.1c0,0.6-0.2,1-1,1
                    s-1-0.4-1-1V1.4h-0.9v3.3c0,1,0.8,1.6,1.9,1.6s1.9-0.6,1.9-1.6L25.5,1.4z"/>
                <path d="M17.7,11c-0.2,0-0.3,0.1-0.4,0.2c-0.6,0.5-1.5,0.5-2.1,0c-0.5-0.3-1.1-0.3-1.6,0c-0.6,0.5-1.5,0.5-2.1,0
                    c-0.5-0.3-1.1-0.3-1.6,0c-0.2,0.1-0.3,0.2-0.5,0.3V15c-0.2,0-0.3,0-0.5,0c-0.2,0-0.3,0-0.5,0v-3.5c-0.2,0-0.4-0.1-0.5-0.3
                    c-0.2-0.2-0.5-0.3-0.8-0.3c-0.3,0-0.6,0.1-0.8,0.3c-0.3,0.2-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.1-1.1-0.4C4,11,3.7,10.9,3.4,10.9
                    c-0.3,0-0.6,0.1-0.8,0.3c-0.3,0.2-0.7,0.4-1.1,0.4c-0.4,0-0.8-0.1-1-0.4C0.3,11.1,0.2,11,0,11c-0.1,2.1,0.1,4.1,0.7,6.1h5.4
                    c0,0.2,0,0.3,0,0.5c0,0.2,0,0.4,0.1,0.5H1.1c1.4,3.5,3.9,6.3,7.2,8.1v-6c0.2,0,0.3,0,0.5,0c0.2,0,0.3,0,0.5,0v6
                    c3.3-1.7,5.9-4.6,7.2-8.1h-5.1c0-0.2,0.1-0.3,0.1-0.5c0-0.2,0-0.3,0-0.5h5.5C17.6,15.1,17.8,13.1,17.7,11 M5.9,12.7
                    c0.2,0.4,0.6,0.7,1,0.9c0.5,0.2,1,0.6,1.2,1.1c0.1,0.1,0.1,0.2,0.2,0.3c-0.4,0.1-0.9,0.3-1.2,0.6C7,15.5,7,15.3,7,15.2
                    c-0.1-0.5-0.3-1-0.7-1.4C6.1,13.5,5.9,13.1,5.9,12.7 M5.9,16.5c-0.2-0.5-0.6-0.8-1.1-1.1c-0.3-0.2-0.6-0.5-0.7-0.9
                    C4.4,14.8,4.9,15,5.3,15c0.6,0,1.1,0.3,1.5,0.7c0,0,0.1,0.1,0.1,0.1c-0.3,0.3-0.5,0.8-0.7,1.2C6.1,16.8,6,16.7,5.9,16.5 M4,20.6
                    c0.4-0.2,0.7-0.6,0.9-1c0.2-0.5,0.6-1,1.2-1.2c0.1-0.1,0.2-0.1,0.3-0.2c0.1,0.4,0.3,0.9,0.7,1.2c-0.2,0.1-0.3,0.1-0.5,0.1
                    c-0.5,0.1-1,0.3-1.4,0.7C4.7,20.5,4.4,20.6,4,20.6 M7.8,20.6c-0.5,0.2-0.8,0.6-1.1,1.1c-0.2,0.3-0.5,0.6-0.9,0.7
                    c0.3-0.3,0.4-0.8,0.5-1.2c0-0.6,0.3-1.1,0.7-1.5c0,0,0.1-0.1,0.1-0.1c0.3,0.3,0.8,0.5,1.2,0.6C8.1,20.4,8,20.5,7.8,20.6 M9.9,14.5
                    c0.5-0.2,0.8-0.6,1.1-1.1c0.2-0.3,0.5-0.6,0.9-0.7c-0.3,0.3-0.4,0.8-0.5,1.2c0,0.6-0.3,1.1-0.7,1.5c0,0-0.1,0.1-0.1,0.2
                    c-0.3-0.3-0.8-0.5-1.2-0.6C9.6,14.8,9.7,14.7,9.9,14.5 M11.8,22.5c-0.2-0.4-0.6-0.7-1-0.9c-0.5-0.2-1-0.6-1.2-1.1
                    c-0.1-0.1-0.1-0.2-0.2-0.3c0.4-0.1,0.9-0.3,1.2-0.6c0.1,0.1,0.1,0.3,0.1,0.4c0.1,0.5,0.3,1,0.7,1.4C11.6,21.7,11.8,22.1,11.8,22.5
                     M11.8,18.7c0.2,0.5,0.6,0.8,1.1,1.1c0.3,0.2,0.6,0.5,0.7,0.9c-0.4-0.3-0.8-0.4-1.2-0.5c-0.6,0-1.1-0.3-1.5-0.7
                    c0,0-0.1-0.1-0.1-0.1c0.3-0.3,0.5-0.7,0.7-1.2C11.6,18.4,11.7,18.5,11.8,18.7 M12.9,15.5c-0.2,0.5-0.6,1-1.2,1.2
                    c-0.1,0.1-0.2,0.1-0.3,0.2c-0.1-0.4-0.3-0.8-0.6-1.1l-0.1-0.1c0.2-0.1,0.3-0.1,0.5-0.1c0.5,0,1-0.3,1.4-0.7
                    c0.3-0.2,0.7-0.4,1.1-0.4C13.4,14.8,13.1,15.1,12.9,15.5"/>
                <path d="M1.6,10.2c0.3,0,0.6-0.1,0.8-0.3c0.3-0.2,0.7-0.4,1-0.3c0.4,0,0.7,0.1,1,0.3c0.2,0.2,0.5,0.3,0.8,0.3
                    c0.3,0,0.6-0.1,0.8-0.3c0.3-0.2,0.7-0.4,1-0.4c0.4,0,0.7,0.1,1,0.4c0.2,0.2,0.5,0.3,0.8,0.3h0h0c0.3,0,0.6-0.1,0.8-0.3
                    c0.6-0.5,1.4-0.5,2.1,0c0.5,0.3,1.1,0.3,1.6,0c0.6-0.5,1.4-0.5,2.1,0c0.5,0.3,1.1,0.3,1.6,0c0.2-0.2,0.4-0.3,0.7-0.3l-2.8-5.7
                    c-0.4,0.3-0.9,0.5-1.4,0.4c-0.9,0-1-0.4-2.4-0.4c-0.8-0.1-1.5,0.2-2.1,0.7l0,0C8.3,4.1,7.5,3.8,6.8,3.9c-1.4,0-1.5,0.4-2.4,0.4
                    C3.9,4.4,3.4,4.3,3,3.9L0.1,9.6c0.3,0,0.5,0.1,0.7,0.3C1.1,10.1,1.3,10.2,1.6,10.2z M11.1,4.9c1.3,0,1.5,0.4,2.4,0.4
                    c0.4,0,0.8,0,1.2-0.2l1.6,3.2c0,0-0.2,0.2-1.5,0.2s-1.5-0.7-3.6-0.7c-0.6,0-1.1,0.2-1.6,0.6L8.9,5.6C9.5,5.1,10.3,4.8,11.1,4.9z
                     M3.1,5.1c0.4,0.2,0.8,0.2,1.2,0.2c0.9,0,1.1-0.4,2.4-0.4c0.8-0.1,1.6,0.2,2.2,0.7L8.1,8.5c-0.4-0.4-1-0.6-1.6-0.6
                    c-2,0-2.2,0.7-3.6,0.7S1.5,8.4,1.5,8.4L3.1,5.1z"/>
                <path d="M137.7,1c0-0.6,0.5-1,1-1s1,0.5,1,1c0,0.6-0.5,1-1,1C138.1,2,137.7,1.6,137.7,1C137.7,1,137.7,1,137.7,1"/>
                <path d="M137.7,26.6c0-0.6,0.5-1,1-1c0.6,0,1,0.5,1,1c0,0.6-0.5,1-1,1c0,0,0,0,0,0C138.1,27.6,137.7,27.1,137.7,26.6
                    C137.7,26.6,137.7,26.6,137.7,26.6"/>
                <path d="M150.6,19.2h-1l3.8-8.9h0.9l3.8,8.9h-1l-1-2.3h-4.6L150.6,19.2z M151.9,16.1h3.9l-2-4.7L151.9,16.1z"/>
                <rect x="159.2" y="9.8" width="0.9" height="9.5"/>
                <rect x="162.1" y="9.8" width="0.9" height="9.5"/>
                <path d="M170.3,14.1h-1.4v5.1h-0.9v-5.1h-1.2v-0.7h1.2v-1.6c0-1.3,0.7-2.2,2-2.2c0.2,0,0.5,0,0.7,0.1l-0.1,0.8
                    c-0.2-0.1-0.4-0.1-0.6-0.1c-0.9,0-1.1,0.6-1.1,1.5v1.5h1.4L170.3,14.1z"/>
                <path d="M174,19.4c-1.7,0-3.1-1.4-3-3.1c0-1.7,1.4-3.1,3.1-3c1.7,0,3,1.4,3,3.1c0,1.7-1.3,3-2.9,3.1
                    C174.1,19.4,174,19.4,174,19.4 M174,14c-1.2,0-2.2,1-2.2,2.2c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.9,2.3,2.1,2.4c1.2,0.1,2.3-0.9,2.4-2.1
                    c0-0.1,0-0.2,0-0.3c0.1-1.2-0.8-2.3-2.1-2.4C174.1,14,174,14,174,14"/>
                <path d="M178.6,13.4h0.8c0,0.3,0.1,0.8,0.1,1h0c0.4-0.7,1.1-1.2,1.9-1.2c0.2,0,0.4,0,0.6,0.1l-0.1,0.8
                    c-0.2-0.1-0.4-0.1-0.6-0.1c-0.9,0-1.7,0.7-1.7,2.2v3h-0.9v-4.6C178.7,14.4,178.7,13.8,178.6,13.4"/>
                <path d="M188.4,14.1h-1.7v3.4c0,0.9,0.4,1.1,0.9,1.1c0.3,0,0.5-0.1,0.7-0.2l0,0.7c-0.3,0.1-0.7,0.2-1,0.2
                    c-0.8,0.1-1.4-0.5-1.5-1.3c0-0.1,0-0.2,0-0.3v-3.7h-1.2v-0.7h1.2v-1.6h0.9v1.7h1.7V14.1z"/>
                <path d="M190.4,14.4c0.4-0.7,1.2-1.1,2-1.1c1.2-0.1,2.2,0.8,2.2,2c0,0.1,0,0.3,0,0.4v3.6h-0.9V16
                    c0-1.2-0.4-2.1-1.6-2.1c-0.9,0-1.8,0.7-1.8,2.3v3h-0.9V9.8h0.9L190.4,14.4L190.4,14.4z"/>
                <path d="M201.9,16.5H197c0,1.2,1,2.1,2.1,2.1c0.8,0,1.5-0.4,1.9-1l0.6,0.5c-0.6,0.8-1.5,1.3-2.5,1.2
                    c-1.6,0-3-1.3-3-2.9c0-0.1,0-0.1,0-0.2c-0.1-1.6,1.2-3,2.8-3.1c0,0,0.1,0,0.1,0c1.5-0.1,2.7,1.1,2.8,2.6c0,0.1,0,0.2,0,0.3
                    C201.9,16.3,201.9,16.4,201.9,16.5z M201,15.9c0-1-0.8-1.9-1.8-1.9c-0.1,0-0.1,0-0.2,0c-1.1,0-2,0.8-2.1,1.9L201,15.9z"/>
                <path d="M213.8,17.8c-0.8,1.1-2,1.7-3.3,1.7c-2.5,0.1-4.5-1.9-4.6-4.3c0-0.1,0-0.2,0-0.3c-0.1-2.5,1.9-4.6,4.4-4.7
                    c0.1,0,0.2,0,0.3,0c1.2,0,2.4,0.5,3.2,1.4l-0.8,0.6c-0.6-0.8-1.5-1.2-2.4-1.2c-2,0-3.7,1.6-3.7,3.6c0,0.1,0,0.2,0,0.2
                    c-0.1,2,1.4,3.8,3.5,3.9c0.1,0,0.1,0,0.2,0c1,0,2-0.5,2.6-1.3L213.8,17.8z"/>
                <path d="M217.6,19.4c-1.7,0-3.1-1.4-3-3.1s1.4-3.1,3.1-3c1.7,0,3,1.4,3,3.1c0,1.7-1.3,3-2.9,3.1
                    C217.8,19.4,217.7,19.4,217.6,19.4 M217.6,14c-1.2,0-2.2,1-2.2,2.2c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.9,2.3,2.1,2.3
                    c1.2,0.1,2.3-0.9,2.3-2.1c0-0.1,0-0.2,0-0.2c0.1-1.2-0.8-2.3-2.1-2.4C217.8,14,217.7,14,217.6,14"/>
                <path d="M225.1,13.2c0.8,0,1.5,0.5,1.8,1.2c0.4-0.8,1.2-1.3,2.1-1.2c1.2-0.1,2.2,0.8,2.2,2c0,0.1,0,0.3,0,0.4v3.6
                    h-0.9V16c0-1.2-0.4-2.1-1.5-2.1c-1.2,0-1.7,1.1-1.7,2.2v3.1h-0.9v-3.4c0-1.1-0.3-1.9-1.4-1.9c-0.8,0-1.7,0.7-1.7,2.3v3h-0.9v-4.6
                    c0-0.3,0-0.9-0.1-1.3h0.8c0,0.3,0.1,0.7,0.1,1h0C223.6,13.7,224.3,13.2,225.1,13.2"/>
                <path d="M235.9,13.2c0.8,0,1.5,0.5,1.8,1.2c0.4-0.8,1.2-1.3,2.1-1.2c1.2-0.1,2.2,0.8,2.2,2c0,0.1,0,0.3,0,0.4v3.6
                    h-0.9V16c0-1.2-0.4-2.1-1.5-2.1c-1.2,0-1.7,1.1-1.7,2.2v3.1h-0.9v-3.4c0-1.1-0.3-1.9-1.4-1.9c-0.8,0-1.7,0.7-1.7,2.3v3h-0.9v-4.6
                    c0-0.3,0-0.9-0.1-1.3h0.8c0,0.3,0.1,0.7,0.1,1h0C234.4,13.7,235.1,13.2,235.9,13.2"/>
                <path d="M246.6,19.4c-1.7,0-3.1-1.4-3-3.1c0-1.7,1.4-3.1,3.1-3c1.7,0,3,1.4,3,3.1c0,1.7-1.3,3-2.9,3.1
                    C246.8,19.4,246.7,19.4,246.6,19.4 M246.6,14c-1.2,0-2.2,1-2.2,2.2c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.9,2.3,2.1,2.3
                    c1.2,0.1,2.3-0.9,2.3-2.1c0-0.1,0-0.2,0-0.2c0.1-1.2-0.8-2.3-2.1-2.4C246.7,14,246.7,14,246.6,14"/>
                <path d="M252.1,13.4c0,0.3,0.1,0.8,0.1,1h0c0.4-0.7,1.2-1.2,2-1.2c1.2-0.1,2.2,0.8,2.2,2c0,0.1,0,0.3,0,0.4v3.6h-0.9
                    V16c0-1.2-0.4-2.1-1.6-2.1c-0.9,0-1.8,0.7-1.8,2.3v3h-0.9v-4.6c0-0.3,0-0.9-0.1-1.3H252.1z"/>
                <path d="M268,12c-0.7-0.7-1.6-1.1-2.6-1c-2,0-3.7,1.6-3.7,3.6c0,0.1,0,0.1,0,0.2c-0.1,2,1.4,3.7,3.4,3.8
                    c0.1,0,0.2,0,0.2,0c0.8,0,1.7-0.2,2.4-0.6v-2.7h-2.1v-0.8h3v4c-1,0.6-2.1,0.9-3.3,0.9c-2.5,0.1-4.5-1.9-4.6-4.3c0-0.1,0-0.2,0-0.3
                    c-0.1-2.5,1.9-4.6,4.4-4.7c0.1,0,0.2,0,0.3,0c1.2-0.1,2.3,0.4,3.2,1.2L268,12z"/>
                <path d="M273.4,19.4c-1.7,0-3.1-1.4-3-3.1s1.4-3.1,3.1-3c1.7,0,3,1.4,3,3.1c0,1.7-1.3,3-2.9,3.1
                    C273.6,19.4,273.5,19.4,273.4,19.4 M273.4,14c-1.2,0-2.2,1-2.2,2.2c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.9,2.3,2.1,2.4s2.3-0.9,2.4-2.1
                    c0-0.1,0-0.2,0-0.3c0.1-1.2-0.8-2.3-2.1-2.4C273.5,14,273.5,14,273.4,14"/>
                <path d="M280.8,19.4c-1.7,0-3.1-1.4-3-3.1s1.4-3.1,3.1-3c1.7,0,3,1.4,3,3.1c0,1.7-1.3,3-2.9,3.1
                    C281,19.4,280.9,19.4,280.8,19.4 M280.8,14c-1.2,0-2.2,1-2.2,2.2c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.9,2.3,2.1,2.4s2.3-0.9,2.4-2.1
                    c0-0.1,0-0.2,0-0.3c0.1-1.2-0.8-2.3-2.1-2.4C280.9,14,280.9,14,280.8,14"/>
                <path d="M288.1,19.4c-1.6,0-3-1.2-3-2.9c0-0.1,0-0.1,0-0.2c-0.1-1.6,1.2-3,2.8-3.1c0.1,0,0.1,0,0.2,0
                    c0.9,0,1.7,0.4,2.2,1.2h0V9.8h0.9v9.5h-0.9v-1h0C289.8,19,289,19.4,288.1,19.4 M288.2,18.7c1.2,0,2.2-1,2.3-2.2c0,0,0-0.1,0-0.1
                    c0.1-1.2-0.9-2.3-2.1-2.4c0,0-0.1,0-0.1,0c-1.2,0-2.2,0.9-2.2,2.1c0,0.1,0,0.1,0,0.2c-0.1,1.2,0.8,2.2,2,2.3
                    C288.1,18.7,288.1,18.7,288.2,18.7"/>
                <polygon points="295.9,12.8 295.5,12.8 295.5,9.7 294.4,9.7 294.4,9.4 297,9.4 297,9.7 295.9,9.7"/>
                <polygon points="299.1,12.3 299.1,12.3 300.2,9.4 300.8,9.4 300.8,12.8 300.4,12.8 300.4,9.9 300.4,9.9 299.2,12.8
                    299,12.8 297.8,9.9 297.8,9.9 297.8,12.8 297.4,12.8 297.4,9.4 297.9,9.4"/>
            </svg>
        </div>
        {% for nav in footer_navs %}
            <div class="footer__nav-group
                {% if nav.name == "Info For" %}footer__nav-group__info{% endif %}"
            >
                <div class="footer__nav-top-level">
                    <a class="footer__nav__title" href="{{ nav.url }}">{{ nav.name }}</a>
                    <span class="footer__nav__rule"></span>
                </div>
                {% if nav.children %}
                    <ul class="footer__nav">
                        {% for child in nav.children %}
                            <li class="footer__nav__item">
                                <a class="footer__nav__link" href="{{ child.url }}">{{ child.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endfor %}
        {% if external_nav %}
            <ul class="footer__externals">
                {% for item in external_nav %}
                    <li class="footer__externals__item">
                        <a class="footer__externals__link" href="{{ item.url }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
        <ul class="footer__social">
            <li class="footer__social__item">
                <a class="footer__social__cta" href="/">
                    <svg class="footer__social__svg" viewBox="0 0 30 30">
                      <path d="M17.5,9.7H19V7h-2.4c-2.9,0-3.9,1.3-3.9,3.6v1.6H11V15h1.8v8h3.5v-8h2.4l0.3-2.8h-2.7v-1.4C16.3,10.1,16.4,9.7,17.5,9.7z"/>
                    </svg>
                </a>
            </li>
            <li class="footer__social__item">
                <a class="footer__social__cta" href="/">
                    <svg class="footer__social__svg" viewBox="0 0 30 30">
                        <path d="M8.7,20.4c-0.3,0-0.6,0-0.9,0.1c0.6,0.4,1.3,0.7,2,0.9c2.3,0.7,4.8,0.4,6.9-0.8c1.5-1,2.8-2.4,3.5-4.1
                        c0.4-1,0.6-2.1,0.7-3.2c0-0.5,0-0.6,0.6-1.1c0.3-0.3,0.5-0.5,0.7-0.8c0.1-0.2,0.1-0.2-0.4,0c-0.9,0.3-1,0.3-0.6-0.2
                        c0.3-0.3,0.6-0.7,0.7-1.1c0,0-0.1,0-0.3,0.1c-0.3,0.1-0.6,0.3-0.9,0.4l-0.6,0.2l-0.5-0.4c-0.3-0.2-0.6-0.4-0.9-0.5
                        c-0.4,0.1-1,0.1-1.6,0.2c-1.3,0.4-2.1,1.7-2,3v0.5l-0.5-0.1c-1.9-0.2-3.7-1.1-5-2.5l-0.7-0.7L8.7,11c-0.4,1.1-0.1,2.3,0.6,3.1
                        c0.4,0.4,0.3,0.5-0.4,0.2c-0.2-0.1-0.3-0.1-0.5-0.1c0,0.5,0.2,1,0.4,1.4c0.3,0.6,0.8,1.1,1.4,1.4l0.5,0.2h-0.6c-0.6,0-0.6,0-0.6,0.2
                        c0.4,0.8,1.1,1.5,2,1.7l0.6,0.2l-0.6,0.3C10.6,20.1,9.7,20.4,8.7,20.4z"/>
                    </svg>
                </a>
            </li>
            <li class="footer__social__item">
                <a class="footer__social__cta" href="/">
                    <svg class="footer__social__svg" viewBox="0 0 30 30">
                        <path d="M22.5,11.5c-0.1-0.9-0.8-1.6-1.6-1.8c0,0-2.7-0.2-5.8-0.2S9.1,9.7,9.1,9.7h0c-0.7,0-1.6,1.1-1.6,1.8
                        c-0.1,1.1-0.2,2.2-0.2,3.3c0,1.1,0.1,2.2,0.2,3.2c0,1.1,0.8,2,1.8,2.2c0,0,2.9,0.2,5.8,0.2s5.7-0.2,5.7-0.2c0.9-0.2,1.6-0.9,1.7-1.9
                        c0.2-1.3,0.3-2.5,0.2-3.8C22.7,12.8,22.5,11.5,22.5,11.5z M13.7,17.1v-4.3l3.9,2.1L13.7,17.1z"/>
                    </svg>
                </a>
            </li>
            <li class="footer__social__item">
                <a class="footer__social__cta" href="/">
                    <svg class="footer__social__svg" viewBox="0 0 30 30">
                       <path d="M11.5,14.8v2.1h3.6c-0.3,1.1-1,1.9-2,2.3C11,20,8.7,19.1,7.9,17c0-0.1,0-0.1-0.1-0.2c-0.7-2,0.4-4.3,2.4-4.9
                        c0,0,0.1,0,0.1,0c1.3-0.3,2.6-0.1,3.7,0.7c0.6-0.5,1.1-1,1.6-1.6c-1.2-1.1-2.9-1.6-4.5-1.5c-3.3,0.1-6,2.8-5.9,6.2h0
                        c0,3.4,2.8,6.2,6.3,6.2c1.8,0,3.5-0.8,4.6-2.1c1-1.4,1.5-3.2,1.3-4.9H11.5z M23.1,14.8V13h-1.8v1.8h-1.8v1.8h1.8v1.8h1.8v-1.8h1.8
                        v-1.7H23.1z"/>
                    </svg>
                </a>
            </li>
            <li class="footer__social__item">
                <a class="footer__social__cta" href="/">
                    <svg class="footer__social__svg" viewBox="0 0 30 30">
                        <path d="M15.4,11.2c-2.3,0-4.2,1.9-4.2,4.2c0,2.3,1.9,4.2,4.2,4.2c2.3,0,4.2-1.9,4.2-4.2C19.6,13.1,17.7,11.2,15.4,11.2z
                             M15.4,18.2c-1.6,0-2.8-1.3-2.8-2.8c0-1.6,1.3-2.8,2.8-2.8s2.8,1.2,2.8,2.8C18.2,17,16.9,18.2,15.4,18.2z"/>
                        <path d="M19.2,7h-7.7C9,7,7,9,7,11.5v7.7c0,2.6,2,4.6,4.5,4.6h7.7c2.6,0,4.6-2.1,4.6-4.6v-7.7C23.7,9,21.7,7,19.2,7z M22.4,19.2
                            c0,1.8-1.5,3.2-3.2,3.2h-7.7c-1.7-0.1-3.1-1.5-3.1-3.2v-7.7c0-1.7,1.4-3.1,3.1-3.1h7.7c1.8,0,3.2,1.4,3.2,3.1V19.2z"/>
                        <circle cx="19.8" cy="11" r="1"/>
                    </svg>
                </a>
            </li>
        </ul>
    </div>
</footer>
