<?php

require_once '../vendor/autoload.php';

(new Dotenv\Dotenv('..'))->load();

$debug = getenv('APP_ENV') === 'local';
$loader = new Twig_Loader_Filesystem('../src/twig');
$twig = new Twig_Environment($loader, [
    'debug' => $debug,
    'cache' => '../cache/twig',
]);

if ($debug) {
    $twig->addExtension(new Twig_Extension_Debug());
}

$dataDir = __DIR__.'/../src/json';

$options = [
    'header' => json_decode(file_get_contents($dataDir.'/header.json'), true),
    'footer' => json_decode(file_get_contents($dataDir.'/footer.json'), true),
];

if ($debug) {
    $options['css'] = [];
    $options['js'] = ['http://localhost:8080/js/app.js'];
} else {
    $options['css'] = [<% for (var css in htmlWebpackPlugin.files.css) { %>
        '<%= htmlWebpackPlugin.files.css[css] %>',
    <% } %>];
    $options['js'] = [<% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        '<%= htmlWebpackPlugin.files.chunks[chunk].entry %>',
    <% } %>
    ];
}

$path = trim($_SERVER['REQUEST_URI'], '/');
$candidates = array_map(
    function ($candidate) {
        return trim($candidate, '/');
    },
    [
        $path.'',
        $path.'/index',
    ]
);

//

foreach ($candidates as $candidate) {
    $data = $dataDir.'/'.$candidate.'.json';

    if (is_file($data)) {
        $options = array_merge(
            $options,
            json_decode(file_get_contents($data), true)
        );
    }
}

foreach ($candidates as $candidate) {
    $page = 'pages/'.$candidate.'.twig';


    if ($loader->exists($page)) {
        echo $twig->render($page, $options);

        break;
    }
}
